body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://baike.bdimg.com/static/common/css/view.css?@=10g6o2p ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0pt; padding: 0pt; }
body, button, input, select, textarea { font: 12px/1.5 arial,宋体,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ul, ol { list-style: none outside none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
fieldset, img { border: 0pt none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0pt; }
img {  }
#page, #header, #content, #footer { margin-left: auto; margin-right: auto; }
.w1000 { width: 1000px; }
.col-main { float: left; width: 100%; min-height: 1px; }
.col-sub, .col-extra { float: left; }
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after { content: " "; display: block; height: 0pt; clear: both; }
.layout, .main-wrap, .col-sub, .col-extra {  }
.grid-m0s245 .main-wrap { margin-right: 255px; }
.grid-m0s245 .col-sub { width: 245px; margin-left: -245px; }
.w1000 { width: 1000px; }
.clearfix:after { content: " "; display: block; height: 0pt; clear: both; }
.clearfix {  }
.clear { clear: both; font-size: 0pt; line-height: 0; height: 0pt; visibility: visible; }
.slide { width: 0pt; height: 0pt; overflow: hidden; font-size: 0pt; line-height: 0; border-width: 8px; }
.s-right { border-color: transparent transparent transparent rgb(204, 204, 204); border-style: dashed dashed dashed solid; }
#usrbar { position: absolute; top: 8px; right: 10px; text-align: right; font-size: 12px; z-index: 10000; }
img {  }
.usertitle { width: 60px; height: 16px; background: url('titles.gif') no-repeat scroll 0% 0% transparent; border: 0pt none; }
.level2 { background-position: 0pt -23px; }
.level3 { background-position: 0pt -46px; }
a { color: rgb(19, 110, 194); text-decoration: underline; }
a:hover { text-decoration: underline; }
a:visited { color: rgb(19, 110, 194); }
#header { margin-top: 26px; }
#search { width: 780px; margin-bottom: 16px; }
#search a { color: rgb(0, 0, 204); text-decoration: underline; }
#logo { width: 146px; padding: 3px 0pt 0pt; position: relative; }
#logo img { display: block; }
#logo, #search-content, #help { float: left; }
#word { width: 358px; padding: 3px 1px; font: 16px arial; margin: 0pt 7px 0pt 0pt; }
.search-btn { width: 78px; height: 28px; line-height: 24px; margin: 0pt 7px 0pt 0pt; font-size: 14px; }
.nv { margin: 0pt 0pt 3px; }
.nv a { font-size: 14px; margin-right: 13px; }
.nv strong { font-size: 14px; margin-right: 10px; }
#help { margin-top: 27px; }
#help a { margin-right: 7px; }
.album-view { line-height: 12px; text-align: center; }
.album-view .title, .modify .album-view .title { font-size: 12px; line-height: 16px; margin: 0pt; color: rgb(0, 0, 0); font-weight: normal; text-align: center; }
.album-view .count, .modity .album-view .count { font-size: 11px; color: rgb(153, 153, 153); white-space: nowrap; }
.clear { clear: both; }
#header { margin-top: 26px; }
#footer, #footer a:link, #footer a:visited { clear: both; margin-top: 10px; text-align: center; color: rgb(119, 119, 204); font: 12px/1 Arial; white-space: nowrap; margin-bottom: 15px; }
/* ::::: http://baike.bdimg.com/static/lemma/css/view.css?@=xb5vy6 ::::: */

body {  }
.fix {  }
.fix:after { content: "clear"; clear: both; height: 0pt; overflow: hidden; display: block; }
#view #wrap { width: 1000px; margin: 0pt auto; }
#view #page { background: url('nav-bg.gif') repeat-x scroll 0pt -34px rgb(250, 250, 250); }
#view #content { margin-top: 14px; }
#view #side { margin-top: 34px; background-color: rgb(250, 250, 250); }
.col-sub a { text-decoration: none; }
a:focus { outline: medium none; }
#path { width: 100%; background: url('nav-bg.gif') repeat-x scroll 0% 0% transparent; white-space: nowrap; }
#path ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
#path ul li { float: left; padding: 0pt 18px 0pt 12px; font-weight: bold; font-size: 14px; line-height: 34px; height: 34px; }
#path ul li a { color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; }
#path ul li a:hover { text-decoration: underline; }
.mod-top { margin-bottom: 30px; }
#content .main-shadow { background: url('c-bg.png') repeat scroll 0% 0% transparent; padding-bottom: 3px; }
#content .content-hd { height: 9px; background: url('hd-bg.gif') no-repeat scroll right top rgb(255, 255, 255); border-left: 1px solid rgb(221, 221, 221); }
#content .content-hd-wrap { border-top: 1px solid rgb(221, 221, 221); margin-right: 6px; }
#content .content-bd, #content .content-ft { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 4px 3px 0pt 0pt; padding: 16px 30px 10px 20px; border: 1px solid rgb(221, 221, 221); clear: both; }
#content .main-body { border-top: medium none; margin-top: 0pt; }
#content .content-ft { font-size: 12px; }
#view #footer { margin: 0pt; background: none repeat scroll 0% 0% rgb(250, 250, 250); padding: 10px 0pt 20px; }
.bk-feedback { background: url('feedback.gif') no-repeat scroll 10px 9px transparent; border: 1px dashed rgb(221, 221, 221); height: 30px; line-height: 30px; padding-left: 40px; margin-bottom: 10px; color: rgb(51, 51, 51); }
.bk-feedback a { text-decoration: none; }
.article { font-size: 14px; word-wrap: break-word; }
h1.title { font-family: "微软雅黑","黑体","Verdana"; font-size: 30px; line-height: 40px; margin-bottom: 25px; margin-top: 0pt; font-weight: 500; overflow: hidden; }
.editable-lemma { display: inline-block; background: url('edit_btn.gif') no-repeat scroll 0% 0% transparent; width: 107px; height: 34px; cursor: pointer; vertical-align: middle; }
.bk-editable-lemma-btns { height: 34px; line-height: 34px; float: right; }
.dividable-lemma { vertical-align: middle; background: url('sprite.gif') no-repeat scroll -78px -202px transparent; font-weight: bold; padding-left: 25px; text-decoration: none; width: 74px; color: rgb(1, 99, 175); }
.text_edit { font-size: 12px; float: right; display: block; margin: 10px 0pt 0pt; color: rgb(51, 102, 204); font-weight: normal; }
#sidecatalog { position: absolute; }
.card-title { margin: 10px 0pt; padding: 4px 0pt; font-size: 14px; border-bottom: 2px solid rgb(204, 204, 204); line-height: 1; }
.card-summary { background-color: rgb(255, 255, 255); line-height: 1.8; font-size: 14px; margin-bottom: 25px; }
.card-summary-content { display: table; }
.lemma-main-content { letter-spacing: 0.5px; width: 690px; overflow: hidden; float: left; }
.lemma-main-content .headline-2 { font-size: 16px; font-family: Arial; line-height: 22px; margin: 15px 0pt 5px; clear: both; }
.reinforce { font-size: 12px; }
.lemma-ext-bottom a, .reinforce a { text-decoration: underline; }
.lemma-ext-bottom a:hover, .reinforce a:hover { text-decoration: underline; }
#more-coeditor { text-decoration: none; }
.reinforce dl { margin-bottom: 30px; }
.lemma-ext-bottom dt, .reinforce dt { border-bottom: 1px dashed rgb(204, 204, 204); font-weight: bold; line-height: 1; padding: 2px 0pt 5px; margin-bottom: 10px; font-size: 14px; }
.lemma-ext-bottom dt { border: medium none; }
.reinforce dd { color: rgb(51, 51, 51); word-wrap: break-word; }
.ref_more { line-height: 16px; padding: 3px 10px 0pt 0pt; margin: 0pt; text-decoration: none; background: url('arr.gif') no-repeat scroll 28px -17px transparent; float: right; white-space: nowrap; }
.reference ul { padding: 0pt; margin: 0pt; }
.reference ul li { width: 100%; margin-top: 12px; font-size: 12px; }
.ref-bd { margin-left: 26px; }
.ref-index { float: left; }
.ref-index .r-index { float: left; font-size: 10px; font-weight: bold; height: 16px; line-height: 16px; text-align: right; padding-left: 4px; background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(153, 153, 153); }
.ref-index .slide { float: left; }
.ref-index .s-right { border-color: transparent transparent transparent rgb(238, 238, 238); }
.box2 { margin-bottom: 15px; margin-right: 10px; }
.box2 h2, .box2 h5 { font-size: 14px; line-height: 25px; border-bottom: 1px solid rgb(221, 221, 221); margin-bottom: 10px; }
.box2 h5 span, .box2 h2 span { font-size: 12px; font-weight: normal; line-height: 18px; float: right; margin: 5px 8px 0pt 0pt; }
#mabox .box2-inner { padding: 6px 6px 12px 12px; border: 1px solid rgb(204, 224, 238); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.f12, .f12 td, .f12 th, .f12 div { font-size: 12px; }
.share { border: 1px solid rgb(221, 221, 221); height: 42px; line-height: 42px; font-size: 12px; color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(250, 250, 250); margin-bottom: 30px; }
.share-item-title { border-right: 1px solid rgb(221, 221, 221); float: left; height: 38px; margin: 2px 0pt; text-align: center; width: 120px; }
.share-item { margin-left: 10px; float: left; }
.share-item span { float: left; }
.share-item a { text-decoration: none; float: left; width: 16px; height: 16px; margin: 14px 8px; }
.cang { background: url('bgs3.gif') no-repeat scroll 0pt 0pt transparent; padding-left: 16px; display: block; height: 16px; line-height: 16px; margin: 12px 0pt 0pt 20px; text-align: left; text-decoration: none; }
.itieBa { background: url('bgs4.gif') no-repeat scroll 0pt -61px transparent; }
.tsina { background: url('bgs4.gif') no-repeat scroll 0pt -126px transparent; }
.tdouban { background: url('bgs4.gif') no-repeat scroll 0pt -148px transparent; }
.tsohu { background: url('152.png') no-repeat scroll 0% 0% transparent; }
.try { color: rgb(51, 51, 51); padding: 0pt 0pt 5px; margin-bottom: 10px; clear: both; }
.text { line-height: 24px; }
.text .headline-1 { font-size: 18px; font-weight: bold; line-height: 24px; border-bottom: 1px solid rgb(222, 223, 225); padding-bottom: 6px; margin: 0pt 0pt 10px; clear: both; }
.text h2.first { clear: none; }
.text_vote1, .text_vote2 { width: 146px; height: 46px; padding-top: 7px; font-size: 12px; color: rgb(153, 153, 153); text-align: center; background: url('vote.gif') no-repeat scroll 0% 0% transparent; cursor: pointer; }
.text_vote1 b, .text_vote2 b { display: block; height: 20px; color: rgb(68, 167, 1); font-size: 14px; font-family: "Tahoma"; text-align: left; padding: 2px 0pt 0pt 65px; }
.spctrl { height: 14px; line-height: 14px; font-size: 12px; overflow: hidden; }
.bpctrl { height: 30px; line-height: 30px; overflow: hidden; }
.end { position: relative; z-index: 0; margin: 10px 0pt 30px; clear: both; }
.declare { font-size: 12px; color: rgb(51, 51, 51); float: right; width: 518px; margin: 5px 0pt; line-height: 1.6em; }
#relatedLemmaDown .relative { z-index: 1; }
#co-editors { color: rgb(0, 0, 0); }
div.onelineonly { height: 20px; overflow: hidden; float: left; width: 600px; position: relative; }
div.onelineonly a { white-space: nowrap; font-size: 14px; }
.info { line-height: 22px; color: rgb(102, 102, 102); }
.topuser { line-height: 24px; color: rgb(102, 102, 102); }
.topuser td { padding-top: 2px; }
.topuser .usertitle { margin-top: -1px; }
.topuser th { text-align: left; }
.topuser strong { color: black; }
.topuser td a { color: rgb(0, 0, 0); }
.topuser th a:link, .topuser th a:visited, .topuser th a:hover, .topuser th a:active { text-decoration: none; }
.topuser tr {  }
.topuser .contri-type { line-height: 25px; }
#pro-contributors .usercard-info { color: rgb(242, 114, 0); line-height: 20px; }
.task { color: rgb(51, 51, 51); margin-bottom: 15px; }
.notice { color: rgb(51, 51, 51); }
.relative { position: relative; }
.myedit { margin: 0pt; padding-left: 15px; background: url('bgs3.gif') no-repeat scroll 0pt -80px transparent; }
.text_dir { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(222, 223, 225); margin: 0pt 0pt 30px; padding: 0pt; position: relative; z-index: 1; float: left; clear: both; }
.text_dir p { font-weight: bold; line-height: 30px; border-bottom: 1px dashed rgb(221, 221, 221); padding-left: 10px; margin: 0pt 4px 10px; }
.text_dir dl { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0pt 20px 0pt 15px; }
.text_dir dd { background: url('list-dot.gif') no-repeat scroll 0pt 8px transparent; padding-left: 16px; line-height: 22px; position: relative; }
.text_dir ol { width: 100%; padding: 0pt; margin: 0pt; text-indent: 14px; list-style: none outside none; display: none; }
.text_dir .holder1 { padding-bottom: 10px; }
.text_dir .holder2 { position: absolute; left: -1px; top: 41px; border-right: 1px solid rgb(222, 223, 225); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(222, 223, 225) rgb(222, 223, 225); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; display: none; padding-bottom: 20px; }
.text_dir ol li, .text_dir .data li li { background: url('bgs3.gif') no-repeat scroll 2px -327px transparent; padding: 0pt; }
.text_dir a { white-space: nowrap; }
#userInfoDiv { display: none; }
#kedoutuanPic, #masterPic, #corePic { display: none; }
#userMessage {  }
.userin-split { overflow: hidden; height: 0pt; border-bottom: 1px solid rgb(255, 255, 255); border-top: 1px solid rgb(160, 204, 224); }
#userTitleLink { font-weight: bold; vertical-align: 1px; }
.userinfo-pic { float: left; width: 68px; height: 68px; border: 1px solid rgb(225, 225, 226); margin-right: 6px; }
#userDetail { float: left; width: 160px; overflow: hidden; white-space: nowrap; line-height: 1.4em; padding-top: 4px; }
#userDetail p { margin: 6px 0pt; }
#userTitle img { margin-right: 5px; }
#highVersionLink, #goodVersionLink { margin: 0pt 3px; background: url('userinfo_bg2011.gif') no-repeat scroll 0% 0% transparent; width: 12px; height: 17px; display: inline-block; vertical-align: middle; }
#highVersionLink { background-position: 0pt -72px; }
#goodVersionLink { background-position: -32px -72px; }
#highVersionNum, #goodVersionNum { vertical-align: -3px; }
#userProcessBack { margin-top: 5px; width: 159px; height: 13px; background: url('userinfo_bg2011.gif') no-repeat scroll 0pt -94px transparent; font-size: 0pt; line-height: 0; }
#userProcess { background: url('userinfo_bg2011.gif') no-repeat scroll 0pt -108px transparent; height: 12px; width: 3px; line-height: 0; font-size: 0pt; }
.userinfo-inner { padding: 8px 6px 0pt 12px; }
.userinfo-side { position: relative; margin: -11px 0pt 10px -13px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(233, 243, 246); }
.userinfo-side .fl { float: left; }
.userinfo-side .dnone { position: absolute; top: -9999em; }
.userinfo-side a { color: rgb(51, 102, 204); }
.userinfo-side a:hover { text-decoration: none; }
.userinfo-side .piece { border-bottom: 1px dotted rgb(184, 214, 230); padding-top: 10px; }
.userinfo-side .mr8 { margin-right: 8px; }
.userinfo-side .mb10 { margin-bottom: 10px; }
.userinfo-side h3 { height: 18px; line-height: 18px; margin-bottom: 4px; }
.userinfo-side h3 .title { font-size: 14px; float: left; }
.userinfo-side h3 a { vertical-align: middle; }
.userinfo-side .icon-hotword, .userinfo-side .icon-lemma, .userinfo-side .icon-common-task, .userinfo-side .goto, .userinfo-side .icon-growup-task, .userinfo-side .icon-wealth { width: 16px; height: 16px; background: url('userinfo_bg2011.gif') no-repeat scroll 0% 0% transparent; }
.userinfo-side .icon-growup-task { float: left; background-position: -33px -122px; }
.userinfo-side .icon-hotword { float: left; background-position: 0pt -122px; }
.userinfo-side .icon-lemma { float: left; background-position: -17px -122px; }
.userinfo-side .icon-common-task { float: left; background-position: -130px -122px; }
.hot-word-refresh { background: url('userinfo_bg2011.gif') no-repeat scroll 0pt -39px transparent; width: 18px; height: 19px; float: right; }
.hot-word-refresh:hover { background-position: -23px -39px; }
.userinfo-side .gotouc-wrap { text-align: center; padding: 15px 0pt; }
.userinfo-side .gotouc { background: url('userinfo_bg2011.gif') no-repeat scroll 0pt 0pt transparent; display: block; width: 127px; line-height: 30px; font-size: 14px; margin: 0pt auto; text-indent: 20px; }
.tipMain { border: 1px solid rgb(255, 212, 173); background-color: rgb(255, 247, 240); line-height: 20px; color: rgb(83, 83, 83); padding: 0pt 10px; }
.tip { display: none; position: absolute; }
.reason-tip { left: 100px; white-space: nowrap; }
#userTip { left: 30px; top: 81px; width: 216px; height: 78px; }
#userTipArrow { position: absolute; width: 16px; height: 7px; top: 0pt; z-index: 99; left: 94px; background: url('userinfo_bg.gif') no-repeat scroll -59px -42px transparent; }
#userTipMain { position: absolute; top: 6px; width: 216px; height: 78px; }
#userTipMain p { margin: 8px; font-size: 12px; }
#hotHelpTip { left: 115px; top: 30px; width: 166px; line-height: 15px; }
#completeTip { left: 40px; }
#completeTipMain { min-width: 200px; }
#sidecatalog { height: 120px; z-index: 1; }
#sidecatalog a.gotop { width: 28px; height: 22px; display: block; background: url('sidebar2.gif') no-repeat scroll 1px -104px transparent; }
#sidecatalog .sidebar { height: 104px; width: 28px; background: url('sidebar2.gif') no-repeat scroll 1px 0pt transparent; cursor: pointer; }
#side-catalog-content { width: 250px; border: 1px solid rgb(163, 208, 228); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a.try-edit { background: url('edit.gif') no-repeat scroll 0pt 50% transparent; font-weight: bold; margin-left: 8px; padding-left: 16px; }
.contri-a { color: rgb(102, 102, 102) ! important; text-decoration: underline ! important; }
.album-div { position: relative; }
.album-border1 { position: absolute; top: 11px; left: 5px; border: 1px solid rgb(183, 183, 183); background-color: rgb(255, 255, 255); }
.album-border2 { position: absolute; top: 8px; left: 8px; border: 1px solid rgb(183, 183, 183); background-color: rgb(255, 255, 255); }
.album-cover { position: absolute; top: 5px; left: 11px; border-right: 2px solid rgb(0, 0, 0); border-width: 3px 2px 2px; border-style: solid; border-color: rgb(0, 0, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
.album-overlay { display: block; text-decoration: none; position: absolute; left: 0pt; }
.album-overlay:hover { text-decoration: none; }
.album-logo { position: absolute; top: 3px; left: 3px; width: 57px; height: 57px; background: url('album_logo.png') no-repeat scroll 0% 0% transparent; }
/* ::::: http://baike.bdimg.com/static/usercenter/css/release/bk.uc_lemma.css ::::: */

.throwbtl-link-view { padding-left: 10px; background: url('btl-info-icon.png') no-repeat scroll left -20px transparent; margin-left: 5px; float: right; font-weight: normal; font-size: 12px; }
.lemma-top-link { float: none; vertical-align: middle; font-weight: normal; font-size: 12px; height: 16px; line-height: 11px; width: auto; margin-top: 11px; margin-right: 8px; text-decoration: underline; }
.dividable-lemma { padding-left: 17px; background: url('dividable-lemma.png') no-repeat scroll 0% 0% transparent; }
/* ::::: http://baike.baidu.com/guanxi/static/css/lemma_insert.css ::::: */

#path ul.nav li, ul.nav li { position: relative; }
.nav { overflow: visible; }
div.nav-channel-hot { background: url('hot.png') no-repeat scroll 0pt 0pt transparent; height: 15px; position: absolute; width: 24px; top: -7px; right: 7px; }
.bk-album-collection-box { width: 687px; height: 228px; border-right: 1px solid rgb(198, 225, 245); border-width: 2px 1px 1px; border-style: solid; border-color: rgb(38, 139, 215) rgb(198, 225, 245) rgb(198, 225, 245); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; margin-bottom: 30px; overflow: hidden; }
.bacb-head { height: 28px; background-color: rgb(245, 251, 255); padding-left: 10px; position: relative; }
.bacb-title { font-size: 14px; font-weight: bold; line-height: 28px; }
.bacb-more { text-decoration: none; position: absolute; font-size: 12px; line-height: 1; top: 8px; right: 8px; padding-right: 11px; background: url('arr.gif') no-repeat scroll 54px -22px transparent; }
.bacb-more:hover { text-decoration: none; }
.bacb-left-btn, .bacb-window-outer, .bacb-right-btn { float: left; }
.bacb-left-btn, .bacb-right-btn { display: block; text-decoration: none; border: 1px solid rgb(255, 255, 255); width: 17px; height: 53px; background: url('bkalbumbtn.gif') no-repeat scroll 0% 0% transparent; cursor: default; }
.bacb-left-btn { margin: 59px 3px 0pt 6px; background-position: 3px 16px; }
.bacb-right-btn { margin: 59px 5px 0pt 6px; background-position: -27px 16px; }
.bacb-window-outer { width: 628px; height: 185px; position: relative; overflow: hidden; margin-top: 15px; }
.bacb-window-inner { position: absolute; top: 0pt; left: 0pt; padding-left: 6px; }
