body { font-size: 14px; line-height: 22px; background: url('background.png') repeat scroll 0% 0% rgb(244, 244, 244); color: rgb(0, 0, 0); font-family: Helvetica Neue,Helvetica,Arial; }
.interface { font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif ! important; }
div#sidebar { background: none repeat scroll 0% 0% rgb(255, 255, 255); position: fixed; top: 0px; left: 0px; bottom: 0px; width: 200px; overflow-y: auto; overflow-x: hidden; padding: 15px 0px 30px 30px; border-right: 1px solid rgb(187, 187, 187); box-shadow: 0px 0px 20px rgb(204, 204, 204); }
a.toc_title, a.toc_title:visited { display: block; color: black; font-weight: bold; margin-top: 15px; }
a.toc_title:hover { text-decoration: underline; }
#sidebar .version { font-size: 10px; font-weight: normal; }
ul.toc_section { font-size: 11px; line-height: 14px; margin: 5px 0px 0px; padding-left: 0px; list-style-type: none; font-family: Lucida Grande; }
.toc_section li { cursor: pointer; margin: 0px 0px 3px; }
.toc_section li a { text-decoration: none; color: black; }
.toc_section li a:hover { text-decoration: underline; }
div.container { width: 550px; margin: 40px 0px 50px 260px; }
img#logo { width: 396px; height: 69px; }
p { margin: 20px 0px; width: 550px; }
a, a:visited { color: rgb(68, 68, 68); }
a:active, a:hover { color: rgb(0, 0, 0); }
h1, h2, h3, h4, h5, h6 { padding-top: 20px; }
h2 { font-size: 20px; }
b.header { font-size: 16px; line-height: 30px; }
span.alias { font-size: 14px; font-style: italic; margin-left: 20px; }
table, tr, td { margin: 0px; padding: 0px; }
td { padding: 2px 12px 2px 0px; }
table .rule { height: 1px; background: none repeat scroll 0% 0% rgb(204, 204, 204); margin: 5px 0px; }
ul { list-style-type: circle; padding: 0px 0px 0px 20px; }
li { margin-bottom: 10px; }
code, pre, tt { font-family: Monaco,Consolas,"Lucida Console",monospace; font-size: 12px; line-height: 18px; font-style: normal; }
tt { padding: 0px 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
code { margin-left: 20px; }
pre { font-size: 12px; padding: 2px 0px 2px 15px; border-left: 5px solid rgb(187, 187, 187); margin: 0px 0px 30px; }
@media not all, not all, not all {
	img { max-width: 100%; }
	div#sidebar { position: relative; width: 90%; height: 120px; left: 0px; top: -7px; padding: 10px 0px 10px 30px; border: 0px none; }
	img#logo { width: auto; height: auto; }
	div.container { margin: 0px; width: 100%; }
	p, div.container ul { max-width: 98%; overflow-x: scroll; }
	pre { overflow: scroll; }
}
