body { text-align: left; margin: 0pt 25px; padding: 0pt; font-family: simsun; font-size: 12px; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); min-width: 480px; }
.table_reply { margin: 3px 3px 0pt 0px; width: 100%; }
dfn, cite, ins, kbd, samp, var { font-style: normal; text-decoration: none; }
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul { padding: 0pt; margin: 0pt; }
a, em, font, img, input, ins, label, select, span, strong, var { vertical-align: middle; }
