body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://c.csdn.net/bbs/t/5/t5.css ::::: */

body { text-align: center; margin: 0pt auto; font: 12px simsun; }
img { border: 0px none; }
input, button, textarea { font: 12px simsun; color: rgb(102, 102, 102); }
select { color: Black; }
.clear { clear: both; }
a { color: rgb(0, 45, 147); text-decoration: none; }
a:hover { color: rgb(187, 0, 0); text-decoration: underline; }
#bbscsdn_wrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 960px; margin: 0pt auto; }
.tad, .nav, .loc, .fm, .tit, .mframe, .sq, .comt, .pub_footer, .gbtxtad { float: left; width: 960px; margin: 2px 0pt; text-align: left; }
.tad ul, .nav ul, .fm ul, .mframe ul, .comt ul, .mframe2 ul { margin: 0pt; padding: 0pt; list-style-type: none; }
.nav { padding: 0pt; width: 960px; }
.nav img.logo { height: 54px; margin: 0pt 0pt 0pt 10px; width: 146px; }
.nav .searchpanel, .nav .user { width: 742px; text-align: right; float: right; margin-top: 20px; }
.nav input { vertical-align: middle; }
.nav input[type="text"] { height: 18px; }
.loc { width: 948px; border: 1px solid rgb(169, 203, 238); padding: 5px; }
.loc p { margin: 0pt; padding: 0pt; line-height: 35px; }
.loc p a { padding: 0pt 5px; color: rgb(51, 51, 51); }
.fm { width: 948px; border: 1px solid rgb(169, 203, 238); padding: 5px; background: none repeat scroll 0% 0% rgb(250, 250, 251); }
.fm ul.menu { float: left; width: 500px; }
.fm ul.menu li { float: left; background: url('bbspage_addpic1.gif') repeat-x scroll 0% 0% transparent; margin: 0pt 4px 0pt 0pt; }
.fm ul.menu li a, .fm ul.menu li :visited { color: rgb(51, 51, 51); padding: 0pt 0pt 0pt 5px; border: 1px solid rgb(12, 97, 176); display: block; width: 80px; height: 22px; line-height: 22px; text-decoration: none; text-align: center; }
html > body .fm ul.menu li a, .fm ul.menu li :visited { line-height: 23px; }
.fm ul.menu li :hover { background: none repeat scroll 0% 0% rgb(229, 236, 243); z-index: 110; }
.fm ul.menu ul { visibility: hidden; position: absolute; width: 85px; margin: 0pt; border-top: 0pt none; }
.fm ul.menu ul li { border-bottom: 1px solid rgb(189, 217, 232); background: none repeat scroll 0% 0% rgb(229, 236, 243); color: rgb(255, 255, 255); }
.fm ul.menu ul li a, .fm ul.menu ul li :visited { border: 0pt none; color: rgb(0, 0, 0); }
.fm ul.menu ul li a { color: rgb(0, 0, 0); font-weight: normal; }
.fm ul.menu ul li :hover { background: none repeat scroll 0% 0% rgb(229, 236, 243); }
.fm ul.menu li:hover ul, .fm ul.menu a:hover ul { visibility: visible; color: rgb(255, 255, 255); }
.fm ul.menu li a.bt1 { background: url('bbspage_addpic2.gif') no-repeat scroll 0pt -2px transparent; }
.fm ul.menu li a.bt2 { background: url('pic_04.gif') no-repeat scroll 3px 4px transparent; color: rgb(187, 0, 0); }
.fm ul.menu li a.bt3 { background: url('pic_01.gif') no-repeat scroll 3px 4px transparent; }
.fm ul.menu li a.bt4 { background: url('pic_08.gif') no-repeat scroll 3px 3px transparent; color: rgb(187, 0, 0); }
.tit { border: 1px solid rgb(44, 97, 137); background: url('pic_titbg02.gif') repeat-x scroll 0% 0% rgb(52, 126, 161); width: 948px; padding: 3px 5px; }
.tit h1 { font-size: 14px; color: rgb(255, 255, 255); margin: 0pt; padding: 3px 0pt 0pt; }
.tit h1 em { font: bold 14px simsun; color: rgb(255, 0, 0); margin: 0pt 0pt 0pt 3px; }
.tit h1 cite { float: right; }
.tit dfn a, .tit dfn a:visited { margin: -3px 0pt 0pt 5px; text-indent: -1000em; font-style: normal; font-size: 12px; float: right; display: block; background: url('bbsbtn_fav.gif') no-repeat scroll 0% 0% transparent; width: 52px; height: 22px; }
.mframe { float: left; width: 960px; margin: 2px 0pt; text-align: left; }
.mframe ul { list-style-type: none; margin: 0pt; padding: 0pt; }
.mframe { border: 1px solid rgb(169, 203, 238); }
.mframe td.lf { width: 162px; background: none repeat scroll 0% 0% rgb(246, 249, 254); padding: 20px 10px 13px 15px; border-right: 1px solid rgb(169, 203, 238); vertical-align: top; }
.mframe td.lf div.df { width: 162px; }
.mframe td.lf ul li { padding: 4px 0pt; }
.mframe td.lf ul li.center { text-align: left; }
.mframe td.lf ul li.center img { border: 1px solid rgb(204, 204, 204); }
.mframe td.lf ul li dfn { font-weight: bold; font-style: normal; display: block; padding: 2px 0pt; text-align: left; }
.mframe td.lf ul li dfn a { color: rgb(51, 51, 51); }
.mframe td.rw { vertical-align: top; }
.mtxt { font-size: 14px; margin: 10px 0pt; padding: 10px 20px; line-height: 23px; width: 100%; }
.msgfont { width: 718px; overflow-x: hidden; }
.fbart { padding: 3px 6px; border-bottom: 1px solid rgb(169, 203, 238); height: 18px; line-height: 18px; }
.fbart em { font-weight: bold; font-style: normal; padding: 0pt 3px; float: right; }
.fbart dfn { font-style: normal; padding: 0pt 3px; float: right; }
.mframe td.rb { vertical-align: bottom; }
.fbarb { clear: both; border-top: 1px solid rgb(169, 203, 238); background: none repeat scroll 0% 0% rgb(246, 249, 254); height: 18px; padding: 3px 6px; line-height: 18px; }
.fbarb ul { float: right; }
.fbarb ul li { float: left; }
.fbarb ul li a { color: rgb(0, 0, 0); padding: 0pt 6px; text-decoration: none; border-right: 1px solid rgb(102, 102, 102); }
.fbarb ul li a.nob { border: 0pt none; }
.fbarb ul li a.dr { color: rgb(187, 0, 0); }
.fbarb ul li a.gr { color: rgb(0, 45, 147); }
.fbarb div.rt { width: 440px; overflow: hidden; white-space: nowrap; }
.comt { width: 960px; border: 1px solid rgb(169, 203, 238); float: left; padding: 10px 0pt 2px 10px; }
img.grade { background: url('rank.gif') no-repeat scroll 0% 0% transparent; }
img.user2 { width: 22px; height: 9px; }
.askfra td ul, dl, form { margin: 0pt; padding: 0pt; }
.prime, .lock { color: Red; }
ul .honor { display: none; }
.bbs_top_ad { clear: both; text-align: left; display: block; width: 940px; margin: 2px 0pt; padding: 2px 9px; border: 1px solid rgb(169, 203, 238); color: rgb(0, 0, 0); list-style: none outside none; font-size: 12px; line-height: 20px; }
.bbs_top_ad:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.bbs_top_ad * { margin: 0pt; padding: 0pt; list-style: none outside none; }
.bbs_top_ad h3 { width: 330px; max-width: 330px; height: 20px; overflow: hidden; white-space: nowrap; font-size: 14px; line-height: 20px; }
.bbs_top_ad h3:after { content: "..."; }
.bbs_top_ad .area_1 { float: left; width: 350px; overflow: hidden; margin: 0pt 10px 0pt 0pt; padding: 4px 0pt; }
.bbs_top_ad .area_2 { position: relative; float: left; width: 350px; overflow: hidden; margin: 0pt 20px 0pt 0pt; padding: 4px 0pt; }
.bbs_top_ad .area_2 #btn1 { position: absolute; right: 30px; bottom: 10px; width: 15px; height: 15px; border: medium none; background: none repeat scroll 0% 0% rgb(93, 93, 93); color: rgb(255, 255, 255); font-size: 12px; line-height: 15px; cursor: pointer; }
.bbs_top_ad .area_2 #btn2 { position: absolute; right: 10px; bottom: 10px; width: 15px; height: 15px; border: medium none; background: none repeat scroll 0% 0% rgb(93, 93, 93); color: rgb(255, 255, 255); font-size: 12px; line-height: 15px; cursor: pointer; }
.bbs_top_ad .area_3 { float: left; width: 210px; overflow: hidden; padding: 4px 0pt 0pt; }
.bbs_top_ad .area_3 dt {  }
