/* ::::: http://eslint.org/styles/main.936b04d2.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: none repeat scroll 0px 0px transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
hr { box-sizing: content-box; height: 0px; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
*, *:before, *:after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: source-sans-pro,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 17px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(58, 51, 209); text-decoration: none; }
a:hover, a:focus { color: rgb(39, 34, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 24px; margin-bottom: 24px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: source-sans-pro,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 400; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin-top: 24px; margin-bottom: 12px; }
h1, .h1 { font-size: 44px; }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 29px; }
p { margin: 0px 0px 12px; }
ul, ol { margin-top: 0px; margin-bottom: 12px; }
.list-inline { padding-left: 0px; list-style: none outside none; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }
.list-inline > li:first-child { padding-left: 0px; }
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
code { padding: 2px 4px; font-size: 90%; color: rgb(91, 91, 224); background-color: rgb(212, 212, 247); white-space: nowrap; border-radius: 4px; }
pre { display: block; padding: 11.5px; margin: 0px 0px 12px; font-size: 16px; line-height: 1.42857; word-break: break-all; word-wrap: break-word; color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
pre code { padding: 0px; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0px; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
.collapse { display: none; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
.nav { margin-bottom: 0px; padding-left: 0px; list-style: none outside none; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.navbar { position: relative; min-height: 76px; margin-bottom: 0px; border: 1px solid transparent; }
.navbar:before, .navbar:after { content: " "; display: table; }
.navbar:after { clear: both; }
.navbar:before, .navbar:after { content: " "; display: table; }
.navbar:after { clear: both; }
.navbar-header:before, .navbar-header:after { content: " "; display: table; }
.navbar-header:after { clear: both; }
.navbar-header:before, .navbar-header:after { content: " "; display: table; }
.navbar-header:after { clear: both; }
.navbar-collapse { max-height: 340px; overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-collapse:before, .navbar-collapse:after { content: " "; display: table; }
.navbar-collapse:after { clear: both; }
.navbar-collapse:before, .navbar-collapse:after { content: " "; display: table; }
.navbar-collapse:after { clear: both; }
.container > .navbar-header, .container > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
.navbar-brand { float: left; padding: 26px 15px; font-size: 22px; line-height: 24px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 21px; margin-bottom: 21px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
.navbar-nav { margin: 13px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 24px; }
.navbar-default { background-color: rgb(255, 255, 255); border-color: rgb(238, 238, 238); }
.navbar-default .navbar-brand { color: rgb(102, 102, 102); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(77, 77, 77); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(102, 102, 102); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(68, 68, 68); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(219, 217, 247); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(219, 217, 247); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(70, 63, 212); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(238, 238, 238); }
@media screen and (min-width: 768px) {
}
.navbar-default { border-bottom: 0px none; border-radius: 0px; }
.navbar-brand { float: left; padding: 26px 15px; letter-spacing: -0.05em; color: rgb(58, 51, 209); font-size: 36px; line-height: 24px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-brand span { color: rgb(85, 85, 85); }
.navbar-brand img { float: left; margin-top: -11px; margin-left: -8px; width: 51px; height: 39px; }
.navbar-demo { background-color: rgb(251, 251, 251); border-bottom: 2px solid rgb(244, 244, 244); }
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 21px; margin-bottom: 21px; border: 1px solid transparent; border-radius: 2px; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
