body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://hi.bdimg.com/static/css/appmerge.css?v=41889.css ::::: */

body, h1, h2, dl, dt, dd, ul, ol, li { margin: 0pt; padding: 0pt; }
ul, ol { list-style: none outside none; }
fieldset, img { border: 0pt none; }
table { border-collapse: collapse; border-spacing: 0pt; }
html { color: rgb(0, 0, 0); }
h3 { font-size: 14px; }
.cf:after, .clearfix:after { content: " "; display: block; height: 0pt; clear: both; }
.cf, .clearfix {  }
.clear { clear: both; }
body { font: 12px/1.5 arial,宋体; background: none repeat scroll 0% 0% rgb(240, 240, 240); }
a { color: rgb(76, 125, 8); text-decoration: none; }
.userbar { height: 30px; background: url('nav_bg.gif') repeat-x scroll 0% 0% transparent; }
#nav { height: 30px; line-height: 30px; padding-left: 20px; width: 970px; margin: 0pt auto; }
#nav .logo { float: left; margin-top: 4px; }
#nav .topmenu { margin-left: 130px; }
#nav li { float: left; margin: 0pt 10px; }
#nav a { color: rgb(0, 0, 0); }
#nav li a { display: block; width: 70px; font-size: 14px; text-align: center; font-family: 微软雅黑,宋体; color: rgb(0, 0, 0); }
#nav li a:hover { text-decoration: underline; }
#nav li a.on { font-weight: bold; color: rgb(0, 0, 0); background: url('nav_on2.gif') no-repeat scroll center center transparent; }
#nav .manage { float: right; color: rgb(102, 102, 102); }
#nav .manage a { padding: 0pt 10px; text-decoration: underline; }
#nav .manage form { display: inline-block; }
#nav .manage input { width: 90px; height: 20px; line-height: 20px; border: 1px solid rgb(201, 201, 201); vertical-align: middle; }
#nav .manage .loginlink { width: 49px; height: 22px; line-height: 22px; background: url('login_btn.gif') no-repeat scroll 0% 0% transparent; display: inline-block; padding: 0pt; text-align: center; text-decoration: none; border: 0pt none; cursor: pointer; }
#nav .manage .loginlink:hover { background-position: -51px 0pt; text-decoration: none; }
#nav .manage .reglink { color: rgb(255, 0, 0); }
#nav .manage a, #nav .manage span { padding: 0pt 10px; }
.leftmenu .lefttop, .leftmenu .leftbottom, .rightbody .righttop, .rightbody .rightbottom { background: url('mainbg.gif') no-repeat scroll 0% 0% transparent; height: 6px; line-height: 0; font-size: 0pt; }
.leftmenu { width: 130px; float: left; }
.leftmenu .leftbottom { background-position: left bottom; }
.leftmenu .leftcontent { border-style: solid; border-color: rgb(188, 213, 24); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(250, 255, 231); border-width: 0pt 1px; }
.leftmenu .line { height: 0pt; border-top: 1px solid rgb(198, 220, 48); border-bottom: 1px solid rgb(255, 255, 255); margin: 3px; overflow: hidden; }
.rightbody { float: right; width: 850px; overflow: hidden; }
.rightbody .righttop { background-color: rgb(255, 255, 255); background-position: -140px top; }
.rightbody .rightcontent { padding: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-style: solid; border-color: rgb(224, 224, 224); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-width: 0pt 1px; }
.rightbody .rightbottom { background-color: rgb(255, 255, 255); background-position: -140px bottom; }
.applist li { margin: 0pt; width: auto; }
.applist li a { font-size: 14px; font-weight: bold; display: block; height: 32px; line-height: 32px; overflow: hidden; }
.applist li a span { padding-left: 50px; overflow: hidden; display: inline-block; line-height: 30px; height: 30px; cursor: pointer; }
.sysapp li a { background: url('sysappicon.gif') no-repeat scroll 0% 0% transparent; }
.sysapp li a:hover, .sysapp li a.on { color: rgb(255, 255, 255); background: url('appbglist.gif') repeat-x scroll 0% 0% transparent; text-decoration: none; }
.sysapp .appicon5000 a { background-position: 15px -128px; color: rgb(213, 0, 0); }
.sysapp .appicon5002 a { background-position: 15px -172px; color: rgb(133, 209, 238); }
.sysapp .appicon5003 a { background-position: 15px -216px; color: rgb(80, 83, 173); }
.sysapp .appicon5004 a { background-position: 15px -260px; color: rgb(251, 138, 65); }
.sysapp .appicon5006 a { background-position: 15px -304px; color: rgb(111, 172, 76); }
.sysapp .appicon5007 a { background-position: 15px -348px; color: rgb(226, 42, 147); }
.sysapp .appicon5008 a { background-position: 15px -392px; color: rgb(242, 87, 37); }
.sysapp .appicon5010 a { background-position: 15px -427px; color: rgb(45, 131, 245); }
.sysapp .appicon5006 a.on, .sysapp .appicon5006 a:hover { background-position: 1px -71px; }
.sysapp .appicon5004 a.on, .sysapp .appicon5004 a:hover { background-position: 2px -105px; }
.sysapp .appicon5003 a.on, .sysapp .appicon5003 a:hover { background-position: 2px -140px; }
.sysapp .appicon5002 a.on, .sysapp .appicon5002 a:hover { background-position: 2px -174px; }
.sysapp .appicon5000 a.on, .sysapp .appicon5000 a:hover { background-position: 2px -210px; }
.sysapp .appicon5007 a.on, .sysapp .appicon5007 a:hover { background-position: 2px -280px; }
.sysapp .appicon5008 a.on, .sysapp .appicon5008 a:hover { background-position: 2px -315px; }
.sysapp .appicon5010 a.on, .sysapp .appicon5010 a:hover { background-position: 2px -350px; }
.thirdapp li a { font-size: 12px; font-weight: normal; color: rgb(76, 125, 8); }
.thirdapp li a:hover, .thirdapp li a.on { background: none repeat scroll 0% 0% rgb(231, 229, 253); text-decoration: none; }
.thirdapp li a span { background: url('appicon.gif') no-repeat scroll 0% 0% transparent; }
#mainbody { position: relative; margin: 20px auto; width: 990px; }
#mainbody .hotapplist {  }
#mainbody .hotapplist .title { font-size: 14px; font-weight: bold; padding: 5px; border-bottom: 1px solid rgb(215, 215, 215); }
#mainbody .hotapplist .list { padding: 10px; line-height: 150%; float: left; }
#footer { font: 12px/1.5 arial,宋体; text-align: center; margin: auto; width: 990px; }
#footer .link { color: rgb(77, 125, 7); margin-top: 15px; text-align: center; }
#footer .link a { color: rgb(77, 125, 7); text-decoration: none; }
#footer .link a:hover { text-decoration: underline; }
#footer .link span { margin: 0pt 16px; color: rgb(96, 96, 96); }
#footer .copyright { color: rgb(124, 124, 124); margin: 15px 0pt 50px; text-align: center; }
.x-tab-list ul, li { margin: 0pt; padding: 0pt; list-style: none outside none; }
input, textarea { font-size: 12px; }
#mainbody .applist {  }
.line { height: 5px; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 5px; }
input, textarea { font-size: 12px; }
/* ::::: http://hi.bdimg.com/static/apps/appshare/css/share.css?v=82f0cafeb9e76c81f2ba2743128d2882.css ::::: */

.app-share ul, .app-share ol, .app-share li, .app-share dl, .app-share dt, .app-share dd, .app-share form, .app-share p, .app-share h1, .app-share h2, .app-share h3, .app-share h5, .app-share td, textarea, p { margin: 0pt; padding: 0pt; }
.app-share ul, .app-share ol { list-style: none outside none; }
td, div, dd, th, dd { word-wrap: break-word; }
img { border: medium none; }
.clearfix:after { content: "."; display: block; height: 0pt; line-height: 0; clear: both; visibility: hidden; }
.clearfix {  }
div.hr { border-bottom: 1px solid rgb(234, 234, 234); margin: 10px; }
.error { color: red; }
#appShare { font-family: arial; padding-bottom: 20px; }
.app-share a { color: rgb(20, 99, 196); text-decoration: none; }
#appShare .app-share-tab { border-bottom: 1px solid rgb(193, 193, 193); height: 25px; margin: 0pt 0pt 10px; padding-left: 15px; }
#appShare .app-share-tab li { background: url('tab.gif') repeat-x scroll 0% 0% transparent; float: left; border-width: 1px 1px 0pt; border-style: solid solid none; border-color: rgb(193, 193, 193) rgb(193, 193, 193) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 0pt 10px; margin-right: 5px; height: 24px; text-align: center; line-height: 24px; list-style: none outside none; }
#appShare .app-share-tab li a { margin-left: 5px; font-size: 14px; color: rgb(0, 0, 0); }
#appShare .app-share-tab li {  }
#appShareNav { padding-top: 10px; margin-bottom: 6px; clear: both; height: 36px; overflow: hidden; }
.avatar-cnt { width: 59px; height: 59px; text-align: center; vertical-align: middle; border: 1px solid rgb(221, 221, 221); }
.avatar-cnt a { display: block; height: 57px; width: 57px; }
.avatar-cnt img { padding: 1px; }
#appShareIcon { background-position: 0pt -748px; padding-left: 40px; float: left; height: 30px; font-weight: bold; font-size: 16px; line-height: 30px; margin-top: 5px; }
#appShareInputContainer { width: 326px; height: 58px; background-position: 0pt -112px; position: absolute; left: -100px; right: 26px; }
#appShareInputContainer input { float: left; }
#appShareInputContainer #appShareInput { font-size: 12px; border: 1px solid rgb(164, 186, 217); margin: 19px 0pt 0pt 10px; padding: 6px 0pt 6px 5px; width: 215px; color: rgb(153, 153, 153); }
#appShareInputContainer #appShareSubmit { height: 30px; width: 68px; border: medium none; margin: 19px 0pt 0pt 6px; background: none repeat scroll 0pt -177px transparent; cursor: pointer; }
#appShareSafeLinkTip { width: 190px; float: left; padding: 10px; background: none repeat scroll 0% 0% rgb(232, 230, 255); color: rgb(31, 31, 31); border: 1px solid gray; margin-right: 10px; }
#appShareUrl #appShareSafeLinkTip a { color: rgb(53, 94, 158); }
#appShareUrl #appShareSafeLinkTip p { text-align: center; margin: 0pt; }
.appShareErrorIcon { width: 18px; height: 18px; float: left; background: url('icons-sprites.gif') repeat scroll -160px -378px transparent; }
#appShareDetail { margin: 20px 10px 0pt; clear: both; line-height: 1.3; }
#appShareDetail p { color: rgb(109, 109, 109); line-height: 26px; margin-bottom: 1em; }
#appShareTitle { height: 24px; line-height: 24px; font-size: 14px; font-weight: bold; color: rgb(51, 51, 51); }
#app-share-container { background: none repeat scroll 0% 0% rgb(244, 248, 251); padding: 10px; border: 1px solid rgb(217, 225, 228); }
#app-share-content { border: 1px solid rgb(237, 241, 244); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 20px; color: rgb(154, 154, 154); font-size: 12px; }
#appShareOpt { text-align: right; margin-bottom: 10px; margin-right: 5px; line-height: 24px; }
#appShareAuthorInfo { line-height: 32px; height: 32px; overflow: hidden; }
#appShareAuthorInfo p, #appShareAuthorInfo1 p { float: left; line-height: 32px; height: 32px; }
#appShareContent { margin-top: 10px; overflow: hidden; font: 14px/1.5 arial; }
#appShareShareIcon { float: right; margin-top: 0pt; }
#appShareInfo, #appShareRelate { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 10px 0pt; }
#appShareInfoBasic { margin-bottom: 20px; margin-top: 15px; }
#appShareInfo dl { margin: 5px; overflow: auto; }
#appShareInfo dt { width: 65px; float: left; text-align: right; }
#appShareInfo dd { width: 120px; float: left; padding-left: 5px; }
#appShareUrl { font-size: 12px; color: rgb(153, 153, 153); margin-top: 10px; border-top: 1px solid rgb(244, 244, 244); }
#appShareUrl a { color: rgb(154, 154, 154); }
#appShareComment { margin-top: 20px; float: left; width: 615px; }
#appShareVote { background-color: rgb(255, 255, 255); width: 613px; padding: 5px 0pt; margin-bottom: 10px; display: table; }
#appShareCreateComment textarea { width: 548px; height: 100px; padding: 0pt; margin: 0pt; }
#appShareCommentList { width: 615px; float: left; font-size: 12px; }
#appShareCommentListPager { text-align: right; }
#appShareCommentCreateError { padding-left: 70px; }
.share-prev-item, .share-next-item { display: inline-block; width: 58px; height: 22px; cursor: pointer; background-position: -25px 0pt; }
.share-next-item { background-position: -90px 0pt; }
.share-comment-num { font-weight: normal; }
p.share-top-txt { background-position: -226px -847px; padding-left: 12px; margin-left: 8px; }
.share-comment-btn { background-position: 0pt -90px; width: 68px; height: 30px; border: 0pt none; margin: 0pt; padding: 0pt; cursor: pointer; position: absolute; right: 0pt; }
.share-btn-img { background-position: 0pt -30px; width: 69px; height: 24px; border: 0pt none; cursor: pointer; margin-top: 5px; }
h2.share-home-sidemod-tit, ul.share-home-hotlist li span.f1, ul.share-home-hotlist li span.f2, .share-trend-up, .share-trend-equ, .share-trend-down, .share-slide-ope, #appShareInputContainer, #appShareIcon, .share-top-txt { background-image: url('icons-sprites.gif'); background-repeat: no-repeat; }
.share-home-modtit h2, #appShareButton, #appShareInputContainer, #appShareInputContainer #appShareSubmit, #appShareClose { background-image: url('index_icon.gif'); background-repeat: no-repeat; }
.share-btn1, .share-btn-img, .share-prev-item, .share-next-item, .share-insert-face-icon, .share-comment-btn { background-image: url('share_icons_new.png'); background-repeat: no-repeat; }
#appShareCommentListPager { width: 615px; line-height: 28px; font-size: 12px; float: left; margin-top: 20px; text-align: center; }
#share_comment_content { margin-top: 0pt; border: 1px solid rgb(193, 207, 222); float: left; }
.clear { clear: both; }
ul li { list-style: none outside none; }
.rightbody { border: 1px solid rgb(188, 218, 242); border-radius: 3px 3px 3px 3px; background: none repeat scroll 0pt 0pt rgb(255, 255, 255); }
.rightbody { float: right; overflow: hidden; width: 850px; }
.css3 .mod-tab .ul li, .css3 .mod-tab .ul li a, .rightbody { background-clip: padding-box; }
