body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://common.cnblogs.com/css/blog/common.css?id=20120408 ::::: */

img { border: 0px none; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { font-size: 12px; }
.sendMsg2This:link, .sendMsg2This:visited, .sendMsg2This:active { font-size: 12px; text-decoration: none; background: url('icomsg.gif') no-repeat scroll left top transparent; }
.sendMsg2This:hover { background: url('icomsg.gif') no-repeat scroll left bottom transparent; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; padding: 2px; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
.clear { clear: both; }
.comment_quote { padding: 5px; border: 1px solid rgb(204, 204, 204); }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#digg_block { margin-top: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 120px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url('upup.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('downdown.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
ol { margin-left: 2em; }
ol li { list-style-type: decimal; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
.c_b_p_link_desc { margin-top: 2px; }
#green_channel { padding: 10px 5px; margin-bottom: 0px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 9pt; color: rgb(0, 0, 0); width: 390px; }
#green_channel a { background: url('undefined') repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0pt -1px 1px rgba(0, 0, 0, 0.25); font-size: 9pt; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; }
#green_channel #green_channel_weibo { background: none repeat scroll 0% 0% transparent; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#cnblogs_post_body ul { list-style-type: disc; }
#cnblogs_post_body ul { margin-left: 45px; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#site_nav_under { margin-top: 5px; }
#site_nav_under a { margin-right: 10px; }
#ad_under_comment2 { margin-bottom: 5px; }
#ad_under_comment2 img { margin-bottom: 5px; }
input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
/* ::::: http://common.cnblogs.com/Skins/coffee/style.css ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0pt; padding: 0pt; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background: url('bg_body.gif') repeat scroll left top transparent; font-family: "verdana","ms song","宋体","Arial","微软雅黑","Helvetica","sans-serif"; font-size: 9pt; min-height: 101%; line-height: 1.5; }
fieldset, img { border: 0pt none; }
ul {  }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 {  }
a:link { color: rgb(7, 93, 179); text-decoration: none; }
a:visited { color: rgb(7, 93, 179); text-decoration: none; }
a:hover { color: rgb(7, 93, 179); text-decoration: underline; }
a:active { color: rgb(7, 93, 179); text-decoration: none; }
.clear { clear: both; }
#home { margin: 0pt auto; width: 100%; min-width: 930px; }
#header { background: url('header.gif') no-repeat scroll right top transparent; height: 178px; }
#blogTitle { height: 178px; clear: both; background: url('bg_title.gif') no-repeat scroll 170px 40px transparent; }
#blogTitle h1 { font-weight: bold; line-height: 1.5; padding-top: 25px; margin-left: 2em; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 28px; }
#blogTitle a { color: rgb(147, 90, 50); }
#blogTitle h2 { line-height: 1.5; margin-left: 4.5em; color: rgb(147, 90, 50); }
#blogLogo { float: right; }
#main { width: 97%; min-width: 950px; text-align: left; margin: auto; }
#mainContent .forFlow { margin: 0pt 250px 0pt 0pt; background: url('bg_left.gif') repeat-x scroll left top rgb(254, 254, 242); padding-top: 35px; padding-bottom: 15px; }
#mainContent { float: left; width: 100%; margin: 0pt -250px 0pt 0pt; background: none repeat scroll 0% 0% transparent; border: 0px solid green; text-align: left; overflow-x: hidden; }
#navigator { clear: both; width: 95%; margin: auto auto 20px; height: 40px; background: url('line.gif') repeat-x scroll left bottom rgb(254, 254, 242); }
#navList { min-height: 30px; float: left; }
#navList li { float: left; }
#navList a { height: 22px; float: left; text-align: center; padding-top: 8px; margin-right: 12px; }
#navList a { color: rgb(51, 51, 51); }
#navList a:hover { color: rgb(147, 90, 50); }
.blogStats { float: right; color: rgb(51, 51, 51); margin-top: 8px; text-align: right; }
.postTitle { font-weight: bold; float: right; line-height: 1.5; width: 100%; clear: both; font-size: 14px; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(51, 51, 51); }
.postTitle a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
.postDesc { float: right; width: 100%; clear: both; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; font-size: 12px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(170, 122, 83); }
.postDesc a:hover { text-decoration: underline; }
#sideBar { width: 230px; padding: 0px 0pt 0px 5px; float: right; overflow: hidden; }
.newsItem .catListTitle { display: none; }
.newsItem { padding: 15px 0pt 5px 0px; margin-bottom: 8px; }
#calendar { width: 229px; }
#calendar .Cal { width: 100%; line-height: 2em; }
.Cal { border: 0px solid black; color: rgb(129, 109, 101); }
#calendar table a:link, #calendar table a:visited, #calendar table a:active { font-weight: bold; color: rgb(116, 88, 75); }
#calendar table a:hover { color: white; text-decoration: none; background-color: rgb(170, 122, 83); }
#calendar td, #calendar th { font-size: 12px; }
.CalTodayDay { background: url('bg_cal_today.gif') no-repeat scroll 52% 3px transparent; color: white; }
.CalWeekendDay { background: none repeat scroll 0% 0% rgb(243, 230, 207); }
#calendar .CalNextPrev a:link, #calendar .CalNextPrev a:visited, #calendar .CalNextPrev a:active { font-weight: bold; background-color: transparent; }
#calendar .CalNextPrev a:hover { font-weight: bold; color: white; background-color: rgb(170, 122, 83); }
.CalDayHeader { background: url('bg_cal_day.gif') no-repeat scroll 50% 0pt transparent; color: white; padding-bottom: 5px; }
.CalTitle { background: none repeat scroll 0% 0% transparent; color: rgb(170, 122, 83); font-weight: bold; height: 30px; text-align: center; width: 100%; }
.catListTitle { font-weight: bold; line-height: 1.2em; font-size: 25px; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; margin-top: 15px; margin-bottom: 10px; text-align: left; background: url('title_cata.gif') no-repeat scroll 0pt 50% transparent; color: rgb(170, 122, 83); padding: 8px 0px 0px 32px; }
.catListComment { line-height: 1.5; }
#sideBarMain ul { line-height: 1.5; }
#topics { width: 95%; min-height: 200px; padding: 0px 0px 10px 0pt; overflow: hidden; margin: auto; }
#topics a:link { color: rgb(7, 93, 179); }
#topics a:visited { color: rgb(7, 93, 179); }
#topics a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
#topics a:active { color: rgb(7, 93, 179); }
#topics .postTitle { font-size: 14px; font-weight: bold; float: left; line-height: 1.5; padding-left: 5px; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody p { line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody span { line-height: 1.5; }
#EntryTag { color: rgb(102, 102, 102); }
#EntryTag a { margin-left: 5px; }
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active { color: rgb(102, 102, 102); }
#EntryTag a:hover { color: rgb(255, 102, 0); }
#topics .postDesc { float: right; width: 100%; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; }
.feedback_area_title { font-weight: bold; padding-left: 8px; border-bottom: 1px solid rgb(102, 102, 102); margin: 20px auto 10px; width: 90%; }
.louzhu { background: url('icolouzhu.gif') no-repeat scroll right top transparent; padding-right: 16px; }
.feedbackListSubtitle { color: rgb(102, 102, 102); width: 90%; margin: auto auto 5px; }
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active { color: rgb(102, 102, 102); font-weight: normal; }
.feedbackListSubtitle a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.feedbackManage { width: 160px; text-align: right; float: right; }
.feedbackCon { background: url('comment.gif') no-repeat scroll 5px 0px transparent; padding: 25px 18px 10px 40px; min-height: 35px; line-height: 1.5; margin: auto auto 1em; width: 85%; border-bottom: 1px solid rgb(237, 217, 184); }
.commentform { width: 90%; margin: auto auto 10px; }
#HistoryToday { font-weight: bold; }
#footer { text-align: center; min-height: 15px; height: 30px; margin-top: 10px; padding-top: 30px; background: url('bg_left.gif') repeat-x scroll left top rgb(254, 254, 242); }
.postBody { line-height: 1.5; margin-top: 5px; }
.postBody p, .postCon p { line-height: 1.5; }
.postBody h2 { font-size: 150%; margin: 15px auto 2px; font-weight: bold; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
.postBody ul, .postCon ul { margin-left: 2em; }
.postBody li, .postCon li { list-style-type: disc; margin-bottom: 1em; }
/* ::::: http://common.cnblogs.com/css/blog/common2.css ::::: */

p { margin: 5px auto; text-indent: 0px; }
.postBody p, .postCon p { margin: 5px auto; }
.postBody p, .postCon p { text-indent: 0px; }
#div_digg .diggnum { line-height: 1.5em; }
#div_digg .burynum { line-height: 1.5em; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255); border: medium none; }
#cnblogs_post_body ul li { list-style: inherit; }
/* ::::: http://common.cnblogs.com/css/shStyle.css ::::: */

/* ::::: http://www.cnblogs.com/ider/customcss.aspx?id=78869 ::::: */

#blogTitle h2 { font-size: 200%; }
.postBody p { font-size: 14px; }
.postBody ol li, .postCon ol li { list-style-type: decimal; }
/* ::::: http://files.cnblogs.com/ider/blogstyle.css ::::: */

.main_content_ider { font-size: 15px ! important; font-family: Courier New; }
.main_content_ider p, .main_content_ider div { font-size: 15px ! important; }
.main_content_ider a:visited, .main_content_ider a:active, .main_content_ider a:link { color: rgb(0, 102, 255); text-decoration: none; }
.main_content_ider a:hover { color: rgb(0, 51, 255); text-decoration: underline; }
.main_content_ider h2, .main_content_ider h3, .main_content_ider h4, .main_content_ider h5 { margin: 30px 0pt 20px ! important; }
h2 { color: rgb(0, 102, 255); font-size: 20px; }
h3, h3 a:visited, h3 a:active, h3 a:link { color: rgb(102, 0, 255); font-size: 18px; }
h3 a:hover { color: rgb(153, 0, 255); }
ul { padding-left: 10px; margin: 10px 20px ! important; }
li { margin-bottom: 7px ! important; }
td { padding: 7px ! important; }
.accentuation { font-weight: bold; text-decoration: underline; }
.annotation { color: rgb(0, 102, 0); font-size: 13px; }
.attention { color: rgb(255, 0, 0); }
.comprehension { color: rgb(0, 0, 153); }
.definition { color: rgb(0, 255, 0); }
.reference_list_ider { border-top: 2px solid rgb(0, 0, 0); padding: 10px; }
ol.references { font-size: 13px; }
code { padding: 2px 20px; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); font-family: Courier New; display: block; width: auto; margin-bottom: 1px; }
code.snippet, code .snippet { color: rgb(0, 0, 255); }
code.comment, code > .comment { color: rgb(0, 153, 0); }
code.keyword, code > .keyword { color: rgb(0, 0, 255); }
code.preprocessor, code > .preprocessor { color: rgb(255, 0, 0); }
code.quote, code > .quote { color: rgb(153, 0, 0); }
code.stdandarlibrary, code > .stdandarlibrary { color: rgb(0, 153, 255); }
