/* ::::: http://jingyan.baidu.com/static/common/pkg/common_css_1_56517d1f.css ::::: */

.comment-list { height: 100%; }
.no-comment { font-size: 14px; height: 50px; padding-top: 25px; text-align: center; }
.comment-editor { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(244, 244, 244); }
.comment-editor .noinput { color: rgb(206, 206, 206); }
.comment-editor .comment-editor-textarea { padding: 5px; height: 57px; width: 593px; outline: 0pt none; overflow: auto; border: 0pt none; resize: none; }
.comment-foot { background-color: rgb(252, 252, 252); height: 25px; }
.comment-foot .comment-submit-btn { background: url('exp_new_bg.png') no-repeat scroll 0pt -225px transparent; width: 90px; height: 25px; line-height: 25px; cursor: pointer; display: inline-block; }
.comment-foot #comment-submit-e { color: white; }
.comment-foot a.comment-submit-btn:hover { text-decoration: none; }
.comment-foot .noinput { background-position: -200px -225px; }
.comment-tab { border-bottom: 1px solid rgb(225, 225, 225); font-size: 14px; }
.comment-tab .more-comment { float: right; }
.comment-tab .more-comment a { color: rgb(136, 136, 136); font-size: 12px; }
.comment-tab ul { float: left; display: inline-block; position: relative; top: 1px; }
.comment-tab ul li { float: left; display: inline-block; width: 80px; padding-bottom: 2px; text-align: center; color: rgb(45, 100, 179); cursor: pointer; }
.comment-tab ul .current, .comment-tab ul .hover { font-weight: bold; border-bottom: 2px solid rgb(150, 216, 124); color: rgb(0, 0, 0); }
.comment-tab ul .sep { padding: 0pt; margin: 2px 1px; width: 1px; height: 15px; background-color: rgb(225, 225, 225); }
.exp-title-box .good-exp, .exp-title-box .edit, .exp-title-box .normal-exp { background: url('bg_detail.png') no-repeat scroll 0pt 0pt transparent; }
.exp-title-box { background: none repeat scroll 0pt 50% transparent; height: auto; padding-bottom: 15px; line-height: 0; }
.exp-title-box .exp-title { line-height: 24px; font-family: 'Microsoft Yahei',arial,宋体,sans-serif; font-size: 24px; color: rgb(51, 51, 51); font-weight: normal; }
.exp-title-box .good-exp { background: url('exp_new_icon96.png') no-repeat scroll 0pt -225px transparent; height: 55px; width: 43px; float: left; margin-right: 7px; }
.exp-title-box ul.exp-relate { font-weight: normal; margin-top: 10px; }
.exp-title-box ul.exp-relate li { float: left; color: rgb(153, 153, 153); height: 22px; line-height: 22px; }
.exp-title-box ul.exp-relate .blank { margin: 0pt 10px; color: rgb(225, 225, 225); }
.exp-title-box .ico-original { background: url('exp_new_icon96.png') repeat scroll -20px -204px transparent; display: inline-block; vertical-align: middle; width: 17px; height: 16px; margin-top: -2px; }
.exp-title-box .browser-times, .exp-title-box .favor-times { margin: 0pt 1px; }
.exp-title-box h1 { vertical-align: top; }
.exp-title-box .exp-title-wrapper { width: 505px; float: left; }
.exp-title-box .title-feedback { float: left; }
.title-feedback .title-feedback-area { width: 55px; height: 51px; float: left; display: inline-block; cursor: pointer; border-right: 1px solid rgb(228, 228, 228); background: url('exp_new_bg.png') no-repeat scroll 0% 0% transparent; }
.title-feedback .title-feedback-area .default-tip, .title-feedback .title-feedback-area .used-tip { display: none; text-align: center; color: rgb(242, 121, 0); font-weight: bold; height: 51px; width: 55px; line-height: 51px; background: url('exp_new_bg.png') no-repeat scroll 0% 0% transparent; }
.title-feedback .useful-exp-area { background-position: 0pt -170px; }
.title-feedback .useful-exp-area .default-tip, .title-feedback .useful-exp-area .used-tip { background-position: -120px -170px; }
.title-feedback .favor-exp-area { border-right: 0pt none; background-position: -56px -170px; }
.title-feedback .favor-exp-area .default-tip, .title-feedback .favor-exp-area .used-tip { background-position: -240px -170px; }
.title-feedback .feedback-img { margin: 9px auto; width: 17px; height: 18px; display: block; background: url('exp_new_icon96.png') no-repeat scroll 0% 0% transparent; }
.title-feedback .useful-img { background-position: 0pt -185px; }
.title-feedback .favor-img { background-position: -40px -185px; }
.title-feedback .feedback-num { color: rgb(102, 102, 102); display: block; margin-top: 10px; text-align: center; }
.tab { margin: 0pt 0pt 15px; position: relative; height: 32px; }
.tab a { background-image: url('exp_new_bg.png'); cursor: pointer; text-decoration: none; display: block; width: 100px; height: 34px; line-height: 34px; font-size: 12px; font-weight: bold; text-align: center; position: absolute; }
.tab .tab-a { left: 0pt; background-position: 0pt -295px; }
.tab .tab-a:hover { background-position: -100px -295px; }
.tab .tab-b { left: 100px; background-position: -300px -295px; }
.tab .tab-b:hover { background-position: -400px -295px; }
.tab a:hover { text-decoration: none; }
.tab .tab-icon { display: inline-block; background: url('exp_new_icon96.png') repeat scroll 0% 0% transparent; width: 16px; height: 15px; vertical-align: middle; margin-right: 6px; }
.tab .icon-txt { background-position: -45px -205px; }
.tab .icon-img { background-position: -45px -225px; }
.tab a.on { color: rgb(255, 255, 255); cursor: default; z-index: 2; background-color: rgb(255, 255, 255); }
.tab a.on .icon-txt { background-position: -45px -245px; box-shadow: 1px 1px 0pt rgb(170, 170, 170); }
.tab .tab-a-on, .tab .tab-a-on:hover { background-position: -200px -295px; }
.tab a strong { display: inline-block; color: rgb(102, 102, 102); }
.tab a:hover strong { color: rgb(51, 51, 51); }
.tab a.on strong { color: rgb(255, 255, 255); text-shadow: 1px 1px 0pt rgb(141, 141, 141); }
.tab a.on:hover strong, .tab a.on:active strong, .tab a.on:visited strong { color: rgb(255, 255, 255); }
.top-search-box { position: relative; overflow: hidden; }
.top-search-box .inner-warp { margin-left: 152px; height: 100%; }
.top-search-box .inner-warp .s-ipt-wr { width: 440px; height: 30px; }
.top-search-box .inner-warp .hdi { width: 425px; }
.top-search-box a.logo { position: absolute; left: 0pt; bottom: 2px; }
.top-search-box a.logo img { width: 137px; height: 46px; }
.top-search-box ul.channel { line-height: 16px; padding: 19px 0pt 0pt; float: left; }
.top-search-box ul.channel li { float: left; font-size: 14px; margin-right: 12px; }
.top-search-box .s-nav { height: 41px; }
.top-search-box a, .top-search-box a:visited { text-decoration: underline; color: rgb(0, 0, 204); }
.top-search-box input { padding: 0pt; border: 0pt none; }
.top-search-form { margin: 0pt; clear: both; position: relative; z-index: 2000; }
.top-search-form .s-ipt-wr { width: 533px; height: 30px; float: left; display: inline-block; margin-right: 5px; background: url('bg_search.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(123, 123, 123) rgb(182, 182, 182) rgb(182, 182, 182) rgb(123, 123, 123); vertical-align: top; }
.top-search-form .hdi { width: 520px; height: 22px; font: 16px/22px arial; margin: 5px 0pt 0pt 7px; outline: 0pt none; }
.top-search-form .s-btn-wr { width: 97px; height: 34px; float: left; display: inline-block; background: url('bg_search.png') no-repeat scroll -202px 0pt transparent; z-index: 2000; vertical-align: top; }
.top-search-form #sb { width: 95px; height: 32px; padding-top: 2px; font-size: 14px; background: url('bg_search.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
.top-search-form .s-tools { color: rgb(153, 153, 153); padding: 8px 0pt 0pt 22px; float: left; display: inline-block; }
.top-search-form .s-tools a {  }
.new-share-exp { padding: 30px 0pt 20px; }
.new-share-exp .share-exp { display: block; width: 210px; height: 42px; margin: 0pt auto; background: url('exp_new_bg.png') no-repeat scroll 0pt -70px transparent; }
.new-share-exp a.share-exp:hover { background-position: -220px -70px; text-decoration: none; }
.new-share-exp a.share-exp:active { background-position: -440px -70px; }
.path { font: 12px/1.5 宋体,arial,sans-serif; color: rgb(102, 102, 102); }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, textarea, th, td { margin: 0pt; padding: 0pt; }
body, button, select, textarea { font: 12px/1.5 arial,宋体,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ul, ol { list-style: none outside none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
fieldset, img { border: 0pt none; }
button, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0pt; }
.clear { clear: both; }
header, section, aside, footer { margin: 0pt; padding: 0pt; }
header, footer, article, section, hgroup, nav, figure { display: block; }
body { background: url('undefined') repeat fixed 0pt 0pt rgb(255, 255, 255); }
.header, .body, .footer { width: 980px; margin-left: auto; margin-right: auto; }
.body-wrapper { margin: 0pt auto; }
.footer { padding: 30px 0pt; }
.grid-980, .grid-960, .grid-730, .grid-710, .grid-690, .grid-290, .grid-270, .grid-250, .grid-210, .grid-80, .grid-70, .grid-60, .grid-30, .grid-10 { margin: 0pt auto; padding: 0pt; }
.grid-980 { width: 980px; }
.grid-690 { width: 690px; }
.grid-290 { width: 290px; }
.header { padding: 0pt; }
.body a { color: rgb(45, 100, 179); text-decoration: none; }
.body a:hover { text-decoration: underline; }
.body a:visited { color: rgb(45, 100, 179); text-decoration: none; }
.inline { display: inline; }
.right { float: right; }
.left { float: left; }
.mt4 { margin-top: 4px; }
.f-999 { color: rgb(153, 153, 153); }
.f-red { color: rgb(255, 0, 0); }
.f14 { font-size: 14px; }
.f12 { font-size: 12px; }
td.c, th.c { padding-right: 0pt; text-align: center; }
td.l, th.l { padding-left: 0pt; text-align: left; }
td.r, th.r { padding-right: 0pt; text-align: right; }
.border-padding { background-color: rgb(241, 242, 242); border: 1px solid rgb(247, 248, 248); padding: 1px; }
.border-outer { border: 1px solid rgb(233, 234, 234); }
.border-inner { border: 1px solid rgb(203, 217, 219); background-color: rgb(255, 255, 255); }
.tousu { margin: 15px; display: block; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0pt; line-height: 0; visibility: hidden; height: 0pt; }
.clearfix {  }
.pb20 { padding-bottom: 20px; }
.title-bar { background: url('bg_button.png') repeat-x scroll 0pt -596px transparent; height: 33px; padding-left: 12px; line-height: 33px; }
.i-suc, .i-good-exp, .i-video, .i-insert-img, .i-insert-img-over, .i-insert-img-down, .i-excel-comment, .i-del-comment, .i-del-excel, .i-add-excel, .mark, .tick, .i-score, .i-ul, .i-new, .i-original, .i-msg-close { background: url('bg_icon.png') no-repeat scroll 0pt 0pt transparent; }
.i-original { padding: 0pt 0pt 0pt 3px; background-position: 0pt -919px; display: inline-block; height: 16px; width: 15px; vertical-align: -2px; }
.b-release, .b-release-noinput, .b-reply-release, .b-reply-release-noinput, .b-followed, .b-vote, .b-small-followed, .b-small-vote { background: url('bg_button.png') no-repeat scroll 0pt 0pt transparent; }
.b-followed { background-position: -199px -150px; width: 101px; height: 27px; display: inline-block; }
.b-followed:hover { background-position: -199px -180px; }
.b-vote { background-position: 0pt -773px; width: 101px; height: 27px; display: inline-block; }
.b-vote:hover { background-position: -109px -773px; }
#exp-msgbox-wrapper { position: absolute; top: 30px; right: 140px; width: 180px; z-index: 2099; }
.exp-msgbox { position: relative; height: auto; padding: 8px; }
:root .arrow { top: -9px; }
.arrow { position: absolute; left: 19px; top: -10px; z-index: 2101; }
.arrow em, .arrow span { height: 19px; width: 17px; font-family: Simsun; font-size: 16px; line-height: 21px; overflow: hidden; position: absolute; }
.arrow em { color: rgb(232, 204, 161); font-style: normal; }
.arrow span { color: rgb(254, 253, 237); top: 2px; }
.exp-msgbox { border: 1px solid rgb(232, 204, 161); background: none repeat scroll 0% 0% rgb(254, 253, 237); border-radius: 2px 2px 2px 2px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); }
.exp-msgbox a, .exp-msgbox a:visited { color: rgb(45, 100, 179); }
.exp-msgbox .n-item { padding: 4px 13px 4px 10px; height: 18px; }
.exp-msgbox .n-item a { float: left; }
.exp-msgbox .n-item a:hover { text-decoration: none; }
.exp-msgbox .n-item span { width: 19px; height: 18px; float: right; }
.exp-msgbox .n-cms-in { border-top: 1px solid rgb(248, 240, 219); height: auto; position: relative; }
.exp-msgbox .n-cms-in span { position: absolute; top: 4px; right: 6px; }
.userbar { font: 12px arial; text-align: right; position: absolute; right: 0pt; padding-right: 10px; top: 4px; z-index: 2100; color: rgb(153, 153, 153); }
.userbar a:link, .userbar a:visited { text-decoration: underline; color: rgb(38, 28, 220); }
.userbar .g-un { font-weight: bold; }
.userbar span {  }
.userbar .my-info { display: inline; padding-bottom: 5px; vertical-align: top; position: relative; }
.userbar .dropdown-menu { position: absolute; left: 2px; top: 19px; display: none; border: 1px solid rgb(155, 155, 155); width: 70px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 1px 1px 2px rgb(204, 204, 204); }
.userbar .dropdown-menu a { display: block; padding: 6px; line-height: 12px; text-align: left; text-decoration: none; border-bottom: 1px solid rgb(235, 235, 235); }
.userbar .dropdown-menu a:hover { background-color: rgb(235, 235, 235); }
.userbar .menu-hide .dropdown-menu { display: none; }
#my-income { padding: 1px 0pt 1px 20px; background: url('bg_icon_v2.png') no-repeat scroll 0pt -404px transparent; height: 16px; }
.nav { background: url('exp_new_bg.png') repeat-x scroll 0pt 0pt rgb(86, 90, 86); height: 34px; overflow: hidden; width: auto; margin: 13px auto 0pt; }
.nav .menu { clear: both; width: 980px; margin: 0pt auto; }
.nav .main-menu a { display: block; }
.nav .main-menu a:hover { text-decoration: none; }
.nav .main-menu li { background: url('exp_new_bg.png') no-repeat scroll 0pt -34px transparent; float: left; text-align: center; width: 101px; height: 34px; overflow: visible; position: relative; }
.nav .main-menu li a:link, .nav .main-menu li a:visited { color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; height: 34px; line-height: 36px; overflow: hidden; width: 103px; margin: 0pt auto; z-index: 1003; }
.nav .main-menu li a:hover { background: url('exp_new_bg.png') no-repeat scroll -110px -34px transparent; position: absolute; width: 103px; z-index: 1004; }
.nav .main-menu li .dir-icon { background: url('exp_new_icon96.png') no-repeat scroll -40px -144px transparent; position: absolute; left: 85px; top: 15px; width: 7px; height: 4px; cursor: pointer; z-index: 1004; }
.nav .main-menu li.last { width: 103px; background-position: -330px -34px; }
.nav .main-menu li.last a:link, .nav .main-menu li.last a:visited { width: 103px; padding-left: 0pt; overflow: hidden; }
.nav .main-menu li.last a:hover { padding: 0pt; left: 0pt; width: 103px; background-position: -440px -34px; }
.nav .category-list { position: absolute; z-index: 1100; width: 168px; border-right: 1px solid rgb(153, 153, 153); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(153, 153, 153) rgb(153, 153, 153); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 0pt 20px 17px 0pt; background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.nav .category-list li { float: left; width: 57px; padding: 13px 0pt 0pt 25px; letter-spacing: 1px; }
.nav .category-list li.first-line { padding-top: 17px; }
.nav .category-list li.even { padding-left: 27px; }
.nav .category-list a:link, .nav .category-list a:visited { color: rgb(45, 100, 179); }
.nav-bottom { border-bottom: 3px solid rgb(207, 207, 207); }
.tangram-suggestion { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(129, 127, 130); z-index: 3000; }
.footer, .footer a:link, .footer a:visited { clear: both; text-align: center; color: rgb(119, 119, 204); font: 12px/1.5 Arial; white-space: nowrap; }
#sidebar a.gotop { background: url('exp_new_icon96.png') no-repeat scroll 0pt -280px transparent; display: block; width: 28px; height: 41px; }
#sidebar a.gotop:hover { background-position: -30px -280px; }
/* ::::: http://jingyan.baidu.com/static/article/pkg/article_css_0_bc5e2e81.css ::::: */

.author-info-container { margin-top: 20px; }
#writer-intro { margin: 0pt 19px; }
#writer-intro h3 { margin-bottom: 10px; }
#writer-intro .author { position: relative; width: 250px; }
#writer-intro .author-portrait { width: 120px; height: 120px; overflow: hidden; }
#writer-intro .author div.userInfo { position: absolute; right: 0pt; top: 0pt; width: 120px; height: 120px; }
#writer-intro .author div.userInfo h2 { font-size: 14px; }
#writer-intro .usr-img { display: block; margin: 0pt auto 0pt 0pt; width: 120px; height: 120px; }
#followed-vote a.b-followed, #followed-vote a.b-vote { display: inline-block; width: 121px; height: 35px; color: rgb(85, 85, 85); text-align: center; vertical-align: middle; background: url('exp_new_bg.png') no-repeat scroll 0pt -255px transparent; float: left; }
#followed-vote a.b-followed { border-right: 1px solid rgb(231, 231, 231); }
#followed-vote a.b-followed:hover { background-position: -245px -255px; text-decoration: none; }
#followed-vote a.b-vote { background-position: -122px -255px; }
#followed-vote a.b-vote:hover { background-position: -380px -255px; text-decoration: none; }
#followed-vote a span { font-size: 14px; display: inline-block; height: 35px; line-height: 35px; cursor: pointer; vertical-align: middle; }
#followed-vote .btnTitle { font-weight: bold; width: 60px; }
#followed-vote .user-num { color: rgb(153, 153, 153); width: auto; font-size: 12px; }
#writer-intro .usr-resume { padding: 10px 0pt; word-wrap: break-word; line-height: 20px; font-size: 12px; color: rgb(102, 102, 102); }
.usr-explist { border-top: 1px solid rgb(229, 229, 229); margin: 0pt 19px; padding: 20px 0pt 10px; }
.usr-explist ul.list { margin-top: 10px; }
.usr-explist ul.list li { margin-bottom: 5px; }
.usr-explist .author-exp-ico { color: rgb(204, 204, 204); margin-right: 6px; font-family: 宋体; }
.aside-pro-container { margin: 0pt auto; }
.aside-pro-container .cms-banner { border-top: 1px solid rgb(229, 229, 229); padding: 20px 0pt 10px 20px; overflow: hidden; width: 250px; margin: 0pt auto; }
.aside-pro-container .cms-banner img { width: 208px; height: 68px; border: 1px solid rgb(235, 235, 235); }
.aside-pro-container .share-award { margin-bottom: 5px; }
.aside-pro-container .aside-ads-container { width: 270px; border-top: 1px solid rgb(229, 229, 229); margin: 0pt auto; display: none; }
.aside-pro-container .aside-ads-container .aside-text-ads, .aside-pro-container .aside-ads-container .aside-pic-ads { margin: 20px 0pt; }
.body-wrapper, .footer { background: url('article_bg.png') repeat scroll 0% 0% rgb(243, 243, 243); }
.footer { width: auto; }
#path { padding: 7px 0pt; }
.exp-all-container { background: none repeat scroll 0% 0% rgb(252, 252, 252); border: 1px solid rgb(229, 229, 229); width: 978px; }
.border-padding { border: 0pt none; padding: 0pt; }
.border-inner { border-right: 1px solid rgb(229, 229, 229); border-width: 0pt 1px 1px 0pt; border-style: none solid solid none; border-color: -moz-use-text-color rgb(229, 229, 229) rgb(229, 229, 229) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
.border-outer { border-width: 0pt 2px 0pt 0pt; border-style: none solid none none; border-color: -moz-use-text-color rgb(245, 245, 245) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
#exp-detail .title-bar { background: none repeat scroll 0pt 50% transparent; height: auto; margin: 0pt 30px 20px 40px; padding: 30px 0pt 0pt; }
#aside { margin-left: -2px; }
#aside .new-share-exp { padding: 30px 0pt 25px; border-bottom: 1px solid rgb(229, 229, 229); }
h3 { font-size: 14px; font-weight: bold; font-family: "宋体"; }
.tousu { width: 250px; margin: 0pt auto; }
.article-sep-area { height: 3px; line-height: 3px; background: none repeat scroll 0% 0% rgb(241, 241, 241); }
.brief-album-enter { height: 50px; overflow: hidden; position: relative; display: block; margin-bottom: 20px; }
#exp-detail .brief-album-enter ul { padding: 0pt 10px 0pt 3px; clear: none; }
.brief-album-enter .album-filmstrip { float: left; }
.brief-album-enter-text { float: left; background-color: rgb(252, 252, 252); padding-top: 8px; width: 18px; padding-left: 6px; color: rgb(153, 153, 153); line-height: 18px; height: 42px; overflow: hidden; font-size: 12px; }
#exp-detail .exp-content ul li.thumb-item { height: 50px; width: 50px; float: left ! important; position: relative; margin: 0pt 0pt 0pt 7px ! important; background: none repeat scroll 0pt 50% transparent; padding: 0pt ! important; display: inline; }
#exp-detail .exp-content ul li.thumb-item img { height: 50px; width: 50px; }
.thumb-item-index { display: block; width: 20px; height: 18px; background-color: rgb(79, 181, 50); font-size: 11px; font-weight: bold; position: absolute; left: 0pt; top: 0pt; opacity: 0.6; text-align: center; color: rgb(255, 255, 255); }
.thumb-item-curtain { position: absolute; left: 0pt; top: 0pt; width: 50px; height: 50px; }
.bottom-ads-container { display: none; border-top: 1px solid rgb(242, 242, 242); background: none repeat scroll 0% 0% rgb(252, 252, 252); padding-bottom: 20px; }
.bottom-ads-container .bottom-text-ads, .bottom-ads-container .bottom-pic-ads { width: 600px; margin: 20px auto 0pt; overflow: hidden; }
.article-comment-area { background-color: rgb(255, 255, 255); }
.article-comment-area .border-inner { border-top: 1px solid rgb(229, 229, 229); border-bottom: 0pt none; }
.article-comment-area .outer-container { padding: 20px 40px; }
.comment-header { font-family: "microsoft yahei"; font-size: 16px; line-height: 15px; font-weight: bold; margin-bottom: 15px; }
.edit-container { border: 2px solid rgb(150, 216, 124); }
.comment-tab-container { padding-top: 20px; }
#explist { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#explist .border-inner { border-top: 1px solid rgb(229, 229, 229); }
#explist h3 { font-family: "microsoft yahei"; font-size: 16px; font-weight: bold; padding-left: 0pt; height: 26px; line-height: 26px; position: relative; margin-bottom: 3px; }
#explist h3 a.more { font-family: "宋体"; font-size: 12px; font-weight: normal; position: absolute; top: 0pt; right: 0pt; color: rgb(136, 136, 136); }
#relate-explist { padding: 17px 40px; }
#relate-explist table tr { line-height: 26px; }
#relate-explist { position: relative; word-wrap: break-word; }
#relate-explist .ico-suc { background: url('exp_new_icon96.png') repeat scroll -40px -170px transparent; height: 12px; width: 11px; display: inline-block; margin: -3px 5px 0pt 0pt; vertical-align: middle; }
#relate-explist .related-exp-ico { color: rgb(204, 204, 204); margin-right: 6px; font-family: 宋体; }
.origin-notice { padding: 0pt 40px; background-color: rgb(252, 252, 252); border-top: 1px solid rgb(241, 241, 241); height: 29px; line-height: 29px; }
.origin-notice span.i-original { background: url('exp_new_icon96.png') repeat scroll -20px -204px transparent; display: inline-block; vertical-align: middle; width: 17px; height: 16px; margin-top: -2px; }
.origin-notice span { line-height: 29px; height: 29px; display: inline-block; color: rgb(153, 153, 153); }
.origin-notice span em { color: rgb(153, 153, 153); font-style: normal; }
#bdshare { z-index: 999 ! important; }
.float-share { width: 26px; height: 170px; position: absolute; border: 1px solid rgb(225, 225, 225); color: rgb(153, 153, 153); line-height: 14px; background-color: rgb(249, 249, 249); padding: 6px 0pt; display: none; }
#exp-detail { border-top: 0pt none; }
.exp-content { font-size: 14px; padding: 0pt 40px 5px; word-wrap: break-word; }
#exp-detail .exp-content ol li { padding: 1px 0pt 22px 42px ! important; min-height: 20px; height: auto; }
#exp-detail .exp-content h2 { font-family: "microsoft yahei"; font-size: 16px; height: 30px; line-height: 30px; margin: 40px 0pt 0pt; border-bottom: 1px solid rgb(241, 241, 241); }
.exp-content-block { color: rgb(51, 51, 51); line-height: 24px; }
.exp-content-body { text-align: justify; margin-top: 5px; }
.exp-content-body p { margin: 6px 0pt; font-size: 14px; line-height: 24px; }
#exp-detail .exp-content ul li { background: url('unsortlist.png') no-repeat scroll 0pt 5px transparent; float: none ! important; margin: auto ! important; padding: 0pt 0pt 0pt 15px ! important; }
#exp-detail .exp-content-block ol, #exp-detail .exp-content-block ul { clear: both; }
.exp-content-list { position: relative; }
li .list-icon { width: 32px; height: 32px; position: absolute; left: 0pt; top: 3px; font-size: 16px; font-family: Microsoft Yahei; color: rgb(238, 255, 238); text-align: center; line-height: 32px; background: url('step_ol_bg.png') no-repeat scroll 0% 0% transparent; }
a.exp-image-wraper { position: relative; display: block; }
a.exp-image-wraper:hover .exp-image-default { border: 1.5px solid rgb(122, 209, 108); }
a.exp-image-wraper:hover .exp-album-enter { background: url('exp_new_icon96.png') no-repeat scroll 0pt -370px transparent; }
.exp-image-default { border: 1.5px solid rgb(255, 255, 255); }
.exp-album-enter { display: none; position: absolute; right: 1px; bottom: 1px; width: 24px; height: 24px; cursor: pointer; background: url('exp-album-newenter-default.png') no-repeat scroll center center transparent; }
.image-loaded .exp-album-enter { display: block; }
.image-loaded .exp-album-enter:hover { background: url('exp_new_icon96.png') no-repeat scroll 0pt -370px transparent; }
.prompt { font-size: 12px; color: rgb(121, 121, 121); margin: 10px 40px 0pt; padding-bottom: 30px; }
.contect { position: absolute; bottom: 0pt; left: 0pt; }
/* ::::: http://jingyan.baidu.com/static/article/ui/auto-app/auto-app_bd8df0a8.css ::::: */

/* ::::: http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20121228 ::::: */

#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: none outside none; margin: 0pt; padding: 0pt; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px '宋体'; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0pt; margin: 0pt; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0pt; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px '宋体'; display: block; width: 98%; padding: 6px 0pt; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); border-radius: 3px 3px 3px 3px; }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px '宋体'; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0pt; margin: 0pt; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 5px; }
#bdshare_m { width: 132px; float: right; position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#bdshare_m_c { width: 130px; float: left; border: 1px solid rgb(233, 233, 233); overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#bdshare_m_c ul li { width: 97%; float: left; margin: 2px; }
#bdshare_m_c ul li a { background: url('is.png') no-repeat scroll 0% 0% transparent; height: auto ! important; }
#bdshare_l, #bdshare_m { box-shadow: 0pt 0pt 7px rgb(238, 238, 238); z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: url('pi.gif') no-repeat scroll 0pt 5px transparent; line-height: 12px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
span.bds_more { background: url('is.png') no-repeat scroll 0pt 5px transparent ! important; }
span.bds_more, .bds_tools a { display: block; font-family: '宋体',Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_tools a { background: url('is.png') no-repeat scroll 0% 0% transparent; }
.bds_more { background-image: url('is.png') ! important; background-position: 0pt 4px ! important; }
.bds_qzone { background-position: 0pt -75px ! important; }
.bds_tsina { background-position: 0pt -115px ! important; }
.bds_renren { background-position: 0pt -195px ! important; }
.bds_tqq { background-position: 0pt -235px ! important; }
.bds_baidu { background-position: 0pt -1950px ! important; }
.bds_mshare { background-position: 0pt -2070px ! important; }
.bds_bdxc { background-position: 0pt -2190px ! important; }
