body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://mozilla.com.cn/static/style/base.css?v=36e65 ::::: */

* { padding: 0pt; margin: 0pt; border: 0pt none; }
body { font: 13px/1.5 Helvetica,Tahoma,Arial,"寰蒋闆呴粦","瀹嬩綋",sans-serif; text-align: center; color: rgb(51, 51, 51); }
a { border-radius: 2px 2px 2px 2px; background-repeat: no-repeat; color: rgb(26, 106, 150); text-decoration: none; }
a:hover { background-color: rgb(209, 225, 234); color: rgb(0, 75, 115); }
li { list-style: none outside none; }
input.text, button { -moz-appearance: none; -moz-box-sizing: content-box; display: inline-block; border: 1px solid rgb(187, 187, 187); font-size: 12px; padding: 3px 7px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { box-shadow: 0pt 0pt 5px rgba(40, 173, 243, 0.5); border-color: rgba(40, 173, 243, 0.75) ! important; outline: medium none; }
a.simple-button { background: -moz-linear-gradient(-90deg, rgb(255, 255, 255), rgb(221, 221, 221)) repeat scroll 0pt 0pt transparent; border: 1px solid rgb(153, 153, 153); color: rgb(76, 86, 108); display: inline-block; text-align: center; padding: 1px 5px; font-size: 12px; margin-right: 5px; }
a.simple-button:hover { border: 1px solid rgb(40, 173, 243); color: rgb(0, 75, 115); }
div#container { margin: 0pt auto; padding: 0pt; width: 960px; text-align: left; }
div#header { margin-top: 5px; }
#user-nav { float: right; font-size: 12px; height: 18px; overflow: hidden; }
#user-nav li { border-right: 1px solid rgb(204, 204, 204); float: left; padding: 0pt 2px; }
#user-nav li.last { border-right: 0pt none; padding-right: 0pt; }
#user-nav a { display: inline-block; padding: 0pt 3px; }
#header-nav { float: left; width: 685px; border-bottom: 1px solid rgb(153, 153, 153); }
#logo { display: inline-block; padding-right: 10px; margin: -8px 0pt -5px -10px; }
#logo a { display: block; background: url('logo.png') no-repeat scroll 0pt 0pt transparent; height: 50px; width: 180px; }
#logo a:hover { background-color: transparent; }
#nav { display: inline-block; font-size: 15px; font-weight: bold; vertical-align: bottom; }
#nav li { float: left; margin-right: -2px; }
#nav a { display: block; padding: 5px 10px; border-radius: 0pt 0pt 0pt 0pt; }
#nav A:hover, LI.menuselected A { background-color: rgb(0, 75, 115); color: rgb(255, 255, 255); }
#nav UL.menu { font-size: 11px; width: 130px; position: absolute; background-color: rgb(0, 75, 115); z-index: 1981; }
#nav UL.menu LI { width: 130px; }
#nav UL.menu LI A { color: rgb(255, 255, 255); }
#header-search { display: inline-block; width: 270px; margin-left: 5px; margin-top: 20px; clear: both; }
#header-search input { width: 180px; }
#header-search button { border: 1px solid rgb(153, 153, 153); background: -moz-linear-gradient(-90deg, rgb(255, 255, 255), rgb(221, 221, 221)) repeat scroll 0pt 0pt transparent; width: 52px; }
#header-search p { font-size: 11px; }
div#content { margin-top: 10px; }
div#content div.left { float: left; width: 660px; }
div#content div.right { float: right; width: 270px; }
.safehtml-content {  }
.safehtml-content p { margin: 0pt 0pt 1em; word-wrap: break-word; }
.safehtml-content img { max-width: 90%; }
.safehtml-content *::-moz-selection { background: none repeat scroll 0% 0% rgb(255, 183, 183); }
div.right-section { margin-top: 5px; margin-bottom: 30px; clear: both; }
div.right-section h3 { font-size: 16px; margin: 0pt 0pt 5px; display: block; border-bottom: 1px solid rgb(204, 204, 204); }
div.oneline-ps p { width: 100%; overflow: hidden; white-space: nowrap; }
div.oneline-ps p a {  }
span#bookmark-button { width: 24px; height: 24px; display: inline-block; margin-bottom: 2px; vertical-align: bottom; cursor: pointer; }
span#bookmark-button.deactive { background: url('demark.png') no-repeat scroll left center transparent; }
div.download-ff { background: url('bg.png') repeat-x scroll 0pt 10px transparent; padding: 20px 0pt 0pt; }
div.download-ff h4 { color: rgb(198, 64, 27); font-size: 18px; }
div.download-ff .downloadff-button { margin-top: 10px; }
.downloadff-button { background: url('downloadbtn.png') no-repeat scroll 0pt 0pt transparent; color: rgb(9, 99, 10); display: block; height: 30px; padding: 12px 0pt 0pt 40px; width: 260px; }
.downloadff-button:hover { background-color: transparent; }
.fox-rotate-box, .fox-rotate-box DIV { background: url('fox_rotate.png') no-repeat scroll 0pt 0pt transparent; height: 74px; width: 74px; }
.fox-rotate-box DIV { background: url('fox_rotate.png') no-repeat scroll 0pt -73px transparent; display: none; }
span.tag { background-color: rgb(227, 244, 253); display: inline-block; margin: 2px 10px 2px 0pt; padding: 1px 5px 0pt; border: 1px solid rgb(209, 225, 234); border-radius: 3px 3px 3px 3px; font-size: 12px; vertical-align: bottom; }
span.tag a { color: rgb(0, 62, 95); }
span.tag a:hover { background-color: transparent; color: rgb(0, 62, 95); border-bottom: 1px solid rgb(0, 62, 95); }
div#footer { border-top: 1px solid rgb(153, 153, 153); background: url('logo-mozilla.gif') no-repeat scroll 0pt 10px transparent; margin-top: 100px; padding-left: 70px; padding-top: 10px; padding-bottom: 50px; }
div#footer #footer-logo { width: 245px; height: 180px; background: url('hub-logo-footer.png') no-repeat scroll 0pt 0pt transparent; float: right; margin-top: -80px; margin-right: 50px; }
/* ::::: http://mozilla.com.cn/static/style/qa.css?v=802e5 ::::: */

div#pages { float: right; }
h2#question-detail-title { display: block; color: rgb(0, 62, 95); margin: 0pt 0pt 15px; font-size: 20px; padding: 1px 2px; background-color: rgb(227, 244, 253); }
div#question-detail-user { float: left; width: 80px; overflow: hidden; margin-left: 5px; margin-top: 10px; }
.user-avatar:hover { background: none repeat scroll 0% 0% transparent; }
.user-avatar img { border: 1px solid rgb(36, 153, 215); border-radius: 5px 5px 5px 5px; width: 50px; height: 50px; padding: 1px; }
.user-avatar img:hover { border: 1px solid rgb(53, 35, 245); }
div#question-detail { float: right; width: 570px; margin: 10px 0pt 20px; }
div#question-detail-content { font-size: 15px; min-height: 80px; }
div.answer-item .answer-actions, div#question-actions { margin: 25px 0pt 15px; clear: both; }
div#question-actionbox, div.answer-actionbox { float: right; }
div.answer-item .answer-actions ul, div#question-actions ul { height: 18px; overflow: hidden; font-size: 12px; }
div.answer-item .answer-actions li, div#question-actions li { float: left; padding: 0pt 2px; }
div.answer-item .answer-actions li a, div#question-actions li a { display: inline-block; padding: 0pt 3px; }
div.answer-item .answer-actions li:last-child, div#question-actions li:last-child { padding-right: 0pt; }
a.simple-button span { text-shadow: 1px 1px 0pt rgb(212, 212, 212); display: block; font-size: 15px; height: 18px; padding: 0pt 0pt 4px 20px; margin: 0pt 10px; }
a.simple-button span.vote-up-stat { background: url('vote-up.png') no-repeat scroll left center transparent; }
a.simple-button span.vote-down-stat { background: url('vote-down.png') no-repeat scroll left center transparent; }
div#not-my-question, div#closed-question { background-color: rgb(238, 238, 238); font-weight: bold; margin: 30px 0pt 10px; padding: 8px; font-size: 14px; }
div#not-my-question span.tag { margin: 0pt 3px; }
div.comments-section { margin-top: 10px; border-top: 1px dashed rgb(204, 204, 204); }
div.comments-item { border-bottom: 1px dashed rgb(204, 204, 204); color: rgb(102, 102, 102); padding: 5px 0pt 5px 10px; }
div.comments-icon { float: right; border: 0pt none; min-height: 20px; }
div.answers-section { margin: 50px 0pt 20px; }
div.answers-section h3 { border-bottom: 1px solid rgb(170, 170, 170); height: 22px; padding-top: 8px; }
.answers-section #tabs { float: right; font-weight: bold; vertical-align: baseline; margin-right: 20px; }
.answers-section #tabs a { display: block; float: left; border: 1px solid rgb(255, 255, 255); height: 20px; padding: 0pt 11px; margin-top: 8px; }
.answers-section #tabs a.activetab { border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(255, 255, 255); border-style: solid; border-width: 1px; height: 26px; margin-top: 3px; line-height: 28px; font-size: 14px; padding: 0pt 11px; color: black; }
.answers-section #tabs a.activetab:hover { background-color: transparent; color: black; }
div.answer-item { margin: 0pt 0pt 20px; padding: 10px 0pt; border-bottom: 1px solid rgb(187, 187, 187); }
div.answer-item:last-child { border: 0pt none; }
div.answer-item .answer-item-user { float: left; width: 80px; overflow: hidden; }
div.answer-item .answer-detail { float: right; width: 485px; }
div.answer-item .answer-content { min-height: 50px; font-size: 14px; }
div#your-answer-form { margin-left: 10px; border-top: 1px solid rgb(102, 102, 102); padding: 10px 0pt; }
h2.side-board-title { padding-left: 28px; margin: 5px 0pt; font-size: 20px; }
h2.board-user { background: url('user-qa-24.png') no-repeat scroll 0pt 0pt transparent; }
a.side-vis:hover { background: none repeat scroll 0% 0% transparent; }
