body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; height: 44px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { width: 680px; position: absolute; left: 197px; top: 17px; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://common.cnblogs.com/blog/css/common.css?id=20120424 ::::: */

img { border: 0px none; }
#MySignature { margin-top: 10px; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { font-size: 12px; }
.sendMsg2This:link, .sendMsg2This:visited, .sendMsg2This:active { font-size: 12px; text-decoration: none; background: url('icomsg.gif') no-repeat scroll left top transparent; }
.sendMsg2This:hover { background: url('icomsg.gif') no-repeat scroll left bottom transparent; }
.RecentComment { overflow: hidden; }
.cnblogs_code { background-color: rgb(245, 245, 245); font-family: Courier New; font-size: 12px; border: 1px solid rgb(204, 204, 204); padding: 5px; overflow: auto; margin: 5px 0px; }
.cnblogs_code pre { font-size: 12px; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#digg_block { margin-top: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 120px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url('upup.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('downdown.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 5px; margin-bottom: 0px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 9pt; color: rgb(0, 0, 0); width: 410px; }
#green_channel a { background: url('undefined') repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0pt -1px 1px rgba(0, 0, 0, 0.25); font-size: 9pt; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; }
#green_channel #green_channel_weibo { background: none repeat scroll 0% 0% transparent; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#cnblogs_post_body ul { list-style-type: disc; }
#cnblogs_post_body ul { margin-left: 45px; }
#cnblogs_post_body ol { padding-left: 50px; }
#cnblogs_post_body ol li { list-style-type: decimal; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#site_nav_under { margin-top: 5px; }
#site_nav_under a { margin-right: 10px; }
#ad_under_comment2 { margin-bottom: 5px; }
#ad_under_comment2 img { margin-bottom: 5px; }
input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
/* ::::: http://common.cnblogs.com/Skins/%E7%BB%BF%E9%87%8E%E4%BB%99%E8%B8%AA/style.css?id=20120424 ::::: */

body { font-size: 12px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; margin: 0px; word-wrap: break-word; }
a:visited, a:active, a:link { color: rgb(0, 0, 255); text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { margin: 0px; font-size: 1.5em; }
h1 a:visited, h1 a:active, h1 a:link { color: rgb(0, 0, 0); }
h1 a:hover { color: rgb(68, 119, 255); text-decoration: none; }
h2 { margin-top: 10px; font-size: 1em; }
#top { padding: 10px; background-color: rgb(170, 221, 255); color: rgb(0, 0, 0); border-bottom: 4px solid rgb(68, 119, 255); }
#tagline { font-size: 0.8em; margin: 0px; }
#main .post { line-height: 1.5; font-size: 14px; }
p { line-height: 1.5; }
p.postfoot { font-size: 0.75em; }
#leftmenu { position: absolute; left: 10px; margin-top: 10px; width: 180px; }
#leftmenu h3, #rightmenu h3 { font-size: 0.9em; margin: 0px; padding: 4px; border-bottom: medium none; }
#leftmenu ul, #rightmenu ul { list-style: none outside none; margin: 0px 0px 10px 5px; padding: 0px; font-size: 0.8em; }
#rightmenu { width: 180px; position: absolute; right: 10px; margin-top: 10px; }
#main { margin: 0px 200px 0px 205px; background-color: rgb(244, 244, 244); padding: 15px; border-left: 1px solid rgb(187, 187, 187); border-right: 1px solid rgb(187, 187, 187); border-bottom: 4px solid rgb(68, 119, 255); }
#footer { margin: 0px; padding-top: 5px; text-align: center; font-size: 0.7em; }
#comments h4 span { color: rgb(153, 153, 153); }
#comments h4 { margin: 0px; font-size: 0.9em; }
p { margin: 10px 0px; }
h3 { font-size: 1.2em; border-bottom: 1px solid rgb(170, 170, 170); }
.Cal { border: 1px solid rgb(153, 153, 153); width: 100%; font-family: Arial; font-size: 12px; margin-top: 10px; margin-bottom: 10px; height: 180px; background-color: rgb(238, 238, 238); }
.CalTitle { background-color: rgb(182, 182, 182); border-color: rgb(170, 221, 255); font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); margin-left: 0px; padding: 0px; height: 100%; font-weight: bold; }
.CalOtherMonthDay { color: rgb(128, 128, 128); }
.CalNextPrev {  }
.CalDayHeader { background-color: rgb(204, 204, 204); }
.CalWeekendDay {  }
h1 a:visited, h1 a:active, h1 a:link { color: rgb(0, 0, 0); }
h1 a:hover { color: rgb(0, 153, 51); }
a:visited, a:active, a:link { color: rgb(0, 153, 51); }
#top { background-image: url('o_xiang.jpg'); height: 200px; background-color: rgb(204, 238, 170); color: rgb(0, 0, 0); border-bottom: 4px solid rgb(0, 153, 51); }
#Header1_HeaderTitle { position: absolute; right: 50px; top: 50px; }
#tagline { position: absolute; right: 55px; top: 85px; color: rgb(0, 153, 51); font-weight: bold; }
p.postfoot { text-indent: 50px; font-size: 11.5px; border-bottom: 1px solid rgb(0, 153, 51); }
#main { border-bottom: 4px solid rgb(0, 153, 51); }
#comments h4 span { color: rgb(153, 153, 153); }
h3 { background-image: url('o_dh.gif'); border-bottom: 1px solid rgb(170, 170, 170); text-align: center; }
/* ::::: http://common.cnblogs.com/blog/css/common2.css ::::: */

p { margin: 5px auto; text-indent: 0px; }
.cnblogs_code span { line-height: 1.5; }
#div_digg .diggnum { line-height: 1.5em; }
#div_digg .burynum { line-height: 1.5em; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255); border: medium none; }
.cnblogs_code { font-family: Courier New; font-size: 12px; }
.cnblogs_code pre { font-family: Courier New; font-size: 12px; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
#cnblogs_post_body ul li { list-style: inherit; }
/* ::::: http://common.cnblogs.com/css/shStyle.css ::::: */

