body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://www.cnblogs.com/css/common.css ::::: */

img { border: 0px none; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { font-size: 12px; }
.RecentComment { overflow: hidden; }
pre { margin-top: 0px; margin-bottom: 0px; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline; }
.clear { clear: both; }
#digg_block { margin-top: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 120px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url('upup.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('downdown.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 5px; margin-bottom: 0px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 9pt; color: rgb(0, 0, 0); width: 380px; }
#green_channel a { background: url('undefined') repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0pt -1px 1px rgba(0, 0, 0, 0.25); font-size: 9pt; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
#ad_text_commentbox { padding-bottom: 10px; }
#site_nav_under a { padding-right: 10px; }
#ad_under_comment2 { margin-bottom: 5px; }
#ad_under_comment2 img { margin-bottom: 5px; }
/* ::::: http://www.cnblogs.com/Skins/arrow/style.css ::::: */

a:link, a:active { color: rgb(52, 104, 164); }
a:visited { color: rgb(52, 104, 164); }
a:hover { color: gray; }
body { margin: 0px; padding: 0px; background: url('bg.gif') repeat fixed left top rgb(255, 255, 255); font-family: verdana,Arial,helvetica,sans-seriff; font-size: 13px; line-height: 160%; }
.header { height: 120px; background: url('banner.jpg') repeat fixed center top rgb(255, 255, 255); border-bottom: 0px solid rgb(0, 0, 0); padding-left: 30px; padding-top: 30px; color: rgb(255, 255, 255); }
a.headermaintitle:visited, a.headermaintitle:active, a.headermaintitle:link { color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; text-decoration: none; }
a.headermaintitle:hover { color: gray; }
#leftcontent { position: absolute; top: 160px; left: 10px; width: 200px; border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(0, 0, 0) rgb(221, 221, 221) rgb(0, 0, 0) rgb(0, 0, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; font-family: Arial; font-size: 12px; }
#leftcontentcontainer { padding: 10px; background-repeat: no-repeat; }
li { font-size: 12px; }
#centercontent { padding-top: 20px; padding-right: 10px; padding-left: 240px; }
#mytopmenu { border: 0px solid rgb(94, 94, 94); padding: 0px 10px; margin-top: 5px; margin-right: 0px; margin-left: 0px; text-align: right; font-size: 12px; }
a.menu:link, a.menu:visited, a.menu:active { color: rgb(52, 104, 164); }
a.menu:hover { color: gray; }
#mylinks { font-size: 12px; position: absolute; padding: 5px 12px 0px; left: 0px; }
.footer { background-image: url('bg_footer.gif'); background-repeat: repeat; color: rgb(255, 255, 255); padding: 12px 12px 12px 10px; margin-top: 0px; margin-right: 10px; margin-left: 0px; text-align: center; line-height: 40px; }
a.footerlink:link, a.footerlink:visited, a.footerlink:active { color: white; }
a.footerlink:hover { color: rgb(221, 221, 221); }
.newsItem { margin-top: 2px; margin-bottom: 20px; text-align: center; }
.post { background-image: url('day_bg.gif'); background-repeat: no-repeat; background-position: right top; border: 1px solid rgb(221, 221, 221); padding: 20px; color: rgb(75, 75, 75); font-size: 13px; }
.postTitle { font-size: 14.7px; font-weight: bold; margin-bottom: 10px; }
.postTitle h1 { font-size: 14.7px; font-weight: bold; margin-bottom: 10px; }
.postTitle2 { text-decoration: none; }
.postDesc { color: rgb(48, 48, 48); margin-top: 10px; text-align: right; }
.catListTitle { background: url('title.gif') no-repeat fixed left top transparent; font-family: verdana; font-size: 14.7px; font-weight: bold; color: rgb(102, 102, 102); margin-bottom: 10px; padding-top: 12px; padding-left: 30px; }
h3 { background: url('title.gif') no-repeat fixed left top transparent; font-family: verdana; font-size: 14px; font-weight: bold; color: rgb(102, 102, 102); margin-bottom: 10px; padding-top: 12px; padding-left: 30px; }
.catList { list-style: none outside none; border-top: 0px none; margin: 0px 0px 20px; padding-left: 10px; }
ul { list-style: none outside none; margin: 0px 0px 10px 5px; padding-left: 5px; font-size: 11px; }
h1 { margin: 10px 0px 5px; font-size: 14.7px; color: rgb(102, 102, 102); text-align: left; }
html * { -moz-box-sizing: border-box; }
.commentform { margin-left: 10px; }
/* ::::: http://www.cnblogs.com/css/common2.css ::::: */

.login_tips a { text-decoration: underline; }
#div_digg .diggnum { line-height: 1.5em; }
#div_digg .burynum { line-height: 1.5em; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255); border: medium none; }
/* ::::: http://common.cnblogs.com/css/shCore.css ::::: */

/* ::::: http://common.cnblogs.com/css/shThemeDefault.css ::::: */

/* ::::: http://www.cnblogs.com/del/customcss.aspx?id=30694 ::::: */

.mySearch { display: none; }
#profile_block { display: none; }
.menu { font-size: 12.8px; font-weight: bold; }
.postDesc { font-size: 13px; }
.postTitle { background-color: rgb(239, 239, 239); padding-left: 8px; padding-top: 3px; padding-bottom: 0px; border: 1px solid rgb(204, 204, 204); font-family: "Verdana","Arial"; }
.post { line-height: 132%; position: relative; left: -10px; font-size: 14px; font-family: Verdana,Arial; }
pre { font-family: "Courier New","Verdana","Arial"; font-size: inherit; color: rgb(0, 0, 0); padding: 0px; }
.bt { display: none; }
li { font-size: 12.8px; padding-bottom: 10px; }
hr { border: 1px dashed rgb(128, 128, 128); height: 1px; }
.catListTitle { position: relative; top: 0pt; }
.catList { position: relative; top: 0pt; }
.RecentComment { position: relative; }
.asm { font-family: Courier New,Verdana; color: rgb(85, 85, 85); }
