/* ::::: http://iknow.bdimg.com/base/css/iknow_base.css ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0pt; padding: 0pt; }
body, button, input, select, textarea { font: 12px/1.5 arial,宋体,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
code, kbd, pre, samp { font-family: courier new,courier,monospace; }
ul, ol { list-style: none outside none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
fieldset, img { border: 0pt none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0pt; }
.details { font-size: 12px; line-height: 22px; color: rgb(102, 102, 102); font-family: tahoma; vertical-align: middle; }
#body, button, input, select, textarea { font: 14px/24px arial,宋体,sans-serif; vertical-align: middle; }
h1, h3 { font-weight: bold; display: block; }
#body h1 { font-size: 15px; }
.f12 { font-size: 12px; line-height: 22px; }
.bold { font-weight: bold; }
a:link, a:visited { text-decoration: none; vertical-align: baseline; }
a:hover { text-decoration: underline; }
a:link, a:visited { color: rgb(19, 61, 182); }
a:hover { color: rgb(19, 61, 182); }
#body .red { color: rgb(213, 81, 17); }
#body .black { color: rgb(0, 0, 0); }
#body .gray { color: rgb(102, 102, 102); }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.align-r { text-align: right; }
.align-c { text-align: center; }
.clear { clear: both; }
.clf:after { clear: both; content: " "; display: block; font-size: 0pt; line-height: 0; visibility: hidden; width: 0pt; height: 0pt; }
.clf { clear: both; }
.v-split { color: rgb(193, 193, 193); margin: 0pt 5px; }
#page, #header, #body, #footer { margin-left: auto; margin-right: auto; }
#page { padding-top: 22px; padding-bottom: 30px; }
.l-main-col { float: left; width: 100%; min-height: 1px; }
.l-aside, .l-extend { float: left; }
.l-grid-2:after, .l-grid-3:after, .l-main-wrap:after, .l-aside:after, .l-extend:after { content: " "; display: block; height: 0pt; clear: both; }
.l-grid-2, .l-grid-3, .l-main-wrap, .l-aside, .l-extend {  }
.container-33 { margin-left: auto; margin-right: auto; width: 980px; position: relative; }
.span-10 { width: 290px; margin-left: -290px; }
.span-23 { width: 680px; }
.l-grid-2 .l-main-wrap { margin: 0pt; }
.box-gr-top { background: none repeat scroll 0% 0% rgb(252, 254, 252); border-color: rgb(76, 190, 0) rgb(227, 227, 227) rgb(227, 227, 227); border-style: solid; border-width: 2px 1px 1px; }
.box-gray { border: 1px solid rgb(214, 214, 214); }
.box-pink { border: 1px solid rgb(250, 222, 196); background: none repeat scroll 0% 0% rgb(255, 252, 246); }
.box-rod {  }
.box-rod .rod2, .box-rod .rod3 { height: 1px; border: 0pt solid; margin: 0pt 1px; overflow: hidden; }
.box-rod .rod1 { margin: 0pt 3px; border-top: 1px solid; height: 0pt; font-size: 0pt; overflow: hidden; }
.box-rod .rod4 { margin: 0pt 3px; border-bottom: 1px solid; height: 0pt; font-size: 0pt; overflow: hidden; }
.box-rod .rod2 { border-left-width: 2px; border-right-width: 2px; }
.box-rod .rod3 { border-left-width: 1px; border-right-width: 1px; }
.box-rod .rod { border-left: 1px solid; border-right: 1px solid; }
#usrbar { font: 12px arial; text-align: right; position: absolute; right: 0pt; padding-right: 10px; top: 3px; z-index: 65532; width: 100% ! important; }
#usrbar a:link, #usrbar a:visited { text-decoration: underline; color: rgb(38, 28, 220); }
.tip-holder { width: 231px; position: absolute; background: url('tip_bg.gif') no-repeat scroll left bottom transparent; z-index: 1; }
.tip-body { padding: 0pt 10px 12px; line-height: 18px; }
.tip-right-arrow { background: url('tip_bg.gif') no-repeat scroll right top rgb(255, 255, 255); height: 20px; }
.tip-icon { float: left; }
.tip-close { float: right; cursor: pointer; }
.tip-body dl { margin: 0pt 0pt 0pt 45px; padding: 0pt; }
.tip-body dt { font-weight: bold; margin: 0pt; padding: 0pt; }
.tip-body dd { margin: 0pt; padding: 0pt; }
.tip-body .tip-more { text-align: right; }
.top-search-box .logo { float: left; margin-right: 9px; padding-top: 3px; }
.top-search-box ul { height: 16px; line-height: 16px; margin-bottom: 4px; }
.top-search-box li { float: left; font-size: 14px; margin-right: 12px; }
.top-search-box .box a { margin-left: 6px; float: left; line-height: 27px; }
.top-search-box a:link, .top-search-box a:visited { text-decoration: underline; color: rgb(38, 28, 220); }
.top-search-box .pipe { float: left; line-height: 27px; margin-left: 6px; }
.top-search-box .hdi { font-family: Arial; font-size: 16px; line-height: 19px; padding: 3px 1px; width: 358px; float: left; }
.top-search-box .btns { padding-top: 3px; clear: left; }
#top-search-form { float: left; }
#top-ask-btn { margin: 0pt 5px ! important; }
.tangram_sug_wpr { border: 1px solid rgb(129, 127, 130); position: absolute; top: 28px; left: 0pt; }
#footer, #footer a:link, #footer a:visited { clear: both; margin-top: 10px; text-align: center; color: rgb(119, 119, 204); font: 12px/1.5 Arial; white-space: nowrap; }
.btn-global { height: 2em; width: 6em; font-size: 14px; font-family: Arial; padding-top: 2px; }
a.operation:link, a.operation:visited, button.operation { display: inline-block; padding: 0pt 15px; height: 23px; min-width: 54px; background: url('global.png') no-repeat scroll left -263px transparent; font: 12px/23px '宋体'; text-align: center; white-space: nowrap; vertical-align: middle; color: rgb(88, 155, 0); text-decoration: none; }
a.operation:hover, button.operation:hover { background-position: left -263px; color: rgb(123, 190, 36); }
a.button { display: inline-block; height: 19px; width: 62px; font-size: 0pt; line-height: 10; overflow: hidden; background: url('global.png') no-repeat scroll left -132px transparent; vertical-align: middle; }
a.b-askhelp, a.b-askhelp-expert { background-position: -188px -144px; width: 54px; height: 17px; }
a.icon, span.icon { font-family: tahoma; }
a.icon, span.icon { display: inline-block; padding-left: 20px; line-height: 24px; background: url('global_001.png') no-repeat scroll left 30px transparent; font-family: tahoma; vertical-align: middle; height: 24px; }
a.i-finished, span.i-finished { background-position: left -2px; }
a.i-relatedanswer, span.i-relatedanswer { background-position: left -152px; }
a.i-waitinganswer, span.i-waitinganswer { background-position: left -182px; }
a.i-thanks, span.i-thanks { background-position: left -212px; }
a.i-reward, span.i-reward { background-position: left -272px; }
a.i-itieba, span.i-itieba { background-position: 0pt -1118px; }
a.i-sina, span.i-sina { background-position: 0pt -1141px; }
a.i-qqzone, span.i-qqzone { background-position: 0pt -1216px; }
a.i-renren, span.i-renren { background-position: 0pt -1270px; }
a.i-qqwb, span.i-qqwb { background-position: 0pt -1384px; }
a.i-douban, span.i-douban { background-position: 0pt -1352px; }
a.i-msn, span.i-msn { background-position: 0pt -1296px; }
/* ::::: http://iknow.bdimg.com/qb/qb.css ::::: */

html { background: url('undefined') repeat fixed 0% 0% transparent; }
span.answer-type { display: inline-block; width: 23px; height: 32px; font-size: 0pt; line-height: 20; background: url('qb-bg.png') no-repeat scroll 0% 0% transparent; vertical-align: middle; overflow: hidden; }
span.optimal { background-position: -24px -310px; }
.bread { line-height: 14px; margin: -5px 0pt 6px; }
.bread a { font-size: 12px; }
.qbox {  }
.qbox .header { background: url('qb-bg.png') repeat-x scroll 0pt -45px transparent; height: 64px; overflow: hidden; }
.qbox .body { padding: 10px 24px; position: relative; margin-top: -64px; }
.qbox .question h1 { word-wrap: break-word; position: relative; }
.qbox .question .details { margin: 2px 0pt 0pt; font-family: tahoma; }
.qbox .question .details .visited-times { float: right; white-space: nowrap; }
.user-head-img { border: 1px solid rgb(227, 227, 227); display: block; }
.qbox .question-title { position: relative; top: 0pt; left: 26px; display: block; margin-right: 25px; overflow: hidden; }
.qbox h1 .icon { height: 20px; padding-left: 26px; position: absolute; left: 0pt; }
.qbox .i-finished { background-position: 0pt -5px; }
.qbox span.i-reward { background: url('global_001.png') no-repeat scroll left -278px transparent; padding-left: 20px; }
.box-gray .header { padding: 0pt 15px; }
.best-answer-panel { padding-top: 0pt; position: relative; z-index: 100; }
.best-answer-panel .header { padding-left: 24px; background: url('qb-bg.png') repeat-x scroll 0pt -110px transparent; height: 52px; overflow: hidden; margin-bottom: -10px; }
.best-answer-panel .answer-type, .recommend-answer-panel .answer-type { float: left; }
.best-answer-title { float: left; margin-top: 7px; font-size: 15px; }
.best-answer-panel .body { padding: 0pt 24px 10px; position: relative; z-index: 2; clear: both; }
.best-answer-panel .details { margin-top: 20px; position: relative; }
.best-replyer { border-top: 1px dashed rgb(187, 187, 187); margin-top: 10px; padding-top: 10px; }
#best-answer-content { line-height: 22px; }
.best-replyer .avarta, .best-replyer .carefield { float: left; }
.best-replyer .carefield { font-size: 12px; font-family: tahoma; }
.best-replyer .carefield p { padding-bottom: 0pt; }
.ans-panel, .relative-panel, .uoperator-panel, .push-panel { padding: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.relative-panel .i-relatedanswer { padding-left: 25px; background-position: left -154px; }
.push-panel .i-waitinganswer { padding-left: 25px; background-position: left -184px; }
.push-more { float: left; margin-top: 10px; }
.push-ans-num { float: right; font-size: 12px; color: rgb(102, 102, 102); font-family: tahoma; }
.push-score { background: url('global_001.png') no-repeat scroll 0pt -270px transparent; color: rgb(213, 81, 17); float: left; padding-left: 20px; padding-right: 5px; display: inline-block; line-height: 32px; }
.push-ans-title { float: left; }
.cle:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.cle { display: inline-block; }
.cle { display: block; }
.avarta .img { line-height: 0; font-size: 0pt; padding-left: 2px; text-align: center; }
.best-answer-panel .content {  }
.push-panel .body, .relative-panel .body { padding: 0pt 15px; }
.push-panel li, .relative-panel li { border-bottom: 1px dashed rgb(227, 227, 227); line-height: 30px; position: relative; clear: both; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.relative-panel li span.mid { width: 60px; text-align: left; margin-left: 6px; }
.relative-panel li span.mid .icon { padding-left: 24px; line-height: 22px; background-position: left -217px; }
.relative-panel li a, .push-panel li a { display: inline-block; }
.relative-panel li span.details, .push-panel li span.details { position: absolute; right: 0pt; top: 6px; }
.relative-panel .mid .red { font-size: 12px; }
.share-panel { padding: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.share-panel span { margin-left: 5px; }
.share-panel a { vertical-align: middle; margin: 0pt 5px; line-height: 20px; }
.round-block-gray .rod2, .round-block-gray .rod3, .round-block-gray .rod1, .round-block-gray .rod4, .round-block-gray .rod { border-color: rgb(227, 227, 227); }
.login-panel .rod, .rec .rod { padding: 2px 2px 10px; }
.login-kernel { margin: 15px 20px 0pt; padding-bottom: 10px; border-bottom: 1px solid rgb(232, 232, 232); }
.login-kernel .operation { width: 84px; border: medium none; cursor: pointer; }
.pass-username, .pass-password, .pass-verifycode { font-size: 12px; margin: 6px 0pt; }
.pass-username input, .pass-password input, .pass-verifycode input { height: 21px; line-height: 21px; border: 1px solid rgb(190, 190, 190); padding-left: 2px; width: 160px; }
.pass-username label, .pass-password label, .pass-verifycode label { margin-right: 4px; }
.pass-mem_pass { font-size: 12px; margin-left: 54px; margin-top: 10px; }
.pass-mem_pass label { margin-left: 6px; }
.pass-submit { margin-top: 10px; margin-left: 70px; }
.pass-submit a { font-size: 12px; vertical-align: -6px; margin-left: 4px; }
.reg { margin: 10px 0pt 0pt; text-align: center; }
#qb-ad-cpro, #qb-ad-cpro td, #qb-ad-cpro div { font-family: Arial; font-size: 12px; line-height: 18px; }
#qb-ad-cpro div.r { line-height: 18px; }
#qb-ad-cpro .r a:link, #qb-ad-cpro .r a:visited { color: rgb(38, 28, 220); font-size: 12px; font-family: Arial; text-decoration: underline; }
#qb-ad-cpro div.r font { font-size: 14px; }
#qb-ad-cpro div.r span font { font-size: 12px; }
#qb-ad-cpro table { table-layout: fixed; word-wrap: break-word; }
.r { cursor: pointer; width: 270px; }
.ad-fc-down { line-height: 20px; }
.ad-fc-down a:link, .ad-fc-down a:visited { color: rgb(38, 28, 220); font-size: 12px; font-family: Arial; text-decoration: underline; }
.ad-fc-down a:hover { color: rgb(38, 28, 220); }
pre { white-space: pre-wrap; word-wrap: break-word; font-family: Arial; }
.value-block { background: url('qb-bg.png') no-repeat scroll left -252px transparent; height: 29px; float: left; cursor: pointer; width: 84px; overflow: hidden; }
.value-tip { color: rgb(200, 118, 115); font-size: 12px; text-align: center; line-height: 27px; }
.value-num { color: rgb(223, 72, 67); font-weight: bold; line-height: 29px; padding-left: 40px; overflow: visible; text-align: left; }
.ask-btn { line-height: 19px; font-family: tahoma; margin-top: 2px; }
.extra-panel { background: none repeat scroll 0% 0% rgb(240, 240, 240); }
.qbox .question h1, .push-panel-title, .ans-panel-title strong, .best-answer-title, .thank-info p, .relative-panel-title { font-size: 15px; font-family: '微软雅黑'; }
.accuse-link a:link, .accuse-link a:visited { color: gray; }
#layer-share, #test-layer { padding: 6px; position: absolute; top: 26px; left: -4px; z-index: 100; display: none; width: 146px; background: url('blank.gif') repeat scroll 0% 0% transparent; }
#layer-share .layer-share-inner, #test-layer .layer-share-inner { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#layer-share .layer-share-kernel, #test-layer.layer-share-kernel {  }
#layer-share .share-arrow { position: absolute; top: -4px; left: 20px; width: 12px; height: 5px; background: url('arrow.gif') no-repeat scroll 0% 0% transparent; }
#layer-share .icon, #test-layer .icon { height: 22px; display: block; padding-left: 26px; margin: 0pt 5px; }
#layer-share .share-hd, #test-layer .share-hd { margin: 0pt 5px; padding: 3px 0pt; border-bottom: 1px solid rgb(222, 222, 222); font-weight: bold; color: rgb(110, 110, 110); }
#layer-share .share-list, #test-layer .share-list { margin: 0pt 1px; }
#layer-share .share-list li, #test-layer .share-list li { list-style: none outside none; margin: 3px 0pt 0pt; }
#layer-share .share-list a, #test-layer .share-list a { line-height: 24px; text-decoration: none; color: rgb(102, 102, 102); }
#layer-share .share-list a:hover, #test-layer .share-list a:hover { background-color: rgb(238, 238, 238); }
/* ::::: http://iknow.bdimg.com/qb/guide.css ::::: */

#new-guide-container { width: 322px; height: 282px; clear: both; overflow: hidden; position: absolute; right: 4px; bottom: 2px; background: url('newguide.png') no-repeat scroll 0pt 0pt transparent; z-index: 99000; }
.guidenote { border: 0pt none; margin: 110px 0pt 0pt; padding: 0pt 24px; color: rgb(102, 102, 102); }
.guidenote p { color: rgb(63, 121, 23); font-weight: bold; margin: 0pt; }
.guidenote ul { margin: 0pt; padding: 0pt; }
.guidenote li { color: rgb(63, 121, 23); float: left; width: 120px; list-style: none outside none; padding-left: 15px; background: url('newguide.png') no-repeat scroll 5px -338px transparent; }
.guidbutton { text-align: center; margin: 10px 0pt; padding: 0pt; }
.guidjoin_btn { width: 116px; height: 36px; margin: 0pt; padding: 0pt; border: 0pt none; background: url('newguide.png') no-repeat scroll -339px -62px transparent; cursor: pointer; }
.guideinput, .guidebutton { margin: 0pt; padding: 0pt; border: 0pt none; background: none repeat scroll 0% 0% transparent; height: 28px; line-height: 28px; font-size: 14px; width: 145px; }
.blur { color: rgb(204, 204, 204); }
.guidebutton { margin-left: 5px; width: 70px; color: rgb(65, 122, 32); cursor: pointer; }
.guidsearchPanel { padding: 6px 0pt 0pt 12px; }
#newuserguideHandle { background: url('newguide.png') no-repeat scroll -330px -6px transparent; width: 20px; height: 20px; position: absolute; top: 70px; right: 10px; cursor: pointer; }
#guidesearchbutton { background: url('newguide.png') no-repeat scroll -337px -207px transparent; }
#guideaskbutton { background: url('newguide.png') no-repeat scroll -337px -147px transparent; }
.ad-fc-down { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
