/* ::::: http://s.xnimg.cn/a33660/n/core/global-all-min.css ::::: */

html { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); direction: ltr; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
details:not([open]) > :not(summary) { display: none; }
html {  }
body { font-size: 9pt; font-family: Tahoma,Verdana,STHeiTi,simsun,sans-serif; }
strong { font-weight: bold; }
a:link, a:visited { color: rgb(0, 94, 172); text-decoration: none; }
a:hover { color: rgb(0, 94, 172); text-decoration: underline; }
p { line-height: 1.4em; }
label select, label input, label textarea { vertical-align: middle; }
input[type="text"], input[type="password"] { border: 1px solid rgb(189, 199, 216); padding: 0.4ex; width: 120px; }
select { height: 22px; border: 1px solid rgb(189, 199, 216); line-height: 1.1; padding: 1px; }
.box, .hbox, .clearfix {  }
.box:after, .hbox:after, .clearfix:after { content: " "; display: block; clear: both; }
#topbar { top: 0pt; left: 10px; right: 10px; margin: 0pt auto; }
.clearfix {  }
.clearfix:after { content: " "; display: block; clear: both; }
ul { list-style: none outside none; }
input.inputtext:focus, textarea:focus, select:focus { -moz-background-inline-policy: continuous; background: none repeat scroll 0pt 0pt rgb(252, 252, 252); }
select { border: 1px solid rgb(189, 199, 216); height: 22px; padding: 2px; }
body { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); word-wrap: break-word; }
h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 14px; font-weight: bold; }
h3 { font-size: 14px; font-weight: bold; }
h4 { font-size: 12px; font-weight: bold; }
option { padding-left: 5px; }
.pipe { margin: 0pt 3px; color: rgb(170, 170, 170); font-size: 11px; font-weight: 400; }
.empty { visibility: hidden; }
.full-page { width: 980px; margin: 0pt auto; overflow: hidden; padding-bottom: 10px; }
input, select { vertical-align: middle; font-size: 12px; }
label { color: rgb(51, 51, 51); cursor: pointer; }
select, label, textarea, input { font-family: "lucida grande",tahoma,verdana,arial,STHeiTi,simsun,sans-serif; }
.input-text { border: 1px solid rgb(189, 199, 216); padding: 3px; }
.input-button, .input-submit { background-color: rgb(0, 94, 172); border-color: rgb(184, 212, 232) rgb(18, 70, 128) rgb(18, 70, 128) rgb(184, 212, 232); border-style: solid; border-width: 1px; color: rgb(255, 255, 255); cursor: pointer; font-size: 12px; padding: 2px 15px; text-align: center; }
.inputbutton, .inputsubmit, .subbutton, .canbutton, .button-group button { height: 24px; font-size: 12px; padding: 3px 15px; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(216, 223, 234) rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234); background: none repeat scroll 0% 0% rgb(0, 94, 172); color: rgb(255, 255, 255); line-height: 16px; cursor: pointer; text-align: center; }
table.pop_dialog_table { border-collapse: collapse; margin: auto; table-layout: fixed; }
td.pop_topleft, td.pop_topright, td.pop_bottomleft, td.pop_bottomright { height: 10px; overflow: hidden; padding: 0px ! important; width: 10px ! important; }
td.pop_topleft { background-image: url('pop_dialog_top_left.png') ! important; }
td.pop_topright { background-image: url('pop_dialog_top_right.png') ! important; }
td.pop_bottomleft { background-image: url('pop_dialog_bottom_left.png') ! important; }
td.pop_bottomright { background-image: url('pop_dialog_bottom_right.png') ! important; }
td.pop_border { background-image: url('pop_dialog_border.png') ! important; }
td.pop_content { background-color: rgb(255, 255, 255); padding: 0pt; }
td.pop_content h2 { background: none repeat scroll 0% 0% rgb(55, 119, 188); border: 1px solid rgb(0, 94, 172); color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; margin: 0pt; }
td.pop_content h2 span { display: block; padding: 4px 10px 5px; }
td.pop_content input, td.pop_content select { vertical-align: middle; }
td.pop_content p { margin-bottom: 1ex; }
td.pop_content h2 a { float: right; padding: 6px 10px; color: rgb(255, 255, 255); font-weight: 400; font-size: 12px; }
td.pop_content h2 a:hover { color: rgb(255, 255, 255); }
.share_buttons { text-align: center; padding: 0pt 60px 10px 0pt; }
.share_buttons input { margin: 0pt 5px; }
.site-nav { z-index: 20; }
.navigation-wrapper { width: 980px; margin: 0pt auto; }
.navigation { width: 980px; background-color: rgb(0, 94, 172); }
.navigation .nav-other { float: right; }
.navigation .nav-other .menu { margin: 0pt; }
.navigation .nav-other .menu-title a { font-weight: normal; font-size: 12px; padding: 0pt 5px; }
.navigation .nav-other .last { margin-right: 10px; }
.dropmenu-holder { position: relative; margin: 0pt auto; width: 980px; height: 0pt; z-index: 999999; }
.dropmenu-holder * {  }
.navigation .menu { float: left; height: 35px; line-height: 35px; margin-right: 1px; overflow: hidden; }
.navigation .menu-title { font-size: 14px; }
#logo2 { float: left; height: 35px; }
#logo2 a { outline: medium none; display: block; }
#logo2 img { display: block; }
.navigation .menu-title a { padding: 0pt 5px; display: block; color: rgb(255, 255, 255); outline: 0pt none; }
.navigation .menu-title a:visited { color: rgb(255, 255, 255); }
.navigation .menu-title a:hover, .navigation .menu-title a.hover { text-decoration: none; background-color: rgb(55, 119, 188); }
.menu-dropdown-border { border: 1px solid rgb(0, 94, 172); }
.dropdown { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 230px; }
.dropdown ul { list-style: none outside none; padding-left: 15px; }
.dropdown ul li { float: left; width: 70px; height: 24px; line-height: 24px; }
.dropdown ul li a { display: block; outline: 0pt none; }
.menu-dropdown-border { border: 1px solid rgb(0, 94, 172); }
.weblist { padding: 3px 0pt; }
.reg-tip { height: 55px; width: 978px; margin-bottom: 20px; border-right: 1px solid rgb(184, 212, 232); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(184, 212, 232) rgb(184, 212, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(240, 245, 248); position: relative; }
.reg-tip h4 { float: left; text-indent: -9999em; width: 310px; height: 20px; margin: 17px 0pt 17px 240px; background: url('guest-page.png') no-repeat scroll 0pt 0pt transparent; }
.reg-tip .reg-now { float: left; margin: 10px; }
.reg-tip .reg-now a { width: 108px; height: 34px; display: block; text-indent: -9999em; outline: medium none; background: url('join-btn2.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl, .reg-tip span.r-br { width: 6px; height: 6px; display: block; overflow: hidden; position: absolute; background: url('guest-page.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl { background-position: -425px 0pt; top: 50px; left: -1px; }
.reg-tip span.r-br { background-position: -419px 0pt; top: 50px; right: -1px; }
.site-footer { width: 980px; margin: 0pt auto 90px; border-top: 1px solid rgb(206, 225, 238); padding-top: 10px; overflow: hidden; }
.site-footer:after { content: " "; display: block; clear: both; }
.site-footer .copyright { float: left; color: rgb(128, 128, 128); width: auto ! important; }
.site-footer ul.link { float: right; margin-right: -10px; }
.site-footer ul.link li { display: inline-block; margin-right: 1ex; }
.site-footer ul.link li:after { content: " |"; color: rgb(170, 170, 170); }
.site-footer .main { overflow: hidden; }
.site-footer .haoes { clear: both; color: rgb(136, 136, 136); font-family: tahoma,mingliu; font-size: 11px; padding: 8px; background: none repeat scroll 0% 0% rgb(247, 247, 247); margin-top: 15px; }
.site-footer .haoes a, .site-footer .haoes a:link, .site-footer .haoes a:hover, .site-footer .haoes a:visited { color: rgb(136, 136, 136); }
.site-footer .dot { font-weight: bold; margin: 0pt 8px; }
.back-to { position: fixed; bottom: 35px; right: 10px; z-index: 999; width: 50px; }
.back-to .backtotop { float: left; display: block; width: 50px; height: 50px; background: url('backtotop.gif') no-repeat scroll center center rgb(102, 102, 102); margin-bottom: 15px; outline: 0pt none; text-indent: -9999em; border-radius: 4px 4px 4px 4px; position: relative; }
.back-to .backtotop:hover { background-color: rgb(51, 51, 51); }
.back-to .backtotop .back-tip { position: absolute; visibility: hidden; top: -31px; left: -10px; }
.back-to .backtotop:hover .back-tip { visibility: visible; }
.site-nav { padding-bottom: 10px; }
/* ::::: http://jebe.xnimg.cn/29998/widgetbox.css ::::: */

/* ::::: http://s.xnimg.cn/a19425/csspro/apps/seo/seo-xz.css ::::: */

.reg-tip { height: 55px; width: 940px; margin: 0pt auto; border-right: 1px solid rgb(184, 212, 232); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(184, 212, 232) rgb(184, 212, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(240, 245, 248); position: relative; }
.reg-tip h4 { float: left; text-indent: -9999em; width: 310px; height: 20px; margin: 17px 0pt 17px 240px; background: url('guest-page.png') no-repeat scroll 0pt 0pt transparent; }
.reg-tip .reg-now { float: left; margin: 10px; }
.reg-tip .reg-now a { width: 108px; height: 34px; display: block; text-indent: -9999em; outline: medium none; background: url('join-btn2.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl, .reg-tip span.r-br { width: 6px; height: 6px; display: block; overflow: hidden; position: absolute; background: url('guest-page.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl { background-position: -425px 0pt; top: 50px; left: -1px; }
.reg-tip span.r-br { background-position: -419px 0pt; top: 50px; right: -1px; }
#reg_tright { clear: both; background: none repeat scroll 0% 0% rgb(243, 250, 255); border-bottom: 1px solid rgb(212, 228, 239); text-align: right; padding: 0pt 10px 0pt 5px; height: 28px; line-height: 28px; margin-bottom: 10px; }
td.pop_content h2 a { float: right; margin: 6px 10px 0pt 0pt; padding: 0pt; display: inline; color: rgb(255, 255, 255) ! important; position: relative; font-weight: normal; font-size: 12px; }
.main_regform .share_buttons { margin-bottom: 10px; padding-left: 90px; text-align: left; }
.main_regform .share_buttons .inputsubmit { width: 168px; height: 40px; background: url('share_btn.png') no-repeat scroll 0% 0% transparent; border: 0pt none; cursor: pointer; }
.share_login { padding: 20px 0pt 0pt 70px; display: none; }
.share_login p { font-size: 12px; color: rgb(51, 51, 51); padding: 10px 0pt; }
.share_login p label { color: rgb(51, 51, 51); }
.share_login p.autologin label { padding-left: 32px; color: rgb(0, 94, 172); font-weight: normal; }
.share_login p.autologin a { margin-left: 30px; }
.share_login .input-text { width: 167px; height: 18px; border: 1px solid rgb(195, 198, 205); font-size: 14px; }
.share_login #poplogin { margin-left: 36px; margin-bottom: 20px; }
#loginerr { color: rgb(255, 0, 0); font-weight: bold; margin: 10px 0pt -20px 102px; }
#mask_layer { height: 100%; }
/* ::::: http://s.xnimg.cn/a24208/csspro/apps/invite-reg-form.css ::::: */

ul, p { margin: 0pt; padding: 0pt; list-style: none outside none; }
img { border: 0pt none; }
a { color: rgb(0, 94, 172); text-decoration: none; }
a:hover { color: rgb(0, 94, 172); text-decoration: underline; }
input, select, textarea { font-size: 12px; font-family: Tahoma,Verdana,sans-serif,simsun; }
select { padding: 2px; }
label { color: rgb(102, 102, 102); cursor: pointer; font-weight: 700; }
.inputtext, textarea { border: 1px solid rgb(189, 199, 216); padding: 5px 4px; }
input.inputtext:focus, textarea:focus { background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.form_row label { font-size: 16px; color: rgb(51, 51, 51); float: left; font-weight: bold; line-height: 1.6em; margin-right: 10px; text-align: right; width: 120px; }
.input_wrap label { width: auto; }
.form_row label.labelRadio { width: 50px; font-weight: normal; text-align: left ! important; }
.form_row label.empty { visibility: hidden; }
.form_row .inputtext { float: left; font-size: 15px; height: 18px; line-height: 18px; width: 212px; }
.form_row span { line-height: 1.8em; color: rgb(128, 128, 128); }
.form_row { clear: both; padding: 12px 0pt 0pt; width: 600px; display: inline-block; }
.form_row:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.form_row { display: block; }
.main_regform .form_row { width: auto; }
.form_row .input_wrap { float: left; }
#icode { width: 100px; vertical-align: middle; }
.validate-num { vertical-align: middle; margin: 0pt 5px 0pt 0pt; float: none; }
#dmmg, #xmg, #mg, #mmg, #rmg { margin: 5px 0pt 0pt 8px; display: block; float: left; }
.box-error { float: left; width: 235px; display: none; }
.box-error-outer { background: url('app_reg_tip_bg.gif') no-repeat scroll 0% 0% transparent; }
.box-error-inner { background: url('app_reg_tip_bg.gif') no-repeat scroll 100% -30px transparent; }
.box-error-inner p span { float: none; color: rgb(51, 51, 51); height: auto; line-height: 1.2em; padding-left: 0pt; }
.box-error p { padding: 0pt 2px 0pt 20px; height: 30px; line-height: 31px; overflow: hidden; margin: 0pt; color: rgb(153, 153, 153); white-space: nowrap; }
#p_birthday .input_wrap label { width: auto; font-size: 12px; font-weight: normal; }
#p_gender { padding: 8px 0pt 0pt; margin-top: 3px; }
.icode_row { padding: 10px 0pt 5px; height: 47px; overflow: hidden; }
.icode_input_row { padding-bottom: 15px; }
.b_tip, #name_tip { padding: 6px 0pt 0pt; clear: both; }
.generic_dialog_popup { padding-top: 80px; }
.generic_dialog_popup #regform { padding: 12px 0pt 0pt; margin: 0pt; }
.generic_dialog_popup .form_row { position: relative; width: auto; padding-top: 8px; }
.generic_dialog_popup .box-error { position: absolute; top: -5px; right: 4px; width: 220px; display: none; background: url('bottom-left-w.gif') no-repeat scroll 6px 100% transparent; }
.generic_dialog_popup .form_row .inputtext { font-size: 12px; height: 14px; line-height: 1.2em; }
.generic_dialog_popup .form_row label { font-size: 14px; width: 85px; line-height: 2em; font-weight: normal; }
.generic_dialog_popup .form_row label.labelRadio { width: 50px; }
.generic_dialog_popup #p_birthday .box-error, .generic_dialog_popup #p_gender .box-error { width: auto; }
.generic_dialog_popup #p_gender .box-error { right: 170px; }
.generic_dialog_popup .box-error-outer { background: url('bottom-right-w.gif') no-repeat scroll 100% 100% transparent; }
.generic_dialog_popup .box-error-inner { padding-left: 5px; background-color: transparent; background-image: url('top-left-w.gif'); background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-position: 0pt 0pt ! important; }
.generic_dialog_popup .box-error-inner p span { float: none; color: rgb(51, 51, 51); height: auto; line-height: 1.2em; padding-left: 0pt; }
.generic_dialog_popup .box-error p { white-space: normal; background: url('top-right-w.gif') no-repeat scroll right top transparent; padding: 16px 20px 20px 22px; margin: 0pt; height: auto; line-height: 1.5em; color: rgb(51, 51, 51); }
td.pop_content { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0pt; }
table.pop_dialog_table { border-collapse: collapse; margin: auto; table-layout: fixed; }
td.pop_topleft, td.pop_topright, td.pop_bottomleft, td.pop_bottomright { height: 10px; overflow: hidden; padding: 0px ! important; width: 10px ! important; }
td.pop_topleft { background-image: url('pop_dialog_top_left_001.png') ! important; }
td.pop_topright { background-image: url('pop_dialog_top_right_001.png') ! important; }
td.pop_bottomleft { background-image: url('pop_dialog_bottom_left_001.png') ! important; }
td.pop_bottomright { background-image: url('pop_dialog_bottom_right_001.png') ! important; }
td.pop_border { background-image: url('pop_dialog_border_001.png') ! important; }
td.pop_content h2 { background: none repeat scroll 0% 0% rgb(55, 119, 188); border: 1px solid rgb(0, 94, 172); color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; margin: 0pt; }
td.pop_content h2 span { display: block; font-size: 14px; line-height: normal; padding: 4px 10px 5px; }
.mask_layer { position: fixed; top: 0pt; left: 0pt; right: 0pt; bottom: 0pt; z-index: 190; opacity: 0.5; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.generic_dialog { height: 0pt; left: 0pt; overflow: visible; position: absolute; top: 0pt; width: 100%; z-index: 200; }
.generic_dialog_popup table { margin: 0pt auto; width: 500px; }
.generic_dialog_popup .inputtext { width: 150px; float: left; }
.generic_dialog_popup #p_birthday select { width: 66px; }
#gender_error_span, #birthday_error_span, #icode_error_span { width: 95px; }
#icode_error_span { width: 111px; }
#p_gender { margin-top: 7px; }
#p_gender .box-error, #p_birthday .box-error { margin-top: -5px; }
#p_birthday { position: relative; }
#p_birthday .box-error { margin-bottom: 0pt; margin-top: 10px; position: absolute; left: 350px; }
.generic_dialog_popup #birthday_error_span_i { width: 79px; }
.generic_dialog_popup #icode_error_span { width: 121px; float: left; right: 150px; }
/* ::::: http://s.xnimg.cn/a19425/csspro/apps/seo/seo-xz.css ::::: */

.reg-tip { height: 55px; width: 940px; margin: 0pt auto; border-right: 1px solid rgb(184, 212, 232); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(184, 212, 232) rgb(184, 212, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(240, 245, 248); position: relative; }
.reg-tip h4 { float: left; text-indent: -9999em; width: 310px; height: 20px; margin: 17px 0pt 17px 240px; background: url('guest-page.png') no-repeat scroll 0pt 0pt transparent; }
.reg-tip .reg-now { float: left; margin: 10px; }
.reg-tip .reg-now a { width: 108px; height: 34px; display: block; text-indent: -9999em; outline: medium none; background: url('join-btn2.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl, .reg-tip span.r-br { width: 6px; height: 6px; display: block; overflow: hidden; position: absolute; background: url('guest-page.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl { background-position: -425px 0pt; top: 50px; left: -1px; }
.reg-tip span.r-br { background-position: -419px 0pt; top: 50px; right: -1px; }
#reg_tright { clear: both; background: none repeat scroll 0% 0% rgb(243, 250, 255); border-bottom: 1px solid rgb(212, 228, 239); text-align: right; padding: 0pt 10px 0pt 5px; height: 28px; line-height: 28px; margin-bottom: 10px; }
td.pop_content h2 a { float: right; margin: 6px 10px 0pt 0pt; padding: 0pt; display: inline; color: rgb(255, 255, 255) ! important; position: relative; font-weight: normal; font-size: 12px; }
.main_regform .share_buttons { margin-bottom: 10px; padding-left: 90px; text-align: left; }
.main_regform .share_buttons .inputsubmit { width: 168px; height: 40px; background: url('share_btn.png') no-repeat scroll 0% 0% transparent; border: 0pt none; cursor: pointer; }
.share_login { padding: 20px 0pt 0pt 70px; display: none; }
.share_login p { font-size: 12px; color: rgb(51, 51, 51); padding: 10px 0pt; }
.share_login p label { color: rgb(51, 51, 51); }
.share_login p.autologin label { padding-left: 32px; color: rgb(0, 94, 172); font-weight: normal; }
.share_login p.autologin a { margin-left: 30px; }
.share_login .input-text { width: 167px; height: 18px; border: 1px solid rgb(195, 198, 205); font-size: 14px; }
.share_login #poplogin { margin-left: 36px; margin-bottom: 20px; }
#loginerr { color: rgb(255, 0, 0); font-weight: bold; margin: 10px 0pt -20px 102px; }
#mask_layer { height: 100%; }
/* ::::: http://s.xnimg.cn/a24208/csspro/apps/invite-reg-form.css ::::: */

ul, p { margin: 0pt; padding: 0pt; list-style: none outside none; }
img { border: 0pt none; }
a { color: rgb(0, 94, 172); text-decoration: none; }
a:hover { color: rgb(0, 94, 172); text-decoration: underline; }
input, select, textarea { font-size: 12px; font-family: Tahoma,Verdana,sans-serif,simsun; }
select { padding: 2px; }
label { color: rgb(102, 102, 102); cursor: pointer; font-weight: 700; }
.inputtext, textarea { border: 1px solid rgb(189, 199, 216); padding: 5px 4px; }
input.inputtext:focus, textarea:focus { background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.form_row label { font-size: 16px; color: rgb(51, 51, 51); float: left; font-weight: bold; line-height: 1.6em; margin-right: 10px; text-align: right; width: 120px; }
.input_wrap label { width: auto; }
.form_row label.labelRadio { width: 50px; font-weight: normal; text-align: left ! important; }
.form_row label.empty { visibility: hidden; }
.form_row .inputtext { float: left; font-size: 15px; height: 18px; line-height: 18px; width: 212px; }
.form_row span { line-height: 1.8em; color: rgb(128, 128, 128); }
.form_row { clear: both; padding: 12px 0pt 0pt; width: 600px; display: inline-block; }
.form_row:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.form_row { display: block; }
.main_regform .form_row { width: auto; }
.form_row .input_wrap { float: left; }
#icode { width: 100px; vertical-align: middle; }
.validate-num { vertical-align: middle; margin: 0pt 5px 0pt 0pt; float: none; }
#dmmg, #xmg, #mg, #mmg, #rmg { margin: 5px 0pt 0pt 8px; display: block; float: left; }
.box-error { float: left; width: 235px; display: none; }
.box-error-outer { background: url('app_reg_tip_bg.gif') no-repeat scroll 0% 0% transparent; }
.box-error-inner { background: url('app_reg_tip_bg.gif') no-repeat scroll 100% -30px transparent; }
.box-error-inner p span { float: none; color: rgb(51, 51, 51); height: auto; line-height: 1.2em; padding-left: 0pt; }
.box-error p { padding: 0pt 2px 0pt 20px; height: 30px; line-height: 31px; overflow: hidden; margin: 0pt; color: rgb(153, 153, 153); white-space: nowrap; }
#p_birthday .input_wrap label { width: auto; font-size: 12px; font-weight: normal; }
#p_gender { padding: 8px 0pt 0pt; margin-top: 3px; }
.icode_row { padding: 10px 0pt 5px; height: 47px; overflow: hidden; }
.icode_input_row { padding-bottom: 15px; }
.b_tip, #name_tip { padding: 6px 0pt 0pt; clear: both; }
.generic_dialog_popup { padding-top: 80px; }
.generic_dialog_popup #regform { padding: 12px 0pt 0pt; margin: 0pt; }
.generic_dialog_popup .form_row { position: relative; width: auto; padding-top: 8px; }
.generic_dialog_popup .box-error { position: absolute; top: -5px; right: 4px; width: 220px; display: none; background: url('bottom-left-w.gif') no-repeat scroll 6px 100% transparent; }
.generic_dialog_popup .form_row .inputtext { font-size: 12px; height: 14px; line-height: 1.2em; }
.generic_dialog_popup .form_row label { font-size: 14px; width: 85px; line-height: 2em; font-weight: normal; }
.generic_dialog_popup .form_row label.labelRadio { width: 50px; }
.generic_dialog_popup #p_birthday .box-error, .generic_dialog_popup #p_gender .box-error { width: auto; }
.generic_dialog_popup #p_gender .box-error { right: 170px; }
.generic_dialog_popup .box-error-outer { background: url('bottom-right-w.gif') no-repeat scroll 100% 100% transparent; }
.generic_dialog_popup .box-error-inner { padding-left: 5px; background-color: transparent; background-image: url('top-left-w.gif'); background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-position: 0pt 0pt ! important; }
.generic_dialog_popup .box-error-inner p span { float: none; color: rgb(51, 51, 51); height: auto; line-height: 1.2em; padding-left: 0pt; }
.generic_dialog_popup .box-error p { white-space: normal; background: url('top-right-w.gif') no-repeat scroll right top transparent; padding: 16px 20px 20px 22px; margin: 0pt; height: auto; line-height: 1.5em; color: rgb(51, 51, 51); }
td.pop_content { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0pt; }
table.pop_dialog_table { border-collapse: collapse; margin: auto; table-layout: fixed; }
td.pop_topleft, td.pop_topright, td.pop_bottomleft, td.pop_bottomright { height: 10px; overflow: hidden; padding: 0px ! important; width: 10px ! important; }
td.pop_topleft { background-image: url('pop_dialog_top_left_001.png') ! important; }
td.pop_topright { background-image: url('pop_dialog_top_right_001.png') ! important; }
td.pop_bottomleft { background-image: url('pop_dialog_bottom_left_001.png') ! important; }
td.pop_bottomright { background-image: url('pop_dialog_bottom_right_001.png') ! important; }
td.pop_border { background-image: url('pop_dialog_border_001.png') ! important; }
td.pop_content h2 { background: none repeat scroll 0% 0% rgb(55, 119, 188); border: 1px solid rgb(0, 94, 172); color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; margin: 0pt; }
td.pop_content h2 span { display: block; font-size: 14px; line-height: normal; padding: 4px 10px 5px; }
.mask_layer { position: fixed; top: 0pt; left: 0pt; right: 0pt; bottom: 0pt; z-index: 190; opacity: 0.5; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.generic_dialog { height: 0pt; left: 0pt; overflow: visible; position: absolute; top: 0pt; width: 100%; z-index: 200; }
.generic_dialog_popup table { margin: 0pt auto; width: 500px; }
.generic_dialog_popup .inputtext { width: 150px; float: left; }
.generic_dialog_popup #p_birthday select { width: 66px; }
#gender_error_span, #birthday_error_span, #icode_error_span { width: 95px; }
#icode_error_span { width: 111px; }
#p_gender { margin-top: 7px; }
#p_gender .box-error, #p_birthday .box-error { margin-top: -5px; }
#p_birthday { position: relative; }
#p_birthday .box-error { margin-bottom: 0pt; margin-top: 10px; position: absolute; left: 350px; }
.generic_dialog_popup #birthday_error_span_i { width: 79px; }
.generic_dialog_popup #icode_error_span { width: 121px; float: left; right: 150px; }
/* ::::: http://s.xnimg.cn/a32666/csspro/apps/blog.css ::::: */

h3.title-article { font-size: 12px; }
@media all and (min-width: 0px) {
}
h3.title-article { background: none repeat scroll 0% 0% rgb(247, 247, 247); padding: 0.5em 0.3em 0.5em 0.5em; border-top: 1px solid rgb(206, 225, 238); border-bottom: 1px solid rgb(227, 238, 248); word-wrap: break-word; }
.text-article { padding: 10px 5px; word-wrap: break-word; width: 710px; font-size: 14px ! important; line-height: 1.5; overflow: hidden; }
.text-article p { margin: 0pt 0pt 0.8em; line-height: 1.4; }
.page-titletabs { padding: 5px 0pt 20px; position: relative; }
.page-titletabs .title-name { padding-left: 24px; padding-top: 3px; font-size: 14px; font-weight: bold; float: left; margin-right: 14px; }
.page-titletabs .return-index { position: absolute; right: 0pt; height: 26px; line-height: 26px; }
.a-nav { margin: 5px 0pt; padding: 5px 0pt; border-bottom: 1px solid rgb(221, 221, 221); }
.reg-tip { height: 55px; width: 940px; margin: -10px auto 20px; border-right: 1px solid rgb(184, 212, 232); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(184, 212, 232) rgb(184, 212, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(240, 245, 248); position: relative; }
.reg-tip h4 { float: left; text-indent: -9999em; width: 310px; height: 20px; margin: 17px 0pt 17px 240px; background: url('guest-page_001.png') no-repeat scroll 0pt 0pt transparent; }
.reg-tip .reg-now { float: left; margin: 10px; }
.reg-tip .reg-now a { width: 109px; height: 35px; display: block; text-indent: -9999em; outline: medium none; background: url('join-btn2.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl, .reg-tip span.r-br { width: 6px; height: 6px; display: block; overflow: hidden; position: absolute; background: url('guest-page_001.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl { background-position: -425px 0pt; top: 50px; left: -1px; }
.reg-tip span.r-br { background-position: -419px 0pt; top: 50px; right: -1px; }
/* ::::: http://s.xnimg.cn/a33439/csspro/module/friendSelector.css ::::: */

/* ::::: http://s.xnimg.cn/a28841/csspro/module/replies.css ::::: */

dl.replies { width: 468px; }
.bxTool, dl.replies {  }
/* ::::: http://s.xnimg.cn/a31667/csspro/apps/share.css ::::: */

.share-home { float: left; width: 580px; clear: both; }
.share-sidebar { float: right; width: 240px; }
.share-home { width: 580px; word-wrap: break-word; }
.terminal { width: 720px; border-top: 1px solid rgb(221, 221, 221); padding: 10px 0pt; }
.terminal-side, .sharelist-side { width: 240px; }
h3.title-article { background: none repeat scroll 0% 0% rgb(247, 247, 247); padding: 0.5em 0.3em 0.5em 0.5em; border-top: 1px solid rgb(0, 94, 172); border-bottom: 1px solid rgb(216, 223, 234); }
.text-article { overflow: hidden; padding: 10px 5px; width: 580px; font-size: 14px ! important; }
h3.title-article { font-size: 12px; }
.text-article { width: 700px; padding: 10px 0pt; }
.share-operations { height: 29px; position: relative; }
.share-operations .pipe { margin: 0pt 5px; }
.more-shares { padding: 0pt; }
.more-shares p { margin-bottom: 5px; }
.more-shares .shares-list { padding: 0pt; }
.shares-list .show-more { text-align: left; }
.validate-num { cursor: pointer; }
.hot-blog-sidebar { margin-bottom: 10px; }
.hot-blog-sidebar .blog-list { font-size: 12px; padding: 0pt 0pt 5px; }
.hot-blog-sidebar .blog-list li { width: 180px; padding-left: 15px; float: left; margin-bottom: 5px; line-height: 16px; background: url('list-icon.png') no-repeat scroll 0pt 5px transparent; }
.hot-blog-sidebar .blog-list .blog-brief { color: rgb(136, 136, 136); line-height: 16px; }
.page-titletabs { padding: 5px 0pt 10px; position: relative; }
.page-titletabs .title-name { padding-left: 24px; padding-top: 3px; font-size: 14px; font-weight: bold; float: left; margin-right: 14px; }
.page-titletabs .return-index { position: absolute; right: 0pt; height: 26px; line-height: 26px; }
.page-titletabs .title-share { background: url('share.gif') no-repeat scroll 0pt 50% transparent; }
.text-article .content-body { line-height: 1.6; font-size: 14px; }
.combox_share { width: 468px; }
h3.title-article { background: none repeat scroll 0% 0% transparent; border: 0pt none; padding: 0.5em 0.3em 0.5em 0.5em; word-wrap: break-word; font-size: 12px; }
h3.title-article .blog-legend, h3.title-article .blog-detail { font-weight: normal; color: rgb(136, 136, 136); }
.a-nav { border-bottom: 1px solid rgb(221, 221, 221); margin: 5px 0pt; padding: 5px 0pt; }
.stat-area { color: rgb(128, 128, 128); line-height: 1.8em; margin-bottom: 15px; padding: 0pt 5px; }
.share-newacts { float: right; }
.share-newacts a { background: url('share-big-icon.png') no-repeat scroll 0% 0% transparent; display: block; height: 29px; outline: medium none; text-indent: -9999em; width: 75px; }
.new-share-info { float: right; color: rgb(136, 136, 136); }
.new-share-info strong { color: rgb(51, 51, 51); }
.reg-tip { height: 55px; width: 940px; margin: -10px auto 20px; border-right: 1px solid rgb(184, 212, 232); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(184, 212, 232) rgb(184, 212, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: none repeat scroll 0% 0% rgb(240, 245, 248); position: relative; }
.reg-tip h4 { float: left; text-indent: -9999em; width: 310px; height: 20px; margin: 17px 0pt 17px 240px; background: url('guest-page_001.png') no-repeat scroll 0pt 0pt transparent; }
.reg-tip .reg-now { float: left; margin: 10px; }
.reg-tip .reg-now a { width: 109px; height: 35px; display: block; text-indent: -9999em; outline: medium none; }
.reg-tip span.r-bl, .reg-tip span.r-br { width: 6px; height: 6px; display: block; overflow: hidden; position: absolute; background: url('guest-page_001.png') no-repeat scroll 0% 0% transparent; }
.reg-tip span.r-bl { background-position: -425px 0pt; top: 50px; left: -1px; }
.reg-tip span.r-br { background-position: -419px 0pt; top: 50px; right: -1px; }
.filter { height: 21px; margin-bottom: 10px; }
.filter li { float: left; }
.filter li a span { display: block; line-height: 21px; padding: 0pt 10px 0pt 0px; }
.filter li a { display: inline-block; border: medium none; padding: 0pt 0pt 0pt 8px; font-weight: normal; outline: medium none; }
.filter li a.select { background: url('filter.png') no-repeat scroll 0pt -21px transparent; height: 21px; }
.filter li a.select span { background: url('filter.png') no-repeat scroll right top transparent; color: rgb(51, 51, 51); }
.filter li a.select:hover { color: rgb(51, 51, 51); cursor: default; text-decoration: none; }
