body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { padding-top: 10px; float: left; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://bbs.kafan.cn/data/cache/style_1_common.css?4gF ::::: */

* { word-wrap: break-word; }
body { background: url('background.png') repeat-x scroll 0pt 0pt rgb(255, 255, 255); }
body, input, button, select, textarea { font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun'; color: rgb(68, 68, 68); }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0pt; padding: 0pt; }
table { empty-cells: show; border-collapse: collapse; }
ul li, .xl li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite { font-style: normal; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: medium none; }
label { cursor: pointer; }
.z { float: left; }
.y { float: right; }
.cl:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.cl {  }
.pipe { margin: 0pt 5px; color: rgb(204, 204, 204); }
.xs0 { font-family: Arial; font-size: 0.83em; }
.xs1 { font-size: 12px ! important; }
.xs2 { font-size: 14px ! important; }
.xg1, .xg1 a { color: rgb(153, 153, 153) ! important; }
.xi1, .onerror { color: rgb(242, 108, 79); }
.xi2, .xi2 a, .xi3 a { color: rgb(51, 102, 153); }
.xw0 { font-weight: 400; }
.xw1 { font-weight: 700; }
.mtn { margin-top: 5px ! important; }
.mtm { margin-top: 10px ! important; }
.mbm { margin-bottom: 10px ! important; }
.pbn { padding-bottom: 5px ! important; }
.ptm { padding-top: 10px ! important; }
.pbm { padding-bottom: 10px ! important; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.hm { text-align: center; }
#ajaxwaitid { display: none; position: absolute; right: 0pt; top: 0pt; z-index: 1; padding: 0pt 5px; background: none repeat scroll 0% 0% rgb(221, 0, 0); color: rgb(255, 255, 255); }
.showmenu { padding-right: 16px; background: url('arrwd.gif') no-repeat scroll 100% 50% transparent; cursor: pointer; white-space: nowrap; }
.px, .pt, .ps, select { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(132, 132, 132) rgb(224, 224, 224) rgb(224, 224, 224) rgb(132, 132, 132); background: url('px.png') repeat-x scroll 0pt 0pt rgb(255, 255, 255); }
.px, .pt { padding: 2px 4px; line-height: 17px; }
.px { height: 17px; }
.pt { overflow-y: auto; }
div.pt { height: 100px; line-height: 100px; }
button::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.pn { vertical-align: middle; overflow: hidden; margin-right: 3px; padding: 0pt; height: 23px; border: 1px solid rgb(153, 153, 153); background: url('pn.png') repeat-x scroll 0pt 0pt rgb(229, 229, 229); cursor: pointer; box-shadow: 0pt 1px 0pt rgb(229, 229, 229); }
.pn:active { background-position: 0pt -23px; }
.pn em, .pn span, .pn strong { padding: 0pt 10px; line-height: 21px; }
.pn em, .pn strong { font-weight: 700; }
.pnc, a.pnc { border-color: rgb(35, 89, 148); background-color: rgb(0, 102, 204); background-position: 0pt -48px; color: rgb(255, 255, 255) ! important; }
.pnc:active { background-position: 0pt -71px; }
.pnpost .pn { height: 26px; }
.pr, .pc { vertical-align: middle; margin: 0pt 5px 1px 0pt; padding: 0pt; }
.pns .px {  }
.pns .pn {  }
.wp { margin: 0pt auto; width: 960px; }
#wp .wp { width: auto; }
#toptb { line-height: 24px; }
#toptb a { float: left; padding: 0pt 4px; height: 24px; }
#hd { border-bottom: 0pt solid rgb(194, 213, 227); }
#hd .wp { padding: 10px 0pt 0pt; }
.hdc { min-height: 70px; }
#hd h2 { padding: 0pt 20px 8px 0pt; float: left; }
#hd .fastlg { padding-top: 10px; }
#scbar { height: 44px; border-style: solid; border-color: rgb(229, 237, 242); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-width: 0pt 1px 1px; background: url('search.png') repeat-x scroll 0pt 0pt transparent; line-height: 44px; overflow: hidden; }
.scbar_icon_td { width: 50px; background: url('search.png') no-repeat scroll 0pt -74px transparent; }
.scbar_txt_td, .scbar_type_td { background: url('search.png') repeat-x scroll 0pt -222px transparent; }
#scbar_txt { width: 400px; border: 1px solid rgb(255, 255, 255); outline: medium none; font-size: 14px; }
.scbar_btn_td { width: 67px; background: url('search.png') no-repeat scroll 0pt -296px transparent; text-align: center; }
#scbar_btn { margin: 0pt; padding: 0pt; border: medium none; background: none repeat scroll 0% 0% transparent; }
.scbar_type_td { background: url('search.png') no-repeat scroll 0pt -370px transparent; }
#scbar_type { display: block; padding-left: 5px; text-align: left; text-decoration: none; }
#scbar_type_menu { margin-top: -8px; }
#scbar_hot { padding-left: 8px; height: 45px; overflow: hidden; }
#nv { overflow: hidden; padding-left: 3px; height: 33px; background: url('nv.png') no-repeat scroll 0pt 0pt rgb(43, 122, 205); }
#nv li { float: left; padding-right: 1px; height: 33px; line-height: 33px; background: url('nv_a.png') no-repeat scroll 100% 0pt transparent; font-weight: 700; font-size: 14px; }
#nv li a { float: left; padding: 0pt 20px; height: 33px; }
#nv li a { color: rgb(255, 255, 255); }
#nv li span { display: none; }
#nv li.a { margin-left: -1px; background: url('nv_a.png') no-repeat scroll 50% -33px rgb(0, 90, 180); }
#nv li.a a { color: rgb(255, 255, 255); }
#nv li a:hover { background: url('nv_a.png') no-repeat scroll 50% -66px transparent; }
#mu { position: relative; z-index: 1; }
#qmenu { float: right; display: inline; margin: 3px 4px 0pt; padding: 0pt 12px 0pt 0pt; width: 83px; height: 26px; background: url('qmenu.png') no-repeat scroll 0pt 0pt transparent; line-height: 26px; text-align: center; color: rgb(51, 102, 153); font-weight: 700; text-shadow: 0pt 1px 0pt rgb(255, 255, 255); overflow: hidden; }
#qmenu:hover { text-decoration: none; }
#ct { min-height: 300px; }
#ft { padding: 10px 0pt 50px; border-top: 1px solid rgb(205, 205, 205); line-height: 1.8; color: rgb(102, 102, 102); }
#flk { text-align: right; }
#scrolltop { visibility: hidden; position: fixed; bottom: 100px; display: block; margin: -30px 0pt 0pt; width: 26px; height: 50px; background: url('scrolltop.png') no-repeat scroll 50% 0pt transparent; line-height: 999px; overflow: hidden; cursor: pointer; }
.bm, .bn { margin-bottom: 10px; }
.bm { border: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.bmw { border: 1px solid rgb(205, 205, 205); }
#pt { margin: 2px 0pt; height: 29px; border: medium none; background: none repeat scroll 0% 0% transparent; line-height: 29px; }
#pt .z { padding-right: 10px; }
#pt .z a, #pt .z em, #pt .z span { float: left; height: 29px; }
#pt .z em { width: 20px; background: url('pt_item.png') no-repeat scroll 3px 10px transparent; line-height: 200px; overflow: hidden; }
.nvhm { width: 16px; background: url('search.png') no-repeat scroll -8px -119px transparent; line-height: 200px; overflow: hidden; }
.a_f { margin: 5px auto; }
.a_t { margin-bottom: 10px; }
.a_t table { width: 100%; }
.a_t td { padding: 4px 15px; border: 1px solid rgb(205, 205, 205); }
.a_pt, .a_pb { margin-bottom: 6px; }
.a_h, .a_mu, .a_c, .a_p, .a_f, .a_t { text-align: center; }
.xl li { margin: 2px 0pt; }
.xl2 li { float: left; margin: 2px 0pt; padding: 0pt; width: 48.6%; height: 1.5em; overflow: hidden; }
.tedt { width: 98%; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); }
.tedt .bar { padding: 0pt 10px 0pt 0pt; height: 25px; line-height: 25px; border-bottom: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.fpd a { float: left; margin: 2px 5px 0pt 0pt; width: 20px; height: 20px; background: url('editor.gif') no-repeat scroll 0% 0% transparent; text-indent: -9999px; line-height: 20px; overflow: hidden; }
.fpd a.fbld { background-position: 0pt 0pt; }
.fpd a.fclr { background-position: -60px 0pt; }
.fpd a.fmg { background-position: 0pt -20px; }
.fpd a.flnk { background-position: -40px -20px; }
.fpd a.fqt { background-position: -140px -20px; }
.fpd a.fcd { background-position: -120px -20px; }
.fpd a.fsml { background-position: -20px -20px; }
.tedt .area { padding: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tedt .pt { width: 100%; margin-right: 0pt; padding: 0pt ! important; border: medium none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tedt .pt:focus { outline: medium none; box-shadow: none; }
.p_pop, .p_pof, .sllt { padding: 4px; border: 1px solid rgb(221, 221, 221); min-width: 60px; background: none repeat scroll 0% 0% rgb(254, 254, 254); box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
.p_pop li { display: inline; }
.p_pop a { position: relative; display: block; padding: 3px 5px; border-bottom: 1px solid rgb(229, 237, 242); white-space: nowrap; }
.p_pop li:last-child a { border: medium none; }
.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
.blk a, .inlinelist a { display: inline; padding: 0pt; border: medium none; }
.blk a:hover { background: none repeat scroll 0% 0% transparent; color: rgb(51, 51, 51); text-shadow: none; text-decoration: underline; }
.h_pop { min-width: 120px; border-top: medium none; }
.fastlg { line-height: 24px; }
.fastlg td { padding: 2px 0pt 2px 4px; }
.fastlg_fm { margin-right: 5px; padding-right: 5px; border-right: 1px solid rgb(205, 205, 205); }
.fastlg_l { padding-right: 4px ! important; border-right: 1px solid rgb(229, 237, 242); }
.pgs {  }
.pgs #newspecial, .pgs #newspecialtmp, .pgs #post_reply, .pgs #post_replytmp { float: left; margin-right: 5px; }
.pg { float: right; }
.pg, .pgb { line-height: 26px; }
.pg a, .pg strong, .pgb a { float: left; display: inline; margin-left: 4px; padding: 0pt 8px; height: 26px; border: 1px solid rgb(194, 213, 227); background-color: rgb(255, 255, 255); background-repeat: no-repeat; color: rgb(51, 51, 51); overflow: hidden; text-decoration: none; }
.pg a.nxt, .pgb a { padding: 0pt 10px; }
.pg a:hover, .pgb a:hover { border-color: rgb(51, 102, 153); color: rgb(51, 102, 153); }
.pg a.nxt { padding-right: 25px; background-image: url('arw_r.gif'); background-position: 90% 50%; }
.pg strong { background-color: rgb(229, 237, 242); }
.pgb a { padding-left: 25px; background-image: url('arw_l.gif'); background-position: 10px 50%; }
#pgt .pg, #pgt .pgb { margin-top: 5px; }
.tip { position: absolute; padding: 10px; width: 260px; border: 1px solid rgb(177, 177, 177); background: none repeat scroll 0% 0% rgb(254, 254, 233); }
.tip_3, .tip_4 { margin-top: -8px; }
.tip_horn { position: absolute; width: 11px; height: 6px; overflow: hidden; }
.tip_3 .tip_horn { right: 5px; bottom: -6px; background: url('tip_bottom.png') repeat scroll 0% 0% transparent; }
.tip_4 .tip_horn { left: 5px; bottom: -6px; background: url('tip_bottom.png') repeat scroll 0% 0% transparent; }
/* ::::: http://bbs.kafan.cn/data/cache/style_1_forum_viewthread.css?4gF ::::: */

#f_pst .tedt { width: auto; }
.hasfsl { margin-right: 170px; }
.ts { font: 700 16px "Microsoft Yahei",Hei,Tahoma,SimHei,sans-serif; }
#nv_forum #ct { border-color: rgb(194, 213, 227); }
.pl {  }
.pl table { table-layout: fixed; width: 100%; }
.plm { vertical-align: bottom ! important; }
.plc, .pls { vertical-align: top; overflow: hidden; }
.plc { padding: 0pt 20px; }
.pls { width: 160px; background: none repeat scroll 0% 0% rgb(229, 237, 242); overflow: hidden; border-right: 1px solid rgb(194, 213, 227); }
.pls .avatar { margin: 10px 15px; }
.pls .avatar img { padding: 5px 5px 8px; background: url('midavt_shadow.gif') repeat-x scroll 0pt 100% rgb(255, 255, 255); }
.pls p, .pls .pil, .pls .o { margin: 5px 10px 5px 20px; }
.pls p em, .pls dt em { color: rgb(242, 108, 79); }
.pls dd, .pls dt { float: left; overflow: hidden; height: 1.6em; line-height: 1.6em; }
.pls dt { margin-right: 3px; width: 60px; }
.pls dd { width: 65px; }
.ad .pls { background: none repeat scroll 0% 0% rgb(194, 213, 227); padding: 0pt; height: 4px; }
.ad .plc { background: none repeat scroll 0% 0% rgb(229, 237, 242); padding: 0pt; overflow: hidden; }
.pi { overflow: hidden; margin-bottom: 10px; padding: 10px 0pt; height: 16px; border-bottom: 1px dashed rgb(205, 205, 205); }
.pls .pi { padding-left: 15px; }
.pi em {  }
.pti {  }
.authicn { cursor: pointer; }
.pcb { clear: left; margin-right: 130px; }
.pct { padding-bottom: 1em; }
.t_fsz { min-height: 100px; }
.t_f, .t_f td { font-size: 15px; }
.t_f a { color: rgb(51, 102, 153); text-decoration: underline; }
.t_f ul { margin-left: 14px; }
.t_f li { margin-left: 2em; }
.t_f ul li { list-style-type: disc; }
ul.litype_1 li { list-style-type: decimal; }
.sign { overflow: hidden; padding: 20px 0pt 10px; line-height: 1.6em; background: url('sigline.gif') no-repeat scroll 0pt 0pt transparent; }
.po { border-top: 1px dashed rgb(205, 205, 205); }
.po p { float: right; }
.po p a, .po p label { margin-right: 6px; }
.pob { line-height: 36px; }
.pob em { float: left; }
#f_pst .plc { padding: 20px; }
.bui { position: absolute; margin: -1px 0pt 0pt -1px; padding: 15px 0pt 15px 20px; width: 430px ! important; border: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 2px 2px 3px rgb(204, 204, 204); }
.bui dl { margin: 5px 0pt 10px; }
.bui dt { width: 4.5em; }
.bui dd { margin-right: 10px; width: 75px; }
.bui .i { width: 290px; }
.imicn img { vertical-align: middle; margin-right: 8px; }
.pls .o li { background-position: 0pt 50%; background-repeat: no-repeat; text-indent: 18px; }
.pls .o .callon { background-image: url('home.gif'); }
.pls .o .buddy { background-image: url('friend.gif'); }
.pls .o .poke2 { background-image: url('poke.gif'); }
.pls .o .pm2 { background-image: url('pmto.gif'); }
.pls .tip_4 { margin-left: -5px; }
.pdbt { float: right; margin: -5px 10px 0pt 0pt; }
#fastsmilies { text-align: right; }
.header_gg { margin-bottom: 10px; }
.header_gg td { padding: 4px; border: 1px solid rgb(205, 205, 205); width: 50%; text-align: center; }
.pcb { margin-right: 0pt; }
