/* ::::: http://common.cnblogs.com/blog/css/common.css?id=20130323 ::::: */

body { font-family: Verdana,Arial,Helvetica,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#MySignature { margin-top: 10px; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { font-size: 12px; }
.sendMsg2This:link, .sendMsg2This:visited, .sendMsg2This:active { font-size: 12px; text-decoration: none; background: url('icomsg.gif') no-repeat scroll left top transparent; padding-left: 20px; }
.sendMsg2This:hover { background: url('icomsg.gif') no-repeat scroll left bottom transparent; }
.cnblogs_code { background-color: rgb(245, 245, 245); font-family: Courier New; font-size: 12px; border: 1px solid rgb(204, 204, 204); padding: 5px; overflow: auto; margin: 5px 0px; }
.cnblogs_code div { background-color: rgb(245, 245, 245); }
.cnblogs_code pre { font-size: 12px; word-wrap: break-word; white-space: pre-wrap; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
.cnblogs_code_collapse { border-right: 1px solid rgb(128, 128, 128); border-width: 1px; border-style: solid; border-color: rgb(128, 128, 128); background-color: rgb(255, 255, 255); padding: 2px; }
.cnblogs_code_hide { display: none; }
.code_img_closed { vertical-align: middle; padding-right: 5px; }
.code_img_opened { vertical-align: middle; padding-right: 5px; }
.cnblogs_code_toolbar a:hover, .cnblogs_code_toolbar a:link, .cnblogs_code_toolbar a:visited, .cnblogs_code_toolbar a:active, .cnblogs_code_toolbar a:link img, .cnblogs_code_toolbar a:visited img { background-color: rgb(245, 245, 245) ! important; border: medium none ! important; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#digg_block { margin-top: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#author_profile_follow a:link {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url('upup.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('downdown.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 5px; margin-bottom: 0px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 9pt; width: 430px; }
#green_channel a { background: url('undefined') repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0pt -1px 1px rgba(0, 0, 0, 0.25); font-size: 9pt; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; }
#green_channel #green_channel_weibo { background: none repeat scroll 0% 0% transparent; padding: 3px 2px; box-shadow: none; text-shadow: none; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#site_nav_under { margin-top: 5px; }
#site_nav_under a { margin-right: 10px; }
.recent_comment_author { text-align: right; margin-right: 4px; }
.cnblogs_code_toolbar { margin-top: 5px; }
.cnblogs_code_toolbar span { padding-right: 5px; }
input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
.comment_vote { text-align: right; }
.comment_vote a { text-decoration: none ! important; padding-left: 10px; }
.recent_comment_body { white-space: pre-wrap; word-wrap: break-word; }
/* ::::: http://common.cnblogs.com/Skins/elf/style.css?id=20130323 ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0pt; padding: 0pt; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(210, 216, 222); font: 12px/1.5 tahoma,arial,sans-serif; min-height: 101%; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
ul {  }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link { color: rgb(68, 68, 68); text-decoration: none; }
a:visited { color: rgb(68, 68, 68); text-decoration: none; }
a:hover { color: rgb(255, 102, 0); text-decoration: underline; }
a:active { color: rgb(68, 68, 68); text-decoration: none; }
.clear { clear: both; }
#home {  }
#header { background: none repeat scroll 0% 0% rgb(16, 56, 88); }
#blogTitle { height: 60px; clear: both; width: 1000px; margin: 0pt auto; }
#blogTitle h1 { font-weight: bold; font-size: 2em; line-height: 2em; margin-top: 10px; margin-left: 10px; float: left; }
#blogTitle h1 a { color: rgb(255, 255, 255); text-shadow: 0px 0px 5px rgb(255, 255, 255); text-decoration: none; }
#blogTitle h2 { color: rgb(163, 178, 190); margin-left: 1em; margin-top: 30px; line-height: 1.5em; width: 50%; float: left; }
#blogLogo { float: right; }
#navigator { height: 30px; clear: both; width: 1000px; margin: 0pt auto; }
#navList { min-height: 30px; float: left; margin-left: 65px; }
#navList li { float: left; }
#navList a { position: relative; font-weight: bolder; display: block; height: 22px; float: left; text-align: center; padding: 0.05em 1em; font-size: 1.3em; }
#navList a:link, #navList a:visited, #navList a:active { color: rgb(163, 178, 190); }
#navList a:hover { color: white; text-decoration: none; text-shadow: 0px 0px 3px rgb(255, 255, 255); }
#navList a:hover:after { position: absolute; bottom: -20px; left: 37%; content: "◆"; color: rgb(210, 216, 222); text-shadow: none; }
.blogStats { float: right; color: rgb(163, 178, 190); margin-top: 8px; margin-right: 2px; text-align: right; }
#main { width: 1000px; margin: 20px auto 0pt; }
#main:after { content: ""; clear: both; }
#mainContent .forFlow { float: none; width: auto; }
#mainContent { overflow: hidden; float: left; width: 740px; }
.postTitle { font-size: 1.5em; font-weight: bold; line-height: 1.5em; width: 100%; clear: both; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(68, 68, 68); }
.postTitle a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.postDesc { float: right; width: 100%; clear: both; text-align: right; padding-right: 5px; color: rgb(168, 177, 186); margin-top: 5px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(102, 102, 102); }
.postDesc a:hover { color: rgb(255, 102, 0); text-decoration: none; }
#sideBar { color: rgb(168, 177, 186); min-height: 200px; float: right; overflow: hidden; width: 250px; }
#sideBar a:link, #sideBar a:visited, #sideBar a:active { color: rgb(86, 114, 134); }
#sideBar a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.newsItem { border-radius: 7px 7px 7px 7px; box-shadow: 1px 1px 2px rgb(167, 168, 173); background: none repeat scroll 0% 0% rgb(250, 252, 253); margin: 0px 5px 20px; padding: 5px; text-indent: 2em; }
.newsItem .catListTitle { display: none; }
.catListTitle { color: rgb(255, 255, 255); font-size: 1.2em; border-bottom: 1px solid rgb(218, 223, 225); height: 1.5em; line-height: 1.5em; background: none repeat scroll 0% 0% rgb(46, 177, 232); border-top-left-radius: 7px; border-top-right-radius: 7px; padding: 5px; text-indent: 1em; text-shadow: 1px 1px 0pt rgba(0, 0, 0, 0.3); }
.CalDayHeader { border-bottom: 1px solid rgb(204, 204, 204); }
.CalTitle { width: 100%; color: black; border-bottom: 1px solid rgb(102, 102, 102); }
#sideBarMain ul { line-height: 1.5em; }
.catListEssay, .catListLink, .catListNoteBook, .catListNoteBook, .catListTag, .catListPostCategory, .catListPostArchive, .catListArticleArchive, .catListImageCategory, .mySearch, .catListComment, .catListView, .catListFeedback { border-radius: 7px 7px 7px 7px; box-shadow: 1px 1px 2px rgb(167, 168, 173); background: none repeat scroll 0% 0% rgb(250, 252, 253); margin: 20px 5px; }
.catListEssay ul, .catListLink ul, .catListNoteBook ul, .catListNoteBook ul, .catListTag ul, .catListPostCategory ul, .catListPostArchive ul, .catListArticleArchive ul, .catListImageCategory ul, .mySearch ul, .catListComment ul, .catListView ul, .catListFeedback ul { border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }
.catListEssay ul li, .catListLink ul li, .catListNoteBook ul li, .catListNoteBook ul li, .catListTag ul li, .catListPostCategory ul li, .catListPostArchive ul li, .catListArticleArchive ul li, .catListImageCategory ul li, .mySearch ul li, .catListComment ul li, .catListView ul li, .catListFeedback ul li { border-bottom: 1px solid rgb(218, 223, 225); border-top: 1px solid rgb(255, 255, 255); overflow: hidden; padding: 5px; }
#topics { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 7px 7px 7px 7px; box-shadow: 1px 1px 2px rgb(167, 168, 173); min-height: 200px; overflow: hidden; padding: 5px; margin: 0px 5px 20px 0px; }
#topics .postTitle { text-align: center; width: 100%; }
#topics .postTitle a { font-size: 1.5em; font-weight: bold; color: rgb(46, 177, 232); text-shadow: 0pt 0pt 1px rgb(167, 168, 173); line-height: 1.5em; }
.postBody { padding: 5px; line-height: 1.5; color: rgb(68, 68, 68); }
#topics .postDesc { width: 100%; text-align: right; padding-right: 5px; margin-top: 5px; }
.feedback_area_title { display: none; }
.feedbackListSubtitle { color: rgb(102, 102, 102); border-top: 1px dashed rgb(238, 238, 238); padding-top: 10px; }
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active { color: rgb(102, 102, 102); font-weight: normal; }
.feedbackListSubtitle a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.feedbackManage { width: 200px; text-align: right; float: right; }
.feedbackCon { margin: 10px 30px 30px; position: relative; }
.feedbackCon:after { bottom: -46px; color: rgb(204, 204, 204); content: "”"; font-family: "黑体"; font-size: 47px; font-weight: bold; position: absolute; right: -42px; }
.feedbackCon:before { color: rgb(204, 204, 204); content: "“"; font-family: "黑体"; font-size: 47px; font-weight: bold; left: -43px; position: absolute; top: -20px; }
.commentform { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 7px 7px 7px 7px; box-shadow: 1px 1px 2px rgb(167, 168, 173); margin: 0px 5px 10px 0px; padding: 5px; }
.mySearch div { padding: 5px; }
.mySearch #q { height: 1.4em; width: 175px; }
#footer { text-align: center; min-height: 15px; margin-top: 10px; padding-top: 10px; margin-bottom: 10px; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
.postBody { line-height: 1.5em; }
.postBody p, .postCon p { text-indent: 2em; margin: 0pt auto 1em; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
#green_channel { width: auto; }
/* ::::: http://common.cnblogs.com/blog/css/common2.css ::::: */

p { margin: 10px auto; text-indent: 0px; }
.postBody p, .postCon p { margin: 10px auto; }
.postBody p, .postCon p { text-indent: 0px; }
.cnblogs_code span { line-height: 1.5; }
.login_tips a { text-decoration: underline; }
#div_digg .diggnum { line-height: 1.5em; }
#div_digg .burynum { line-height: 1.5em; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255); border: medium none; }
.cnblogs_code { font-family: Courier New; font-size: 12px; }
.cnblogs_code pre { font-family: Courier New; font-size: 12px; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
#cnblogs_post_body {  }
/* ::::: http://common.cnblogs.com/css/shStyle.css ::::: */

