/* ::::: http://www.duote.com/dt_editor/include.css ::::: */

body { margin: 0pt; padding: 0px; }
#ed_container { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(186, 217, 237); }
.ed_toolBar { background: none repeat scroll 0% 0% rgb(196, 225, 255); padding-left: 10px; }
.tools a { background: url('editoricons.gif') no-repeat scroll 0% 0% transparent; border: 1px solid rgb(196, 225, 255); text-decoration: none; width: 20px; height: 20px; display: inline-block; }
.tools a:hover { border: 1px solid rgb(255, 255, 255); }
.tools .Undo { background-position: 2px -209px; }
.tools .Redo { background-position: 2px -253px; }
.tools .Image { background-position: 2px -45px; }
