/* ::::: http://img.duote.com/css/global.css?_vtim=2011022301 ::::: */

html { margin: 0pt; padding: 0pt; }
body { background: url('duote_bj.gif') repeat-x scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); text-align: center; font: 12px/18px '宋体',Verdana,Arial,Helvetica,sans-serif; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td { padding: 0pt; margin: 0pt; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0pt; }
th, td { font-weight: normal; }
img, iframe { border: medium none; text-decoration: none; }
ol, ul { list-style: none outside none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(255, 153, 0); text-decoration: underline; }
a:active, a:focus { outline: medium none; }
.clearfix:after { clear: both; content: "."; height: 0pt; display: block; visibility: hidden; }
.clearfix {  }
.clear { clear: both; }
.disnone { display: none; }
/* ::::: http://img.duote.com/css/soft.common.css?_vtim=2011062601 ::::: */

.p_body { width: 990px; text-align: left; margin: 0pt auto; }
.top_n { height: 30px; line-height: 30px; }
.top_n #userLogin_div { height: 15px; line-height: 15px; float: right; background: url('duote_06.gif') no-repeat scroll left center transparent; padding-left: 20px; margin-top: 8px; }
.top_n a:hover { color: rgb(255, 153, 0); text-decoration: underline; }
.h_top { height: 80px; }
#logo { width: 190px; height: 80px; float: left; }
#h_gg { width: 185px; height: 60px; padding: 10px 0px; float: left; }
.nav { width: 990px; height: 37px; font-size: 14px; font-weight: 700; padding: 0px; margin: 0px; position: relative; z-index: 99; }
.nav li { width: 110px; height: 37px; color: rgb(255, 255, 255); float: left; }
.nav li a { color: rgb(51, 51, 51); height: 35px; line-height: 35px; width: 110px; display: block; text-align: center; background: url('duoter_03.gif') no-repeat scroll 0pt 0pt transparent; padding-bottom: 2px; }
.nav li a:hover { color: rgb(51, 102, 0); text-decoration: none; background: url('duoter_03.gif') no-repeat scroll 0pt -37px transparent; }
.nav .last_nav a { background: url('duote_04.gif') no-repeat scroll 0pt 0pt transparent; }
.nav .last_nav a:hover { background: url('duote_nav04.gif') no-repeat scroll 0pt 0pt transparent; }
.nav .nav_active a { background: url('active_02.gif') no-repeat scroll 0pt 0pt transparent; color: rgb(255, 255, 255); }
.nav .nav_active a:hover { color: rgb(51, 102, 0); }
.nav .no_active a { background: url('active_01.gif') no-repeat scroll 0% 0% transparent; }
.nav .no_active a:hover { background: url('active_nav01.gif') no-repeat scroll 0% 0% transparent; }
.nav li ul { visibility: hidden; position: absolute; left: 3px; top: 23px; z-index: 100; }
.nav ul li:hover ul, .nav ul a:hover ul { visibility: visible; }
#nav_d { float: left; width: 325px; height: 210px; font-size: 12px; background: none repeat scroll 0% 0% rgb(176, 241, 98); border: 1px solid rgb(255, 255, 255); position: absolute; left: 110px; top: 35px; z-index: 100; font-weight: normal; opacity: 0.9; }
#nav_d li { float: left; width: 108px; text-align: center; color: rgb(19, 49, 1); height: 26px; line-height: 26px; }
#nav_d a { display: block; width: 108px; height: 26px; line-height: 26px; color: rgb(19, 49, 1); background: url('nav_img01.gif') no-repeat scroll 0pt 0pt transparent; padding-bottom: 0pt; }
#nav_d a.last { display: block; width: 108px; height: 26px; line-height: 26px; color: rgb(19, 49, 1); padding-bottom: 0pt; background: url('nav_img03.gif') no-repeat scroll 0pt 0pt transparent; }
#nav_d a:hover { color: rgb(255, 255, 255); text-decoration: none; background: url('nav_img01hover.gif') no-repeat scroll 0pt 0pt transparent; }
.search_form { width: 576px; height: 30px; margin: 35px 5px 0px 30px; float: left; background: url('duote_scbj.gif') no-repeat scroll 0% 0% transparent; display: inline; }
.in_search { width: 343px; height: 18px; border: 0pt none; font-size: 14px; float: left; line-height: 18px; color: rgb(153, 153, 153); margin: 6px 2px; }
.searchtool { width: 72px; height: 30px; border: 0pt none; font-size: 12px; font-style: normal; float: left; margin-left: 10px; }
.nowSearch { float: left; line-height: 30px; overflow: hidden; width: 50px; padding-left: 2px; }
.btnSel { float: right; width: 15px; height: 28px; line-height: 28px; border-left: 1px solid rgb(204, 204, 204); padding-top: 1px; }
.btnSel a { display: block; background: url('btn_sel.gif') no-repeat scroll center center transparent; width: 13px; height: 26px; border: 1px solid rgb(255, 255, 255); }
.selOption { border: 1px solid rgb(134, 165, 193); background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 72px; position: absolute; z-index: 100; }
.selOption a { display: block; padding-left: 5px; color: rgb(0, 0, 0); line-height: 21px; height: 21px; text-decoration: none; }
.selOption a:hover { background: none repeat scroll 0% 0% rgb(149, 213, 241); color: rgb(255, 255, 255); text-decoration: none; }
.searchbtn { width: 85px; height: 30px; margin-left: 10px; font-size: 14px; line-height: 30px; float: left; background: url('duote_btnbj.gif') no-repeat scroll 0% 0% transparent; border: 0pt none; display: inline; cursor: pointer; font-weight: 700; }
#searcht2 { width: 30px; height: 30px; overflow: hidden; float: left; line-height: 14px; margin-left: 10px; display: inline; }
#searcht2 a { color: rgb(51, 102, 0); text-decoration: underline; }
#searcht2 a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.mAutoComplete { text-align: left; padding: 5px; }
.nc { height: 15px; padding-left: 20px; color: rgb(51, 51, 51); margin: 4px 0px; background: url('duote_05.gif') no-repeat scroll 0% 0% transparent; }
.nc span { line-height: 15px; }
.nc span div { float: left; }
.footer { background: none repeat scroll 0% 0% rgb(244, 244, 244); padding-bottom: 10px; margin-top: 10px; }
.tj { padding: 10px; color: rgb(51, 102, 0); font-weight: 700; line-height: 20px; }
.tj span { color: rgb(255, 153, 0); }
.footer table { font-size: 12px; height: 60px; }
.footer table img { padding: 0px 5px; }
/* ::::: http://img.duote.com/css/tech.idx.css?_vtim=2011061601 ::::: */

em, i { font-style: normal; }
.nc { float: right; }
.tech_main { width: 990px; margin-left: auto; margin-right: auto; }
.tech_nav { height: 30px; line-height: 30px; overflow: hidden; }
.tech_nav a { width: 76px; text-align: center; height: 30px; line-height: 30px; display: block; float: left; background: url('bj.gif') no-repeat scroll -10px -81px transparent; color: rgb(255, 255, 255); font-size: 14px; overflow: hidden; }
.tech_nav .first { background-position: 0pt -81px; width: 77px; }
.tech_nav .last { background-position: -44px -81px; width: 77px; }
.tech_nav a:hover { color: rgb(255, 255, 0); text-decoration: none; }
.bor { border: 1px solid rgb(186, 218, 161); }
.tech_tj { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin-top: 0px; padding: 15px 14px; text-align: left; }
.tech_tj li { float: left; width: 120px; }
.tech_tj li img { width: 100px; height: 75px; padding: 1px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(222, 222, 222); display: block; margin: 0pt auto; }
.tech_tj li span { display: block; height: 25px; line-height: 25px; overflow: hidden; text-align: center; }
.fl { float: left; display: inline; }
.fr { float: right; }
.more { float: right; padding-right: 10px; }
.more a { font-weight: normal; font-size: 12px; color: rgb(93, 159, 39); }
.tit { height: 33px; line-height: 33px; border: 1px solid rgb(255, 255, 255); background: url('bj.gif') repeat-x scroll 0pt -111px transparent; }
.tit em { display: block; float: left; width: 121px; height: 33px; text-align: center; background: url('bj.gif') no-repeat scroll 0pt 0pt transparent; font-size: 14px; font-weight: 700; font-family: "微软雅黑","黑体"; color: rgb(255, 255, 255); }
.tit em a { color: rgb(255, 255, 255); }
.cont { background: url('cont_bj.gif') repeat-x scroll 0pt 0pt rgb(255, 255, 255); }
.list_tit { height: 32px; padding-bottom: 16px; line-height: 32px; border-width: 1px 1px 0pt; border-style: solid; border-color: rgb(255, 255, 255); background: url('bj.gif') repeat-x scroll 0pt -33px transparent; }
.list_tit .more a { color: rgb(255, 255, 0); }
.list_tit em { display: block; float: left; padding-left: 10px; font-size: 14px; font-weight: 700; font-family: "微软雅黑","黑体"; }
.in_list { padding: 0pt 9px 10px; text-align: left; }
.pro_list .content { font-size: 14px; }
.add { height: 25px; line-height: 25px; text-align: left; color: rgb(93, 159, 39); margin-top: -25px; }
.add a { padding: 0pt 5px; color: rgb(93, 159, 39); }
.pro { margin-top: 0pt; }
.pro_list { width: 683px; margin-top: 10px; }
.down_comment { width: 685px; margin-top: 10px; text-align: left; }
.down_com_tit { background: url('down_com_tit.gif') no-repeat scroll 0pt 0pt transparent; height: 30px; line-height: 30px; padding: 5px 10px 0pt; }
.down_com_tit span { float: right; margin-left: 10px; }
.down_com_tit span a { display: block; width: 89px; height: 25px; line-height: 25px; background: url('down_com_abtn.gif') no-repeat scroll 0pt 0pt transparent; text-align: center; color: rgb(255, 255, 255); }
.down_com_tit span a:hover { color: rgb(255, 255, 0); text-decoration: none; }
.down_com_tit i { padding: 0pt 3px; font-style: normal; color: rgb(255, 153, 0); }
.down_com_tit em { font-style: normal; padding: 0pt 3px; }
.down_com_tit li { width: 102px; height: 30px; line-height: 30px; text-align: center; float: left; font-size: 14px; font-weight: 700; cursor: pointer; }
.down_com_tit .hover { background: url('down_tagbj.jpg') no-repeat scroll 0pt 0pt transparent; color: rgb(255, 255, 255); }
.in_down_com { padding: 10px 9px; border: 1px solid rgb(186, 218, 161); }
.in_down_com h2 { background: none repeat scroll 0pt 0pt rgb(236, 236, 236); color: rgb(89, 119, 25); font-weight: 700; height: 25px; line-height: 25px; overflow: hidden; padding: 0pt 10px; }
.comment_box td { padding: 5px; color: rgb(114, 114, 114); vertical-align: middle; font-size: 14px; }
.comment_box td label { padding: 0pt 3px; }
.comment_box textarea { padding: 2px; height: 106px; width: 644px; border: 1px solid rgb(222, 222, 222); overflow: hidden; line-height: 25px; color: rgb(114, 114, 114); }
.comment_box .notice { color: rgb(255, 102, 0); }
.search_area { padding: 10px 0pt; }
.search_text { height: 28px; line-height: 28px; width: 346px; padding: 0pt 2px; border: 1px solid rgb(186, 218, 161); color: rgb(114, 114, 114); margin-left: 85px; }
.search_btn { width: 85px; height: 30px; line-height: 30px; text-align: center; font-size: 12px; color: rgb(144, 78, 7); border: 0pt none; background: url('search_btn.gif') no-repeat scroll 0pt 0pt transparent; cursor: pointer; }
.search_area a { color: rgb(255, 102, 0); text-decoration: underline; padding-left: 10px; }
.search_area a:hover { color: rgb(51, 51, 51); }
.answer_list { padding: 5px 10px 0pt; border-bottom: 1px dashed rgb(222, 222, 222); }
.answer_list td { font-size: 12px; padding: 2px 0px; vertical-align: top; line-height: 20px; }
.answer_list td img { padding-top: 4px; }
.in_down_com .last { border-bottom: 0pt none; }
.right_box { width: 295px; margin-top: 10px; overflow: hidden; }
.right_box .cont { padding: 10px 9px; text-align: left; }
.right_box .cont li { height: 25px; line-height: 25px; overflow: hidden; font-size: 12px; color: rgb(93, 159, 39); }
.right_box .cont li a { color: rgb(85, 85, 85); }
.right_box .cont li a:hover { color: rgb(255, 153, 0); }
.list_tag { float: left; padding: 3px 0pt 0pt 10px; }
.list_tag li { cursor: pointer; float: left; font-size: 14px; height: 30px; line-height: 30px; text-align: center; width: 102px; }
.list_tag .hover { background: url('down_tagbj_001.jpg') no-repeat scroll 0pt 0pt transparent; color: rgb(255, 255, 255); }
.rank { background: url('rank.gif') no-repeat scroll 0pt 5px transparent; padding-left: 18px; }
.rank_tit { height: 25px; line-height: 25px; padding: 0pt 5px; border-bottom: 1px dashed rgb(222, 222, 222); margin-bottom: 5px; }
.rank_tit span { float: right; }
.right_box .rank li { height: 23px; line-height: 23px; font-size: 12px; }
.right_box .rank li span { float: right; display: block; width: 45px; text-align: right; }
.tags { line-height: 30px; margin-bottom: 10px; overflow: hidden; padding-left: 5px; width: 275px; word-wrap: break-word; text-align: left; }
.tags a { text-decoration: none; margin: 0pt 3px; font-family: Tahoma,"宋体"; color: rgb(92, 178, 10); }
.tags a:hover { color: rgb(255, 153, 0); }
.list_tit .cont_rating { font-size: 12px; font-weight: normal; color: rgb(255, 255, 255); }
.sc { width: 73px; height: 18px; display: block; background: url('shouc.gif') no-repeat scroll 0pt 0pt transparent; margin-top: 7px; }
.content h2 { font: bold 20px/35px 微软雅黑; text-align: center; color: rgb(92, 178, 10); }
.content h3 { text-align: center; padding: 5px; }
.content h3 a { padding: 3px 0pt 3px 20px; background: url('bj.gif') no-repeat scroll -102px -250px transparent; margin-left: 10px; }
.cont_notice { border: 1px solid rgb(222, 222, 222); background: none repeat scroll 0% 0% rgb(251, 251, 251); padding: 10px; margin: 5px 0pt 15px; }
.cont_about { border: 1px solid rgb(222, 222, 222); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 5px; line-height: 20px; font-size: 12px; width: 621px; overflow: hidden; }
.cont_about b { float: left; }
.cont_about a { font-size: 12px; white-space: nowrap; padding-right: 15px; display: block; float: left; }
.cont_about .clearfix { font-size: 12px; }
.content p { line-height: 24px; font-size: 14px; }
.share { background: none repeat scroll 0% 0% rgb(244, 244, 244); padding: 5px 10px; font-size: 12px; margin-top: 20px; }
.up_down { float: left; }
.up_down a { display: block; float: left; color: rgb(255, 255, 255); width: 90px; height: 22px; line-height: 22px; text-align: center; background: url('bj.gif') no-repeat scroll 0pt -290px transparent; margin-right: 5px; }
.up_down .up { background-position: 0pt -268px; }
.up_down a:hover { color: rgb(51, 51, 51); text-decoration: none; }
.share_img { float: right; vertical-align: middle; }
.nextpage { margin: 20px 10px; font-size: 12px; }
.cont_pf { font-size: 16px; font-weight: bold; margin: 0pt 5px; }
.test_gg { margin-top: 10px; }
.tech_tag { margin-top: 10px; }
.tech_tag .bold { font-size: 22px; font-weight: 700; }
.pop { position: fixed; width: 680px; background: none repeat scroll 0% 0% rgb(251, 251, 251); border: 1px solid rgb(222, 222, 222); text-align: left; z-index: 10000; }
.pop_tit { height: 25px; line-height: 25px; padding: 0pt 10px; font-size: 14px; font-weight: 700; color: rgb(89, 119, 25); background: url('fenye_bj.gif') repeat-x scroll left bottom rgb(251, 251, 251); cursor: move; }
.pop_tit span { float: right; padding-top: 5px; }
.pop_tit span a { display: block; background: url('close_icon.gif') no-repeat scroll 0pt 0pt transparent; width: 15px; height: 15px; }
.in_pop { padding: 10px 9px; }
.comment_box td { padding: 2px; color: rgb(114, 114, 114); font-family: Arial,Helvetica,sans-serif; vertical-align: middle; font-size: 12px; }
.comment_box td label { padding: 0pt 3px; }
.comment_box textarea { font-size: 12px; }
.mylogin span { padding-right: 5px; }
.mylogin input { vertical-align: middle; }
.mylogin span .inp { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 100px; }
.mylogin span .inps { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 40px; }
.mylogin span .btn1 { height: 24px; line-height: 24px; width: 70px; border: 1px solid rgb(222, 222, 222); background: url('fenye_bj.gif') repeat-x scroll left bottom transparent; cursor: pointer; }
.mylogin span .inps { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 40px; }
.fixed-top { position: fixed; bottom: auto; top: 0px; }
.popreplybg { background: none repeat scroll 0% 0% rgb(153, 153, 153); opacity: 0.4; left: 0pt; position: absolute; top: 0pt; }
.share_img a { margin-right: 10px; height: 24px; line-height: 24px; display: block; float: left; padding-left: 20px; }
.share_img a.icon1 { background: url('tech_ico.gif') no-repeat scroll 0px 3px transparent; }
.share_img a.icon2 { background: url('tech_ico.gif') no-repeat scroll 0px -25px transparent; }
.share_img a.icon3 { background: url('tech_ico.gif') no-repeat scroll 0px -58px transparent; }
.share_img { float: right; height: 24px; vertical-align: middle; }
.sortnew { background: url('news.gif') no-repeat scroll 0% 0% transparent; position: absolute; width: 23px; height: 11px; margin-left: 130px; margin-top: 22px; z-index: 2; }
.categorynew { margin: -5px 0pt 0pt 60px; padding: 0pt 0pt 0pt 20px; position: absolute; }
/* ::::: http://img.duote.com/kindeditor/skins/default.css ::::: */

.ke-container { font-family: "sans serif",tahoma,verdana,helvetica; border: 1px solid rgb(204, 204, 204); background-color: rgb(240, 240, 238); table-layout: fixed; overflow: hidden; border-collapse: separate; padding: 0pt; margin: 0pt; }
.ke-container td { padding: 0pt; }
.ke-toolbar-outer { border: 0pt none; padding: 0pt; margin: 0pt; }
.ke-toolbar { width: 100%; border: 0pt none; padding: 0pt; margin: 0pt; border-collapse: separate; }
.ke-toolbar td { border: 0pt none; padding: 2px 5px; margin: 0pt; }
.ke-bottom-outer { border: 0pt none; padding: 0pt; margin: 0pt; }
.ke-bottom { width: 100%; font-size: 0pt; line-height: 0; border: 0pt none; padding: 0pt; margin: 0pt; height: 11px; border-collapse: separate; }
.ke-bottom-left { width: 100%; cursor: s-resize; border: 0pt none; margin: 0pt; padding: 0pt; text-align: center; vertical-align: middle; }
.ke-bottom-left-img { display: inline-block; vertical-align: middle; background-position: 0px -754px; width: 15px; height: 11px; background-image: url('default.gif'); margin: 0pt; padding: 0pt; border: 0pt none; }
.ke-bottom-right { cursor: se-resize; border: 0pt none; margin: 0pt; padding: 0pt; text-align: right; vertical-align: bottom; }
.ke-bottom-right-img { display: inline-block; vertical-align: middle; background-position: -9px -745px; width: 7px; height: 7px; background-image: url('default.gif'); margin: 0pt; padding: 0pt; border: 0pt none; }
.ke-textarea-outer { border: 0pt none; padding: 0pt; margin: 0pt; }
.ke-textarea-outer td { padding: 0pt; }
.ke-textarea-table { width: 100%; height: 100%; padding: 0pt; margin: 0pt; border-width: 0px 0pt; border-style: solid none; border-color: rgb(204, 204, 204) -moz-use-text-color; background-color: rgb(255, 255, 255); border-collapse: separate; table-layout: fixed; }
.ke-textarea-table td { border: 0pt none; padding: 0pt; margin: 0pt; }
.ke-textarea { width: 100%; display: block; margin: 0pt; padding: 0pt; border: 0pt none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px; font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace ! important; line-height: 18px; overflow: auto; resize: none; }
.ke-textarea:focus { outline: medium none; }
.ke-iframe { width: 100%; display: block; height: 100%; margin: 0pt; padding: 0pt; border: 0pt none; background-color: rgb(255, 255, 255); }
.ke-textarea-table .ke-iframe { height: 195px; }
.ke-mask { border: 0pt none; margin: 0pt; padding: 0pt; position: absolute; z-index: 19811212; top: 0pt; left: 0pt; display: none; background-color: rgb(255, 255, 255); }
.ke-reset { margin: 0pt; padding: 0pt; border: 0pt none; }
/* ::::: http://v1.jiathis.com/code/css/jiathis_share.css ::::: */

#ckepop dl, #ckepop dt, #ckepop dd, #ckepop ol, #ckepop ul, #ckepop li, #ckepop fieldset, #ckepop form, #ckepop label, #ckepop legend, #ckepop table, #ckepop caption, #ckepop tbody, #ckepop tfoot, #ckepop thead, #ckepop tr, #ckepop th, #ckepop td, #ckepop span { vertical-align: middle; margin: 0pt; padding: 0pt; font-family: 'Microsoft YaHei',arial,tahoma,宋体,sans-serif; }
#ckepop .jiadiv_01 { border: 1px solid rgb(204, 204, 204); width: 240px; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; overflow: hidden; }
#ckepop .jiadiv_02 { padding: 1px ! important; font-size: 14px ! important; text-align: left ! important; }
#ckepop .jiadiv_02 .jiatitle { margin: 1px 0pt; height: 22px; padding-left: 5px; padding-top: 1px; width: 107px; float: left; display: block; border: 1px solid rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-decoration: none; color: rgb(0, 0, 0); font-size: 12px ! important; }
#ckepop .jiadiv_02 .jiatitle:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); border: 1px solid rgb(229, 229, 229); text-decoration: none; }
#ckepop .jiadiv_01 .link_01 { text-decoration: none; font-size: 12px; }
#ckepop .jiadiv_01 .link_01:hover { text-decoration: underline; font-size: 12px; }
#ckepop .jtico { text-align: left; overflow: hidden; display: block ! important; height: 16px ! important; line-height: 16px ! important; padding-left: 20px ! important; background: url('jiathis_ico.png') no-repeat scroll left center transparent; cursor: pointer; }
#ckepop .jtico:hover { opacity: 0.8; }
#ckepop .jtico_copy { background-position: 0px 0px; }
#ckepop .jtico_email { background-position: 0px -32px; }
#ckepop .jtico_fav { background-position: 0px -16px; }
#ckepop .jtico_buzz { background-position: 0px -48px; }
#ckepop .jtico_qzone { background-position: 0px -64px; }
#ckepop .jtico_baidu { background-position: 0px -80px; }
#ckepop .jtico_tsina { background-position: 0px -96px; }
#ckepop .jtico_tsohu { background-position: 0px -112px; }
#ckepop .jtico_t163 { background-position: 0px -128px; }
#ckepop .jtico_tqq { background-position: 0px -144px; }
#ckepop .jtico_renren { background-position: 0px -160px; }
#ckepop .jtico_kaixin001 { background-position: 0px -176px; }
#ckepop .jtico_sohu { background-position: 0px -192px; }
#ckepop .jtico_taobao { background-position: 0px -208px; }
#ckepop .jtico_hi { background-position: 0px -224px; }
#ckepop .jtico_xiaoyou { background-position: 0px -240px; }
#ckepop .jtico_youshi { background-position: 0px -256px; }
#ckepop .jtico_gmail { background-position: 0px -272px; }
#ckepop .jtico_hotmail { background-position: 0px -288px; }
#ckepop .jtico_ymail { background-position: 0px -304px; }
#ckepop .jtico_feixin { background-position: 0px -320px; }
#ckepop .jtico_51 { background-position: 0px -336px; }
#ckepop .jtico_google { background-position: 0px -352px; }
#ckepop .jtico_youdao { background-position: 0px -368px; }
#ckepop .jtico_qq { background-position: 0px -384px; }
#ckepop .jtico_sina { background-position: 0px -400px; }
#ckepop .jtico_live { background-position: 0px -416px; }
#ckepop .jtico_yahoo { background-position: 0px -432px; }
#ckepop .jtico_115 { background-position: 0px -448px; }
#ckepop .jtico_hexun { background-position: 0px -464px; }
#ckepop .jtico_myspace { background-position: 0px -480px; }
#ckepop .jtico_139 { background-position: 0px -496px; }
#ckepop .jtico_tieba { background-position: 0px -512px; }
#ckepop .jtico_haoei { background-position: 0px -528px; }
#ckepop .jtico_digu { background-position: 0px -544px; }
#ckepop .jtico_douban { background-position: 0px -560px; }
#ckepop .jtico_zhuaxia { background-position: 0px -576px; }
#ckepop .jtico_xianguo { background-position: 0px -592px; }
#ckepop .jtico_zuosa { background-position: 0px -608px; }
#ckepop .jtico_renjian { background-position: 0px -624px; }
#ckepop .jtico_follow5 { background-position: 0px -640px; }
#ckepop .jtico_delicious { background-position: 0px -656px; }
#ckepop .jtico_digg { background-position: 0px -672px; }
#ckepop .jtico_fb { background-position: 0px -688px; }
#ckepop .jtico_twitter { background-position: 0px -704px; }
#ckepop .jtico_myspacecn { background-position: 0px -720px; }
#ckepop .jtico_poco { background-position: 0px -736px; }
#ckepop .jtico_wealink { background-position: 0px -752px; }
#ckepop .jtico_cnfol { background-position: 0px -768px; }
#ckepop .jtico_leshou { background-position: 0px -784px; }
#ckepop .jtico_diglog { background-position: 0px -800px; }
#ckepop .jtico_tongxue { background-position: 0px -816px; }
#ckepop .jtico_waakee { background-position: 0px -832px; }
#ckepop .jtico_shouker { background-position: 0px -848px; }
#ckepop .jtico_cyzone { background-position: 0px -864px; }
#ckepop .jtico_9fav { background-position: 0px -880px; }
#ckepop .jtico_114la { background-position: 0px -896px; }
#ckepop .jtico_99earth { background-position: 0px -912px; }
#ckepop .jtico_chouti { background-position: 0px -928px; }
#ckepop .jtico_dig24 { background-position: 0px -944px; }
#ckepop .jtico_douban9dian { background-position: 0px -960px; }
#ckepop .jtico_hemidemi { background-position: 0px -992px; }
#ckepop .jtico_baohe { background-position: 0px -1008px; }
#ckepop .jtico_yijee { background-position: 0px -1024px; }
#ckepop .jtico_pdfonline { background-position: 0px -1040px; }
#ckepop .jtico_printfriendly { background-position: 0px -1056px; }
#ckepop .jtico_translate { background-position: 0px -1072px; }
#ckepop .jtico_googlereader { background-position: 0px -1088px; }
#ckepop .jtico_diigo { background-position: 0px -1104px; }
#ckepop .jtico_evernote { background-position: 0px -1120px; }
#ckepop .jtico_friendfeed { background-position: 0px -1136px; }
#ckepop .jtico_linkedin { background-position: 0px -1152px; }
#ckepop .jtico_mixx { background-position: 0px -1168px; }
#ckepop .jtico_netlog { background-position: 0px -1184px; }
#ckepop .jtico_netvibes { background-position: 0px -1200px; }
#ckepop .jtico_phonefavs { background-position: 0px -1216px; }
#ckepop .jtico_pingfm { background-position: 0px -1232px; }
#ckepop .jtico_plaxo { background-position: 0px -1248px; }
#ckepop .jtico_polladium { background-position: 0px -1264px; }
#ckepop .jtico_reddit { background-position: 0px -1280px; }
#ckepop .jtico_wong { background-position: 0px -1296px; }
#ckepop .jtico_stumbleupon { background-position: 0px -1312px; }
#ckepop .jtico_plurk { background-position: 0px -1328px; }
#ckepop .jtico_funp { background-position: 0px -1344px; }
#ckepop .jtico_blogsina { background-position: 0px -1360px; }
#ckepop .jtico_myshare { background-position: 0px -1376px; }
#ckepop .jtico_fwisp { background-position: 0px -1392px; }
#ckepop .jtico_more, #ckepop .jtico_jiathis { background-position: 0px -1408px; }
#ckepop .jtico_msn { background-position: 0px -1424px; }
#ckepop .jtico_fanfou { background-position: 0px -1440px; }
#ckepop .jtico_189mail { background-position: 0px -1456px; }
#ckepop .jtico_dream163 { background-position: 0px -1472px; }
#ckepop .jtico_thexun { background-position: 0px -1488px; }
#ckepop .jtico_tianya { background-position: 0px -1505px; }
#ckepop .jtico_w3c { background-position: 0px -1521px; }
#ckepop .jtico_tifeng { background-position: 0px -1537px; }
#ckepop .jtico_bitly { background-position: 0px -1553px; }
#ckepop .jtico_woshao { background-position: 0px -1569px; }
#ckepop .jtico_ganniu { background-position: 0px -1585px; }
#ckepop .jtico_189cn { background-position: 0px -1601px; }
#ckepop .jtico_masar { background-position: 0px -1617px; }
#ckepop .jtico_renmaiku { background-position: 0px -1633px; }
#ckepop .jtico_mop { background-position: 0px -1649px; }
#ckepop .jtico_ifensi { background-position: 0px -1665px; }
#ckepop .jtico_leihou { background-position: 0px -1681px; }
#ckepop .jtico_qing6 { background-position: 0px -1697px; }
#ckepop .jtico_readitlater { background-position: 0px -1713px; }
#ckepop .jtico_instapaper { background-position: 0px -1729px; }
#ckepop .jtico_print { background-position: 0px -1745px; }
#ckepop .jtico_139mail { background-position: 0px -1760px; }
#ckepop .jtico_i139 { background-position: 0px -1776px; }
#ckepop .searchTxt { text-align: left; margin: 7px 0pt 0pt 28px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: medium none; width: 240px; font-size: 12px; color: rgb(153, 153, 153); }
#ckepop .searchTxtCont { width: 300px; background: none repeat scroll 0% 0% rgb(242, 242, 242); border-bottom: 1px solid rgb(229, 229, 229); padding: 0pt 0pt 0pt 5px; }
#ckelist { width: 300px; height: 300px; overflow-y: auto; }
#ckepop .centerBottom { width: 300px; background: none repeat scroll 0% 0% rgb(242, 242, 242); border-top: 1px solid rgb(229, 229, 229); padding-left: 5px; }
#ckepop .ckepopBottom { background: none repeat scroll 0% 0% rgb(242, 242, 242); border-top: 1px solid rgb(229, 229, 229); padding-left: 5px; }
#ckepop .jt_sharetitle { font-weight: bold; font-size: 12px; }
#ckepop img { display: inline; vertical-align: middle; }
/* ::::: http://img.duote.com/css/soft.down.idx.css?_vtim=20110626001 ::::: */

.more { float: right; font-size: 12px; font-weight: normal; }
.clear { float: none; padding: 0pt; clear: both; font-size: 0px; width: 0px; height: 0pt; line-height: 0px; }
.up { width: 200px; height: 45px; overflow: hidden; background: url('pjbtnbg.gif') no-repeat scroll 0pt -120px transparent; float: left; }
.down { width: 200px; height: 45px; overflow: hidden; background: url('pjbtnbg.gif') no-repeat scroll 0pt -210px transparent; float: right; }
@media all and (min-width: 0px) {
}
.top_n #userLogin_div { background: url('duote_06.gif') no-repeat scroll left center transparent; padding-left: 25px; font-size: 12px; margin-top: 0px; }
#float_lay { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 608px; border: 1px solid rgb(92, 182, 71); position: absolute; z-index: 9999; text-align: left; }
.f_tit { height: 33px; line-height: 30px; background: url('bg_gz.gif') repeat-x scroll 0pt 0pt transparent; }
.f_tit span { float: right; padding-top: 5px; margin-right: 10px; }
.f_tit span a { background: url('bg_gz.gif') repeat-x scroll 0pt -38px transparent; display: block; height: 19px; width: 19px; }
.f_tab td { padding: 5px 2px; line-height: 25px; }
.f_tab td p { font-size: 14px; font-weight: bold; padding-left: 5px; }
.f_tab th { padding: 5px 2px; line-height: 25px; font-weight: bold; text-align: right; vertical-align: top; }
.f_tab th img { width: 60px; padding: 2px; border: 1px solid rgb(222, 222, 222); }
.f_btn td { text-align: center; }
.f_inp3 { height: 25px; line-height: 25px; width: 90px; background: url('f_btn.gif') repeat-x scroll 0pt 0pt transparent; border: 0pt none; color: rgb(159, 99, 14); text-align: center; }
em, i { font-style: normal; }
.down_comment { width: 685px; margin-top: 10px; text-align: left; }
.down_com_tit { background: url('down_com_tit_001.gif') no-repeat scroll 0pt 0pt transparent; height: 30px; line-height: 30px; padding: 5px 10px 0pt; }
.down_com_tit span { float: right; margin-left: 10px; }
.down_com_tit span a { display: block; width: 89px; height: 25px; line-height: 25px; background: url('down_com_abtn_001.gif') no-repeat scroll 0pt 0pt transparent; text-align: center; color: rgb(255, 255, 255); }
.down_com_tit span a:hover { color: rgb(255, 255, 0); text-decoration: none; }
.down_com_tit i { padding: 0pt 3px; font-style: normal; color: rgb(255, 153, 0); }
.down_com_tit em { font-style: normal; padding: 0pt 3px; }
.down_com_tit li { width: 102px; height: 30px; line-height: 30px; text-align: center; float: left; font-size: 14px; font-weight: 700; cursor: pointer; }
.down_com_tit .hover { background: url('down_tagbj_001.jpg') no-repeat scroll 0pt 0pt transparent; color: rgb(255, 255, 255); }
.in_down_com { padding: 10px 9px; border: 1px solid rgb(186, 218, 161); }
.in_down_com h2 { background: none repeat scroll 0pt 0pt rgb(236, 236, 236); font-size: 14px; color: rgb(102, 102, 102); font-weight: 700; height: 35px; line-height: 35px; text-align: center; overflow: hidden; padding: 0pt 10px; }
.comment_box td { padding: 2px; font-family: '宋体',Arial,Helvetica,sans-serif; vertical-align: middle; font-size: 12px; }
.comment_box td label { padding: 0pt 3px; }
.comment_box textarea { font-size: 12px; }
.mylogin span { padding-right: 5px; }
.mylogin input { vertical-align: middle; }
.mylogin span .inp { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 100px; }
.mylogin span .inps { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 40px; }
.mylogin span .btn1 { height: 24px; line-height: 24px; width: 57px; border: 0px none; background: url('fenye_bj.jpg') repeat-x scroll left bottom transparent; cursor: pointer; font-family: '宋体'; font-size: 12px; }
.mylogin span .inps { height: 20px; line-height: 20px; border: 1px solid rgb(222, 222, 222); width: 40px; }
.comment_box textarea { padding: 2px; height: 106px; width: 644px; border: 1px solid rgb(222, 222, 222); line-height: 25px; color: rgb(114, 114, 114); }
.comment_box .notice { color: rgb(255, 102, 0); }
.comment_box .btn2 { height: 24px; line-height: 24px; width: 70px; color: rgb(255, 255, 255); background: url('btn_bj.gif') repeat-x scroll 0pt 0pt transparent; border: 0pt none; cursor: pointer; }
.search_area { padding: 10px 0pt; }
.search_text { height: 28px; line-height: 28px; width: 346px; padding: 0pt 2px; border: 1px solid rgb(186, 218, 161); color: rgb(114, 114, 114); margin-left: 85px; }
.search_btn { width: 85px; height: 30px; line-height: 30px; text-align: center; font-size: 12px; color: rgb(144, 78, 7); border: 0pt none; background: url('search_btn_001.gif') no-repeat scroll 0pt 0pt transparent; cursor: pointer; }
.search_area a { color: rgb(255, 102, 0); text-decoration: underline; padding-left: 10px; }
.search_area a:hover { color: rgb(51, 51, 51); }
.answer_list { padding: 5px 10px 0pt; border-bottom: 1px dashed rgb(222, 222, 222); }
.answer_list td { font-size: 12px; padding: 2px 0px; vertical-align: top; line-height: 20px; }
.answer_list td img { padding-top: 4px; }
.last { border-bottom: 0pt none; }
.pop { position: fixed; width: 680px; background: none repeat scroll 0% 0% rgb(251, 251, 251); border: 1px solid rgb(222, 222, 222); text-align: left; z-index: 10000; }
.pop_tit { height: 25px; line-height: 25px; padding: 0pt 10px; font-size: 14px; font-weight: 700; color: rgb(89, 119, 25); background: url('fenye_bj.gif') repeat-x scroll left bottom rgb(251, 251, 251); cursor: move; }
.pop_tit span { float: right; padding-top: 5px; }
.pop_tit span a { display: block; background: url('close_icon.gif') no-repeat scroll 0pt 0pt transparent; width: 15px; height: 15px; }
.in_pop { padding: 10px 9px; }
.fixed-top { position: fixed; bottom: auto; top: 0px; }
.popreplybg { background: none repeat scroll 0% 0% rgb(153, 153, 153); opacity: 0.4; left: 0pt; position: absolute; top: 0pt; }
#com_c img { vertical-align: middle; }
#facelinks { float: left; width: 355px; }
.top_n #userLogin_div { margin-top: 8px; }
