/* ::::: http://img.duote.com/kindeditor/skins/common/editor.css?ver=3.5.5%20%282011-05-22%29 ::::: */

html { margin: 0pt; padding: 0pt; }
body { margin: 0pt; padding: 5px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font: 12px/1.5 "sans serif",tahoma,verdana,helvetica; }
