.error { color: rgb(255, 0, 0); font-size: 12px; }
/* ::::: http://hi.baidu.com/ui/css/ucard/ucard.css?v=020507100.css ::::: */

/* ::::: http://hi.baidu.com/ui/scripts/CommentEditor/css/default/bdeditor.css ::::: */

.ToolbarContainer { border: 1px solid rgb(169, 204, 223); }
.EditorContainer { border-right: 1px solid rgb(221, 221, 221); border-width: 2px 1px 1px; border-style: solid; border-color: rgb(237, 237, 237) rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; display: block; }
.ToolbarStrip { background: url('bgstrip.gif') repeat-x scroll left top transparent; padding: 0px; }
.ToolbarItem {  }
.ToolbarItem .img { background: url('strip.gif') no-repeat scroll 0% 0% transparent; border: medium none; margin: 0pt 2px 2px 0pt; padding-left: 24px; height: 24px; line-height: 24px; padding-right: 5px; cursor: default ! important; }
.ToolbarItem .Smiley { background-position: 4px -1276px; padding-top: 1px; }
/* ::::: http://hi.baidu.com/ui/css/mods.css ::::: */

.error { color: red; }
/* ::::: http://hitn.bdimg.com/conanbox/css/item/3334402c05c6fb34359bf738.css ::::: */

body { background: none repeat scroll center top rgb(243, 243, 243); color: rgb(85, 91, 110); overflow-x: hidden; }
html body center div#ft {  }
.line { border: medium none; background: url('82af28f22610a524b17ec542.jpg') repeat-x scroll 0% 0% transparent; margin-top: 5px; line-height: 10px; }
a { color: rgb(0, 79, 97); font-size: 12px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; text-decoration: none; }
a:visited { color: rgb(75, 89, 111); font-size: 12px; text-decoration: none; }
a:hover { color: rgb(136, 136, 136); font-size: 12px; text-decoration: underline; }
#main { background-image: none; background-repeat: no-repeat; background-position: center top; }
#header { height: 160px; background: url('48c96f319761029f5fdf0e42.jpg') no-repeat scroll center bottom transparent; }
#header div.tit { color: rgb(255, 255, 255); line-height: 30px; font-size: 20px; font-family: "微软雅黑"; font-weight: normal; top: 45px; left: 100px; }
#header div.tit a.titlink { color: rgb(255, 255, 255); font-size: 20px; font-family: "微软雅黑"; text-decoration: none; }
#header div.tit a.titlink:visited { color: rgb(255, 255, 255); font-size: 20px; text-decoration: none; }
#header div.desc { top: 75px; left: 101px; color: rgb(255, 255, 255); font-size: 12px; }
#tabline { display: none; }
#tab { top: 123px; left: 100px; line-height: 26px; background: none repeat scroll 0% 0% transparent; height: 26px; padding-top: 3px; }
#tab a { color: rgb(71, 89, 111); font-weight: normal; background: none repeat scroll 0% 0% transparent; height: 26px; margin-left: 2px; }
#tab span { color: rgb(183, 190, 196); }
#tab a:visited { color: rgb(71, 89, 111); font-size: 12px; font-weight: normal; text-decoration: none; }
#tab a:hover { color: rgb(238, 238, 238); font-size: 12px; font-weight: normal; text-decoration: none; background: url('63fd4013267ffcb76438db42.jpg') repeat-x scroll center top transparent; }
#tab a.on { color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; background: url('63fd4013267ffcb76438db42.jpg') repeat-x scroll center top transparent; }
#tab a.on:visited { font-weight: bold; color: rgb(238, 238, 238); }
#tab a.on:hover { color: rgb(238, 238, 238); background: url('63fd4013267ffcb76438db42.jpg') repeat-x scroll center top transparent; }
.stage { text-align: center; margin: 0pt auto 0px; width: 920px; background-position: center top; background-repeat: repeat-y; }
.stagepad { margin: 0pt auto; width: 920px; background-position: center top; background-repeat: repeat-y; }
.modth { height: 26px; }
.modhead { padding: 2px 4px 0pt; }
.modtit { color: rgb(108, 115, 127); font-size: 12px; font-weight: bold; }
.modbox { padding: 10px; border-left: 1px solid rgb(216, 216, 216); border-right: 1px solid rgb(216, 216, 216); background-color: rgb(255, 255, 255); }
.modtl { background: url('61921980fd393ae09023d942.jpg') no-repeat scroll right bottom rgb(244, 244, 244); line-height: 1px; width: 25px; }
.modtc { background: url('8d8ce7a893debb86ca130c42.jpg') repeat-x scroll center bottom rgb(244, 244, 244); }
.modtr { background: url('1aff9a54d822eb63574e0042.jpg') no-repeat scroll left bottom rgb(244, 244, 244); line-height: 1px; }
.modbl { background-color: rgb(255, 255, 255); border-left: 1px solid rgb(216, 216, 216); border-bottom: 1px solid rgb(216, 216, 216); line-height: 1px; background-repeat: no-repeat; background-position: right top; }
.modbc { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(216, 216, 216); background-repeat: repeat-x; background-position: center top; }
.modbr { background-color: rgb(255, 255, 255); border-right: 1px solid rgb(216, 216, 216); border-bottom: 1px solid rgb(216, 216, 216); line-height: 1px; background-repeat: no-repeat; background-position: left top; }
#m_blog div.tit { font-size: 14px; font-weight: bold; text-align: left; border-left: 5px solid rgb(139, 151, 161); text-indent: 8px; line-height: 26px; }
#m_blog div.date { margin: 0px 0pt 8px 12px; color: rgb(136, 136, 136); font-size: 10px; font-family: Verdana; text-align: left; }
#m_blog div.cnt a {  }
#m_blog div.opt { margin-top: 5px; color: rgb(136, 136, 136); background: url('b4d4dfd70b22a1eaa044df42.jpg') no-repeat scroll left center transparent; text-indent: 12px; }
#m_blog div.opt a { color: rgb(132, 132, 132); }
body { background-color: rgb(243, 243, 243); }
body { background-image: url('f4f346ca38c991b1c8176842.jpg'); }
body { background-repeat: repeat-y; }
body { background-position: center center; }
body { background-attachment: scroll; }
#header { background-color: transparent; }
#header { background-image: url('76031d1b2317cbcdae513342.jpg'); }
#header { background-repeat: no-repeat; }
#header { height: 222px; }
#header { background-position: center bottom; }
#header {  }
#header div.tit a.titlink, #header div.tit a.titlink:visited { color: rgb(255, 255, 255); }
#header div.tit a.titlink { font-size: 20px; }
#header div.tit a.titlink {  }
#header div.tit a.titlink {  }
#header div.desc { color: rgb(255, 255, 255); }
#header div.desc { font-size: 14px; }
#header div.desc { font-family: 黑体; }
#header div.desc { font-weight: 700; }
#header div.tit { top: 42px; }
#header div.tit { left: 112px; }
#header div.desc { top: 85px; }
#header div.desc { left: 160px; }
#tab { background-color: transparent; }
#tab {  }
#tab { background-repeat: repeat; }
#tab { background-position: left top; }
#tab { height: 22px; }
#tab { left: 176px; }
#tab { top: 156px; }
#tab a, #tab a:visited { color: rgb(255, 255, 255); }
#tab a, #tab a:visited { font-size: 14px; }
#tab a {  }
#tab a.on, #tab a.on:link, #tab a.on:visited { color: rgb(255, 255, 255); }
#tab a.on, #tab a.on:link, #tab a.on:visited {  }
#tab a.on, #tab a.on:link, #tab a.on:visited { font-size: 14px; }
#tab a.on, #tab a.on:link, #tab a.on:visited { background-image: url('63fd4013267ffcb76438db42.jpg'); }
#tab a.on, #tab a.on:link, #tab a.on:visited { background-repeat: repeat-x; }
#tab a.on, #tab a.on:link, #tab a.on:visited { background-position: center top; }
#tab a:hover { color: rgb(255, 255, 255); }
#tab a:hover { font-weight: 700; }
#tab a:hover { font-size: 14px; }
#tab a:hover { background-color: transparent; }
#tab a:hover { background-image: url('63fd4013267ffcb76438db42.jpg'); }
#tab a:hover { background-repeat: repeat-x; }
#tab a:hover { background-position: center top; }
.stage { background-color: transparent; }
.stage {  }
.stage { background-repeat: repeat-y; }
.stage { background-attachment: scroll; }
#layout, .stagepad { width: 920px; }
.stage { background-position: center top; }
#main { background-color: transparent; }
#main {  }
#main { background-repeat: no-repeat; }
html body center #main { padding-bottom: 0pt; }
#main { background-position: center top; }
.modtl { background-color: rgb(244, 244, 244); }
.modtl { background-image: url('61921980fd393ae09023d942.jpg'); }
.modtl { background-repeat: no-repeat; }
.modtl { background-position: right bottom; }
.modtl {  }
.modtl { border-width: 0px 0pt 0pt 0px; }
.modtl { border-color: rgb(255, 255, 255); }
.modtl {  }
.modtl { width: 25px; }
.modtc { background-color: rgb(244, 244, 244); }
.modtc { background-image: url('8d8ce7a893debb86ca130c42.jpg'); }
.modtc { background-repeat: repeat-x; }
.modtc { background-position: center bottom; }
.modtc {  }
.modtc { border-width: 0px 0pt 0pt; }
.modtc { border-color: rgb(255, 255, 255); }
.modtc {  }
.modtit { font-size: 12px; }
.modtit { font-weight: 700; }
.modtit { font-family: Arial; }
.modtit { color: rgb(108, 115, 127); }
.modtr { background-color: rgb(244, 244, 244); }
.modtr { background-image: url('1aff9a54d822eb63574e0042.jpg'); }
.modtr { background-repeat: no-repeat; }
.modtr { background-position: left bottom; }
.modtr {  }
.modtr { border-width: 0px 0px 0pt 0pt; }
.modtr { border-color: rgb(255, 255, 255); }
.modtr {  }
.modtr { width: 7px; }
.modbox { background-color: rgb(255, 255, 255); }
.modbox {  }
.modbox { background-repeat: repeat; }
.modbox { background-position: left top; }
.modbox {  }
.modbox { border-width: 0pt 0px; }
.modbox { border-color: rgb(85, 91, 110); }
.modbox { font-size: 12px; }
.modbox { font-family: Arial; }
.modbox { color: rgb(85, 91, 110); }
.modbl { background-color: rgb(255, 255, 255); }
.modbl {  }
.modbl { background-repeat: no-repeat; }
.modbl { background-position: right top; }
.modbl {  }
.modbl { border-width: 0pt 0pt 0px 0px; }
.modbl { border-color: rgb(255, 255, 255); }
.modbl {  }
.modbl { width: 7px; }
.modbc { background-color: rgb(255, 255, 255); }
.modbc {  }
.modbc { background-repeat: repeat-x; }
.modbc { background-position: center top; }
.modbc {  }
.modbc { border-width: 0pt 0pt 0px; }
.modbc { border-color: rgb(255, 255, 255); }
.modbc {  }
.modbr { background-color: rgb(255, 255, 255); }
.modbr {  }
.modbr { background-repeat: no-repeat; }
.modbr { background-position: left top; }
.modbr {  }
.modbr { border-width: 0pt 0px 0px 0pt; }
.modbr { border-color: rgb(255, 255, 255); }
.modbr {  }
.modbr { width: 7px; }
body { color: rgb(85, 91, 110); }
body, td, div {  }
a { color: rgb(0, 79, 97); }
a:hover { color: rgb(0, 79, 97); }
a:visited { color: rgb(0, 79, 97); }
.line {  }
.line { margin-top: 5px; }
.line { border-top-color: rgb(85, 91, 110); }
.line { background-image: url('82af28f22610a524b17ec542.jpg'); }
.line { height: auto; }
/* ::::: http://hi.baidu.com/space.css ::::: */

body, form { margin: 0pt; }
body, td, div { font-family: Arial; word-wrap: break-word; visibility: visible ! important; filter: none; }
td, div { font-size: 12px; line-height: 18px; }
html body center, html body center #usrbar, html body center #ft, html body center #usrbar nobr, html body center #usrbar strong, html body center #usrbar a, html body center #usrbar a:link, html body center #usrbar a:visited, html body center #ft a, html body center #ft a:link, html body center #ft a:visited { max-width: none ! important; text-transform: none ! important; direction: inherit ! important; vertical-align: baseline ! important; word-spacing: normal ! important; font-variant: normal ! important; text-decoration: none ! important; font-size-adjust: none ! important; border: medium none ! important; background: none repeat scroll 0% 0% transparent ! important; overflow: visible ! important; width: auto ! important; clear: both ! important; float: none ! important; margin: 0pt ! important; position: static ! important; visibility: visible ! important; letter-spacing: normal ! important; font-size: 12px ! important; font-family: Arial ! important; filter: none ! important; }
html body center #usrbar, html body center #ft, html body center #usrbar nobr { display: block ! important; height: 19px ! important; line-height: 19px ! important; }
html body center { display: block ! important; }
html body center #main, html body center #usrbar, html body center #ft { position: relative ! important; top: auto ! important; bottom: auto ! important; left: auto ! important; right: auto ! important; }
html body center #ft { z-index: 65534 ! important; color: rgb(102, 102, 102) ! important; text-align: center ! important; }
html body center #main { z-index: 10000 ! important; padding: 0pt 10px; min-width: 756px; max-width: 1000px; }
#header { position: relative; }
#header div.lc { position: relative; height: 100%; font-size: 0pt; }
#header div.rc { position: relative; right: 0px; height: 100%; font-size: 0pt; }
#header div.tit { position: absolute; }
#header div.desc { position: absolute; }
#tabline { position: absolute; width: 100%; height: 1px; line-height: 1px; font-size: 0px; }
#tab { position: absolute; padding-left: 10px; height: 22px; line-height: 22px; width: 99% ! important; }
#tab a.on { float: left; padding: 0px 10px 0px 12px; font-size: 13px; font-weight: bold; }
#tab span { float: left; font-size: 13px; }
#tab a { float: left; padding: 0px 14px; font-size: 13px; }
.stage { padding-top: 10px; width: 100%; height: auto; }
.stagepad { padding: 0pt 10px 10px; }
.f14 { font-size: 14px; }
#m_blog div.cnt, #m_albumlist div.desc, #m_blog div.tit, #m_artclg div.item, #m_comment div.item, #m_links div.item, #m_cang div.item, #m_album div.image, #m_links div.item, #in_comment div.desc, #m_friblog div.item { overflow: hidden; }
#m_blog div.cnt { overflow: hidden; position: relative ! important; }
#m_blog div.cnt * { line-height: normal; }
#m_blog table { table-layout: auto ! important; }
#in_comment div.tit, #in_send div.tit, #in_reader div.tit { text-align: left; }
#ft { clear: both; height: 20px; line-height: 20px; color: rgb(102, 102, 102); font-size: 12px; font-family: Arial; text-align: center; }
.userbar { height: 30px; background: url('nav_bg.gif') repeat-x scroll 0% 0% transparent; }
.userbar * { margin: 0pt; padding: 0pt; list-style: none outside none; }
#nav { height: 30px; line-height: 30px; padding-left: 20px; width: 970px; margin: 0pt auto; }
#nav .logo { float: left; margin-top: 4px; }
#nav .manage { float: right; color: rgb(102, 102, 102); line-height: 30px; }
#nav .manage a, #nav .manage a:link, #nav .manage a:visited { text-decoration: underline; color: rgb(51, 51, 51) ! important; padding: 0pt 5px; font-size: 12px ! important; }
#nav .manage form { display: inline; }
#nav .manage form * { font-family: 宋体 ! important; }
#nav .manage input { width: 90px; height: 22px; line-height: 22px; border: 1px solid rgb(201, 201, 201); vertical-align: middle; padding: 1px 0pt; }
#nav .manage .loginlink, #nav .manage .loginlink:link, #nav .manage .loginlink:visited { width: 49px; height: 22px; line-height: 22px; background: url('login_btn.gif') no-repeat scroll 0% 0% transparent; display: inline-block; padding: 0pt; text-align: center; text-decoration: none; }
#nav .manage .loginlink:hover { background-position: -51px 0pt; padding: 0pt; text-decoration: none; }
#nav .manage .reglink { color: rgb(255, 0, 0) ! important; }
/* ::::: http://hi.bdimg.com/static/base/css/base.css?v=20110922181216 ::::: */

#in_related_doc a { text-decoration: none; }
/* ::::: http://hi.baidu.com/ui/css/userset.css ::::: */

/* ::::: http://hi.baidu.com/ui/css/beautify/widget.css ::::: */

