body { position: relative; }
body, form { margin: 0pt ! important; padding: 0pt ! important; }
#bd_snap { font: 14px arial; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; padding: 7px 0pt 0pt 20px; }
#bd_snap_txt { clear: both; padding: 10px 0pt; }
#bd_snap_note { font-size: 12px; color: rgb(102, 102, 102); padding-bottom: 10px; }
#bd_snap a { font: 14px arial; color: rgb(0, 0, 204); text-decoration: underline; }
#bd_snap_head { width: 860px; height: 44px; }
#bd_snap_logo { width: 162px; height: 38px; display: block; background: url('logo-snap.gif') no-repeat scroll 0% 0% transparent; margin-right: 15px; float: left; }
#bd_snap_search { width: 680px; position: absolute; left: 197px; top: 17px; }
#bd_snap_kw { width: 519px; height: 22px; padding: 4px 7px; margin-right: 5px; font: 16px arial; background: url('i-1.0.0.png') no-repeat scroll -304px 0pt transparent; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154); vertical-align: top; }
#bd_snap_su { width: 95px; height: 32px; font-size: 14px; color: rgb(0, 0, 0); padding: 0pt; border: 0pt none; }
input.bd_snap_btn { background: url('i-1.0.0.png') repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#bd_snap_btn_wr { width: 97px; height: 34px; display: inline-block; background: url('i-1.0.0.png') no-repeat scroll -202px 0pt transparent; }
#bd_snap_ln { height: 1px; border-top: 1px solid rgb(172, 168, 153); background: none repeat scroll 0% 0% rgb(236, 233, 216); overflow: hidden; }
#bd_snap_txt span a { text-decoration: none; }
/* ::::: http://general.blog.51cto.com/css/skin/30.css ::::: */

.header, .mainNav, .blogMain, .footer { width: 1000px; margin: 0pt auto; }
.header { position: relative; height: 240px; background: url('headerbg.jpg') no-repeat scroll 0% 0% transparent; clear: both; }
.header_l { float: left; width: 54%; padding: 20px 0pt 0pt 20px; }
.header_r { float: right; width: 43%; }
.blogName { color: rgb(43, 83, 98); padding: 35px 0pt 0pt; float: left; }
.blogName h1 { font-weight: bold; font-size: 26px; }
.blogLink { font-size: 14px; clear: both; margin: 5px 0pt 0pt 10px; }
.blogInfo { color: rgb(43, 83, 97); text-align: right; margin: 25px 25px 0pt 0pt; }
.blogInfo a { padding: 0pt 0pt 0pt 20px; }
.blogInfo span { padding-left: 20px; }
.blogNav { font-size: 14px; text-align: right; margin: 166px 10px 0pt 0pt; }
.blogNav a { padding: 0pt 7px; }
.blogNav a:link, .blogNav a:hover { color: rgb(43, 83, 97); }
.mainNav { background: none repeat scroll 0% 0% rgb(110, 148, 163); margin-bottom: 10px; padding: 10px 0pt; }
.mainNav ul { padding-left: 20px; color: rgb(255, 255, 255) ! important; line-height: 18px ! important; }
.mainNav li { display: inline; }
.mainNav li a { padding: 0pt 10px; }
.mainNav, .mainNav li a:link, .mainNav li a:visited { color: rgb(255, 255, 255); }
.box { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.blogLeft { float: left; width: 240px; overflow: hidden; }
.moduleUser { margin-bottom: 10px; padding-bottom: 10px; position: relative; }
.moduleUser { margin-bottom: 10px; padding-bottom: 10px; position: relative; }
.userImage { text-align: center; margin: 10px 0pt 5px; }
.crumbs { background: url('crumbs.png') no-repeat scroll 0% 0% transparent; width: 177px; height: 80px; margin: 12px auto 0pt; clear: both; }
.crumbs a { display: block; float: left; }
.crumbs a:link, .crumbs a:visited { color: rgb(85, 85, 85); }
.writeMessage { padding: 6px 0pt 0pt 25px; width: 40px; }
.inCircle { padding: 6px 0pt 0pt 45px; width: 60px; }
.message { padding: 15px 0pt 0pt 25px; width: 40px; }
.joinLinks { padding: 15px 0pt 0pt 45px; width: 60px; }
.joinLinks { padding: 15px 0pt 0pt 45px; width: 60px; }
.joinFriends { padding: 16px 0pt 0pt 75px; width: 100px; color: rgb(233, 53, 4) ! important; }
.infoList { margin-bottom: 10px; }
.infoList p { line-height: 24px; padding: 5px 5px 5px 15px; }
.infoListHead { display: block; }
.myHome { margin-bottom: 10px; }
.myHome ul { padding: 5px 0pt 10px; }
.myHome li { line-height: 24px; padding-left: 14px; background: url('list.jpg') no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0pt 10px; }
.search { margin-bottom: 10px; }
.search .modCon { text-align: center; padding: 10px; }
.searchInput { width: 200px; height: 20px; border: 1px solid rgb(217, 217, 217); margin-bottom: 10px; }
.hotBlogArt { margin-bottom: 10px; }
.hotBlogArt ul { padding: 5px 0pt 10px; }
.hotBlogArt li { line-height: 24px; padding-left: 14px; background: url('list.jpg') no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0pt 10px; }
.friendLink { margin-bottom: 10px; }
.friendLink .modCon { line-height: 22px; }
.friendLink ul { padding: 5px 0pt 10px; }
.friendLink li { line-height: 24px; padding-left: 14px; background: url('list.jpg') no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0pt 10px; }
.hotArt { margin-bottom: 10px; }
.hotArt ul { padding: 5px 0pt 10px; }
.hotArt li { line-height: 28px; background: url('list.jpg') no-repeat scroll 5px 13px transparent; padding-left: 15px; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0pt 12px; }
.newComments { margin-bottom: 10px; }
.newComments ul { padding: 0pt 0pt 10px; }
.newComments li { line-height: 22px; padding: 5px 0pt 5px 2px; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0pt 12px; }
.recentGuests { margin-bottom: 10px; }
.recentGuests ul { width: 92%; margin: 15px auto 0pt; }
.recentGuests li { float: left; text-align: center; width: 73px; height: 96px; }
.recentGuests li img { width: 60px; height: 60px; border: 1px solid rgb(204, 204, 204); padding: 2px; }
.recentGuests li p { margin-top: 8px; }
.blogRight { float: right; width: 750px; overflow: hidden; }
.share { padding: 0pt 10px; position: relative; }
.showBox { border-top: 2px solid rgb(239, 239, 239); margin: 5px 0pt 0pt; clear: both; position: relative; }
.art_tj { position: absolute; right: 0pt; top: 0pt; }
.showHead { height: 60px; margin: 5px 12px 0pt; border-bottom: 1px dashed rgb(204, 204, 204); }
.showTitleBOx { padding: 20px 0pt 0pt; overflow: hidden; }
.artTime { float: right; padding: 0pt 25px 0pt 0pt; }
.showTitle { font: bold 20px/20px "宋体"; }
.showTags { margin-left: 12px; line-height: 40px; }
.showTags a { padding-right: 10px; }
.showContent { line-height: 2; font-size: 14px; margin: 20px 15px; border-bottom: 1px dashed rgb(217, 217, 217); word-wrap: break-word; }
.support01, .support02, .support03 { background: url('support.png') no-repeat scroll 0% 0% transparent; width: 64px; height: 28px; font-weight: bold; padding-left: 10px; cursor: pointer; float: left; margin: 0pt 5px; }
.support01 { color: rgb(1, 101, 179); }
.showType { text-align: right; margin: 0pt 12px; line-height: 40px; clear: both; }
.prevNext { line-height: 50px; text-align: center; border-top: 1px dashed rgb(217, 217, 217); }
.relatedArt { margin-bottom: 10px; }
.relatedArt ul { margin: 5px 0pt 0pt 12px; }
.relatedArt ul li { width: 350px; float: left; line-height: 24px; background: url('list.jpg') no-repeat scroll 3px 11px transparent; padding-left: 12px; }
.artComm { margin-bottom: 10px; }
.itcomment { margin: 0pt 15px; padding: 20px 0pt; border-bottom: 1px dashed rgb(217, 217, 217); }
.commentcontent { line-height: 18px; }
.writeComm { margin-bottom: 10px; min-height: 260px; }
.writeComm .title { margin-bottom: 15px; }
.commForm { height: 216px; }
.writeComm dl { clear: both; height: 36px; }
.writeComm dl dd span { display: block; padding-top: 9px; float: left; }
.writeComm dl dt { width: 50px; padding-left: 20px; padding-top: 7px; }
.writeComm dl dt, .writeComm dl dd { float: left; }
.writeCommCon { width: 650px; float: left; height: 90px; padding: 2px; line-height: 20px; border: 1px solid rgb(214, 214, 214); }
.commInput, .code { height: 26px; line-height: 26px; float: left; margin-right: 10px; border: 1px solid rgb(214, 214, 214); }
.commInput { width: 380px; }
.code { width: 90px; }
.writeCommBot { width: 240px; clear: both; float: right; }
.commBtn { background: url('commbtn.png') no-repeat scroll 0% 0% transparent; width: 102px; height: 37px; border: medium none; cursor: pointer; }
.writeCommBot p { padding: 10px 0pt 0pt 5px; }
.writeCommBot p span { padding: 0pt 0pt 0pt 4px; display: block; width: 100px; }
body { font-family: 宋体,Arial Narrow,arial,serif; background: url('bg.jpg') repeat scroll 0% 0% transparent; font-size: 12px; color: rgb(85, 85, 85); }
* { padding: 0pt; margin: 0pt; }
em { font-style: normal; }
table, td, tr, th { font-size: 12px; }
table { margin: 0pt auto; }
img { vertical-align: top; border: 0pt none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
.f12 { font-size: 12px; }
a:link { color: rgb(1, 95, 145); text-decoration: none; }
a:visited { color: rgb(1, 95, 145); text-decoration: none; }
a:hover { color: rgb(1, 95, 145); text-decoration: underline; }
a:active { color: rgb(1, 95, 145); }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; display: block; }
.blank { height: 10px; clear: both; overflow: hidden; display: block; }
.blank6 { height: 6px; clear: both; overflow: hidden; display: block; }
.pl5 { padding-left: 5px; }
.title { background: url('titlebg.jpg') repeat-x scroll 0% 0% transparent; height: 22px; padding: 10px 10px 0pt 15px; }
.title h2 { font-size: 12px; font-weight: bold; color: rgb(43, 83, 98); }
.modCon { clear: both; }
.modBot { display: block; height: 1px; overflow: hidden; clear: both; }
img { border: 0pt none; }
/* ::::: http://blog.51cto.com/group/css/header_master_top.css ::::: */

body { margin: 0pt; }
img { border: medium none; }
#home_top { margin: auto; height: 35px; background-image: url('head_top_bg.gif'); font-size: 12px; }
#home_top .top_nav { margin: auto; width: 960px; height: 35px; font-size: 12px; }
#home_top .top_nav .left { width: 350px; float: left; text-align: left; color: rgb(105, 105, 105); margin-top: 5px; }
#home_top .top_nav .left a { padding: 2px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .left a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(74, 74, 74); color: rgb(255, 255, 255); }
#home_top .top_nav .right { float: right; color: rgb(105, 105, 105); text-align: right; width: 470px; }
#home_top .top_nav .right .login { color: rgb(105, 105, 105); text-align: right; margin-right: 6px; float: right; }
#home_top .top_nav .right .more { float: right; padding: 8px 0pt 3px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .right .more a { padding: 2px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .right .more a:hover { padding: 2px; text-decoration: none; background: none repeat scroll 0% 0% rgb(74, 74, 74); color: rgb(255, 255, 255); }
.subMenu3 { width: 60px; border: 1px solid rgb(206, 206, 206); text-align: center; position: absolute; display: none; background-color: rgb(255, 255, 255); z-index: 1000; }
.subMenu3 a { padding-left: 10px; line-height: 24px; text-align: left; display: block; height: 24px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu3 a:hover { text-decoration: none; background: none no-repeat scroll 0% 0% rgb(235, 235, 235); color: rgb(204, 0, 0); }
.subMenu3 ul { margin: 0pt; padding: 0pt; }
.subMenu3 li { padding: 1px 0px 0px; list-style: none outside none; font-size: 12px; background-color: rgb(255, 255, 255); }
/* ::::: http://blog.51cto.com/css/skin/base.css ::::: */

.hotArt li, .newComments li, .hotBlogArt li, .hotBlog li, .myHome li, .myLink li, .relatedArt li, .share li, .recentGuests li, .friendLink li, .artList li, .artType li { list-style-type: none; }
.relatedArt ul li { width: 350px ! important; }
.modCon { clear: both; }
.blank1 { height: 1px; overflow: hidden; clear: both; }
.mainNav li a { display: inline-block; }
/* ::::: http://general.blog.51cto.com/neweditor/editor/css/fck_editorarea.css ::::: */

.m_sharelinks { line-height: 36px; text-align: left; padding-left: 20px; background: url('ico_lb.gif') no-repeat scroll left center transparent; float: left; width: 600px; height: 36px; }
.m_sharelinks a { margin-left: 10px; }
.m_sharebtn { height: 50px; width: 726px; margin: 0pt auto; }
.weibo_51cto { background: url('ico_mweibo.gif') no-repeat scroll center center transparent; display: block; width: 33px; height: 33px; float: left; margin: 3px 3px 0pt 0pt; cursor: pointer; }
.shareMored { line-height: 36px; float: right; text-align: right; width: 100px; height: 36px; }
.showContent { margin: 20px 15px 8px; }
.photo_links { line-height: 30px; padding-top: 5px; font-size: 13px; width: 170px; margin: 0pt auto; }
.photo_links_red { text-align: left; }
.photo_links_red a:link, .photo_links_red a:visited, .photo_links_red a:hover, .photo_links_red a:active { color: rgb(252, 67, 67); text-decoration: underline; }
.photo_links_red02 { text-align: center; }
a.mred:link { color: rgb(255, 0, 0); text-decoration: underline; }
a.mred:visited { color: rgb(255, 0, 0); }
a.mred:hover { color: rgb(255, 0, 0); }
a.mred:active { color: rgb(255, 0, 0); }
/* ::::: http://blog.51cto.com/css/blog_top/blog_top.css ::::: */

body { font-size: 12px; }
* { margin: 0pt; padding: 0pt; }
img { border: medium none; }
li { list-style: none outside none; }
img { border: medium none; }
li { list-style: none outside none; }
